div
    | Bien que la grande majorité des systèmes soit à jour, il suffit parfois d’un seul système obsolète pour compromettre
    | le système d’information. S’il réside donc des systèmes obsolètes, ne pouvant être mis à jour, il convient ainsi de
    | mettre en œuvre des mesures de sécurité spécifiques.
