div
    | Plusieurs mesures pour sécuriser son système d’information envers les postes obsolètes sont possibles :
    ul
        li
            | Isolement et cloisonnement des postes obsolètes au reste du système d’information (exemple : non inclus dans
            | l’annuaire centralisée, réseau à part du réseau bureautique commun, non accessible via internet, restriction
            | et filtrage web par liste blanche selon les nécessites métiers),
        li
            | Mise en place d’un EDR avec des règles de sécurité durcies.
    p
        | Il est préconisé de s’appuyer sur les compétences d’un prestataire externe, idéalement labellisé Expert Cyber,
        | pour la mise en œuvre de cette recommandation.
