div
    p
        | Il convient d’abord d’identifier et d’évaluer avec les métiers les besoins d'échange entre le réseau industriel
        | (machines-outils, sondes, caméras et autres objets connectés) et le réseau bureautique interne.
    p
        | Sur la base de cette analyse et selon les usages et les besoins, dans la mesure du possible, il peut être
        | envisager de créer 2 réseaux distincts : 1 réseau « administratif » et 1 réseau « industriel ».
