div
    | Il convient de mettre en œuvre des mesures complémentaires (liste à corriger en fonction des mesures déjà en place), pouvant inclure :
    ul
        li Aucun portail internet de type webmail exposé sur internet
        li Accès distant à la messagerie géré via VPN seulement
    p
        | Il est préconisé de s’appuyer sur les compétences d’un prestataire externe, idéalement labellisé Expert Cyber,
        | pour la mise en œuvre de cette recommandation.
