div
    p
        | Les systèmes de messagerie sont un des principaux vecteurs d’attaques puisque très largement utilisés et exposés
        | sur internet. Qu’il s’agisse de la compromission d’un poste au travers de l’ouverture de pièces jointes contenant
        | un code malveillant, d’un clic malencontreux sur un lien redirigeant vers un site lui-même malveillant
        | (phishing ou hameçonnage) ou de l’exploitation d’une vulnérabilité et d’un défaut de paramétrage du service de messagerie.
    p
        | Des solutions de protection contre l’hameçonnage ou phishing permette de réduire le risque qu’un utilisateur se
        | fasse piéger par un message malveillant. Cependant, les utilisateurs doivent rester vigilants car certains
        | messages pourraient ne pas être détectés par cet outils (et apparaître comme « légitime » bien qu’ils soient malveillants).
