div
    | Selon les nécessités, des mesures complémentaires, peuvent être mises en œuvre telles que (liste à corriger en
    | fonction des mesures déjà en place) :
    ul
        li Vidéoprotection
        li Traçage des entrées et sorties via un un outil informatique dédié en s’appuyant sur un système de badge d’accès.
    p Si jugée nécessaire, solliciter la visite d'un référent sûreté.
