div
    p
        | Afin d’augmenter le niveau de cloisonnement entre le réseau interne et l’Internet, le filtrage des flux et des
        | communications réseaux peut être mis en œuvre avec un pare-feu afin de limiter le risque de compromission directe
        | du réseau interne à partir d’Internet. Les serveurs rendus accessibles depuis l’Internet à des ordinateurs « non maîtrisés »
        | (ordinateurs quelconques sur l’Internet) sont plus exposés à un risque d’attaque informatique que les ordinateurs
        | accessibles uniquement des autres ordinateurs de l’entité.
    p
        | Pour que ce filtrage soit efficace, il ne doit pas être configurer pour laisser passer tous les flux et toutes
        | les communications. Au contraire, il est recommandé que seules les communications nécessaires soient autorisées.
