div
    ul

        li Evaluer les besoins d'échange entre le réseau industriel vers le réseau bureautique interne et vers internet
        li Dans la mesure du possible et si non nécessaire, séparer le réseau industriel du réseau bureautique interne et d'internet
        li
            | Si interconnexion avec SI bureautique internet nécessaire : mettre en place un filtrage réseau strict en
            | adéquation avec les besoins métiers avec blocage des flux et ports non nécessaires
        li
            | Si interconnexion web nécessaire : mettre en place en filtrage réseau strict (ex : restriction par IP,
            | plages horaires, ouverture ponctuelle à la demande) et des accès distants sécurisés via VPN et/ou avec
            | double authentification
    p
        | Il est préconisé de s’appuyer sur les compétences d’un prestataire externe, idéalement labellisé Expert Cyber,
        | pour la mise en œuvre de cette recommandation.
