div
    | Afin d’augmenter le niveau de cloisonnement entre le réseau interne et l’Internet, il est recommandé de mettre en
    | place des services de sécurité supplémentaires protégeant les différentes fonctions métiers (navigation sur Internet,
    | messagerie, etc.). Pour limiter le risque de latéralisation (étape d’une attaque pendant laquelle un attaquant qui
    | aurait pris le contrôle d’un ordinateur du réseau étend sa prise de contrôle à un sous-ensemble plus grand d’ordinateur
    | du réseau, en allant jusqu’à la totalité des ordinateurs du réseau) d’une attaque, il est recommander de segmenter/cloisonner
    | le réseau en différentes zone aussi étanches que possible en fonction de la sensibilité des données traitées ou de
    | la criticité des métiers supporté par ces réseaux.
