div
    | Déployer un pare-feu physique pour protéger l’interconnexion du SI industriel à Internet sur la base des mesures
    | de cloisonnement suivantes :
    ul
        li Aucune interconnexion ou segmentation réseau entre l'environnement industriel de l'environnement bureautique
        li Aucune interconnexion de l'environnement industriel via Internet
        li Accès distants via Internet aux installations matériels connectés sécurisés
        li Fermeture des flux et ports non nécessaires
        li Autre mesure jugée acceptable par l'aidant
    p
        | Il est préconisé de s’appuyer sur les compétences d’un prestataire externe, idéalement labellisé Expert Cyber,
        | pour la mise en œuvre de cette recommandation.
