div
    p
        | A minima la ou les salles stockant les infrastructures et équipements informatiques doi(ven)t disposer d'une porte
        | pouvant être fermée à clef, avec si possible une protection contre le duplicata, et idéalement un système de
        | déverrouillage par badge.
    p
        | Par ailleurs, il est également conseillé d’accompagner les prestataires durant leurs interventions au sein de la salle.
