div
    p
        | Il faut dans un premier temps s’assurer de la création d’un compte utilisateur (sans privilèges d’administration)
        | pour chacun des administrateurs. Ces comptes utilisateurs, via une authentification spécifique, devront être alors
        | utilisés pour l’accès à l’internet, aux boites mails et aux fonctionnalités d’ordre administratif et bureautique.
    p
        | Les comptes administrateurs, via une authentification spécifique, seront alors utilisés pour les opérations de
        | maintenance informatique, administration des services, gestion des sauvegardes, gestion des utilisateurs et des accès,
        | de paramétrage des systèmes et des applications, etc.
    p
        | Il est également recommandé d’utiliser 2 autres comptes administrateurs distincts (et une authentification spécifique) :
        | 1 compte pour gérer l’administration de l’outil de gestion centralisée de politiques de sécurité (exemple : Active Directory, Samba-AD)
        | et 1 compte pour gérer la solution de sauvegarde (NB : ce compte ne doit pas être non géré via l’outil de gestion
        | centralisée de politiques de sécurité).
