div
    | La définition de tels processus permet d’inclure l’administrateur gérant des accès lors de l’arrivée d’un nouveau
    | collaborateur mais surtout lors de son départ. Ainsi la base des accès est mise à jour et reste maitrisée de manière permanente.
