div
    p Pour les entités publiques, l’ANSSI met à disposition gratuitement son outil ADS/ORADAD de recherches de vulnérabilités. Pour les entités privées, des outils gratuits tels que Purple Knight et Pingcastle. Les codes sources d’ADS/ORADAD sont également indisponibles :
    |
    a(href="https://github.com/ANSSI-FR/ORADAD") https://github.com/ANSSI-FR/ORADAD
    |
    |.
    p Cette analyse doit être à minima menée une fois par trimestre. Il est également conseillé de se faire accompagner par un prestataire extérieur pour mener ces analyses et les corrections associées.
