div
    | Un suivi régulier des vulnérabilités de sécurité permet de prendre connaissance des dernières failles critiques
    | exploitables par les cyberattaquants afin de les corriger par anticipation. En effet, des outils malveillants
    | exploitant ces vulnérabilités peuvent se diffuser rapidement sur Internet dès que les vulnérabilités sont publiées.
