div
    | Les sociétés d’assurance proposent de plus en plus des clauses permettant de se prémunir de certains risques d’origine
    | numérique afin d'accompagner les entreprises victimes de cybermalveillance ou de cyberattaques. L'assurance fournit,
    | en cas de sinistre, une assistance juridique ainsi qu’une couverture financière du préjudice (matériel, immatériel, etc.).
    | Selon les contrats, différents types de protection peuvent être proposés : usurpation d’identité, garanties contre
    | une perte d’exploitation, accompagnement juridique pour une déclaration d’atteinte aux données personnelles, prise en charge
    | d’un accompagnement technique pour la restauration du système d’information après une cyberattaque.
