div
    h5 Actions de sensibilisation
    div
        | Exemple d'actions de sensibilisation :
        ul
            li Campagne d'affichage, mails d'information, conférence de sensibilisation auprès des utilisateurs
            li
                | Sensibilisation ciblée du service achat et comptabilité aux risques d'escroquerie au faux ordre de
                | virement et fraude au président
            li Sensibilisation des nouveaux arrivants
            li Intervention auprès du CODIR
            li Campagne de faux phishing
            li
                | Formation en ligne, ex :
                |
                a(href="https://secnumacademie.gouv.fr/") https://secnumacademie.gouv.fr
                | ,
                |
                a(href="https://pix.fr/actualites/partenariat-pix-anssi-cybermalveillance") https://pix.fr/actualites/partenariat-pix-anssi-cybermalveillance
    div
        | Ressources de sensibilisation gratuites :
        |
        a(href="https://www.cybermalveillance.gouv.fr/tous-nos-contenus/actualites/liste-des-ressources-mises-a-disposition") https://www.cybermalveillance.gouv.fr/tous-nos-contenus/actualites/liste-des-ressources-mises-a-disposition
    div 
        | Des actions de sensibilisation gratuites peuvent être menées en sollicitant la gendarmerie ou la réserve cybermenaces de la Police : https://www.masecurite.interieur.gouv.fr/fr