div
    h5 Actions de sensibilisation
    div
        | Exemple d'actions de sensibilisation :
        ul
            li Campagne d'affichage, mails d'information, conférence de sensibilisation
            li
                | Sensibilisation ciblée du CODIR, sensibilisation aux risques d'escroquerie au faux ordre de
                | virement et fraude au président
            li Sensibilisation en ligne des utilisateurs, ex :
                |
                a(href="https://www.cybermalveillance.gouv.fr/sens-cyber/apprendre") https://www.cybermalveillance.gouv.fr/sens-cyber/apprendre
            li Campagne de faux phishing
            li
                | Formation en ligne, ex :
                |
                a(href="https://secnumacademie.gouv.fr/") https://secnumacademie.gouv.fr
                | ,
                |
                a(href="https://pix.fr/actualites/partenariat-pix-anssi-cybermalveillance") https://pix.fr/actualites/partenariat-pix-anssi-cybermalveillance
    div
        | Ressources de sensibilisation gratuites :
        |
        a(href="https://www.cybermalveillance.gouv.fr/tous-nos-contenus/actualites/liste-des-ressources-mises-a-disposition") https://www.cybermalveillance.gouv.fr/tous-nos-contenus/actualites/liste-des-ressources-mises-a-disposition
    div
        | Des actions de sensibilisation gratuites peuvent être menées en sollicitant la police ou la gendarmerie nationales :
        |
        a(href="https://www.masecurite.interieur.gouv.fr/fr") https://www.masecurite.interieur.gouv.fr/fr
