div
    h5 Passeport de conseils cyber aux voyageurs
    div
        | L’ANSSI a publié un guide pour sensibiliser les collaborateurs aux bonnes pratiques de cybersécurité durant
        | les déplacements :
        |
        a(href="https://cyber.gouv.fr/publications/bonnes-pratiques-lusage-des-professionnels-en-deplacement") https://cyber.gouv.fr/publications/bonnes-pratiques-lusage-des-professionnels-en-deplacement
