div
    | Une organisation est davantage jugée résiliente si, en cas de crise cyber, elle est capable de maintenir ses
    | activités les plus critiques (éventuellement en mode dégradé, voire sans services et outils numériques disponibles).
    p
        | Pour cela, il est important qu’elle ait anticipé et mis en place des mesures adaptés aux scénarios de crise
        | cyber, qui seront activés pour maintenir ou rétablir ses activités critiques.
