div
    | En cas de compromission du système d’information, les dispositifs de sauvegarde permettent une restauration plus
    | rapide des activités opérationnelles, notamment en cas d’attaque par rançongiciel. Un jeu de sauvegarde totalement
    | déconnecté restera alors préservé malgré une attaque de ce type. Le système de sauvegarde principal étant la majorité
    | des cas connecté au réseau, un cyberattaquant sera susceptible de parvenir à y accéder et à le compromettre également.
