div
    | Il est recommandé de prendre attache auprès de votre assureur historique et/ou votre banque pour connaître leurs
    | offres en assurance cyber. Ces clauses assurantielles peuvent se traduire dans les contrats d’assurance classique
    | ou prendre la forme d’une police d’assurance « cyber » spécifique, bien que ce dernier marché reste encore à être
    | développé, en particulier en matière de jurisprudence concernant l’activation ou non des clauses d’exclusion.
    | Quelle que soit la forme, il est important de vérifier que les risques les plus redoutés pour la pérennité de
    | l’entreprise soient couverts. L’assurance peut couvrir notamment les cas suivants :
    ul
        li Aide financière pour financer les opérations de remédiation en cas de cyberattaque
        li Aide financière pour palier à l'impact financier lié à la cyberattaque
        li Accompagnement dans la gestion de crise
