div
    p
        | Pour la formalisation des mentions d’information, il est conseillé de s’appuyer sur les exemples partagés par
        | la CNIL suivants :
        a(href="https://www.cnil.fr/fr/rgpd-exemples-de-mentions-dinformation") https://www.cnil.fr/fr/rgpd-exemples-de-mentions-dinformation
    p
        | Pour ce qui est de la mise en place des moyens permettant aux personnes concernées d’exercer et faire valoir
        | leurs droits (droits d’accès, rectification, opposition, suppression, etc.), il est préconisé de s’appuyer sur
        | la page d’information dédiée de la CNIL :
        a(href="https://www.cnil.fr/fr/respecter-les-droits-des-personnes") https://www.cnil.fr/fr/respecter-les-droits-des-personnes
    p
        | Selon les problématiques de ressources humaines au sein de l’entité, il est peut-être envisagé de se faire
        | accompagner par un prestataire pour lancer et mettre en œuvre cette mesure.
