# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/awebdeveloper/pre-commit-stylelint
    rev: 0.0.2
    hooks:
      - id: stylelint
        additional_dependencies:
          ['stylelint@15.10.3', 'stylelint-config-standard@34.0.0']
        exclude: 'mon-aide-cyber-ui'

  - repo: local
    hooks:
      - id: eslint-front
        name: eslint-front
        entry: ./mon-aide-cyber-ui/node_modules/.bin/eslint
        language: system
        files: \.[jt]sx?$ # *.js, *.jsx, *.ts and *.tsx
        types: [file]
        args:
          - --config
          - ./mon-aide-cyber-ui/eslint.config.cjs

      - id: eslint-back
        name: eslint-back
        entry: ./mon-aide-cyber-ui/node_modules/.bin/eslint
        language: system
        files: \.[jt]s?$ # *.js, *.ts
        types: [ file ]
        args:
          - --config
          - ./mon-aide-cyber-api/eslint.config.mjs
