div
    | Cette mesure peut permettre d’obtenir une réparation (au moins financier) en cas de cyberattaque touchant le
    | bénéficiaire mais pouvant être attribuée à un non-respect par le prestataire des règles de sécurité fixées par
    | contrat (partage du risque). La mise en œuvre permet également de responsabiliser davantage le prestataire sur
    | l’application des mesures de sécurité fixées dans le contrat.
