div
    | Le site de la CNIL regroupe en grand nombre de ressources et des modules de formation en ligne pour comprendre la
    | réglementation et mettre en en œuvre les premières de conformité. En synthèse, il est conseillé à l’entité de mener
    | ces 1ères mesures afin d’initier sa démarche de conformité RGPD :
    ul
        li
            | Établir d'un registre de vos traitements en s’appuyant sur le modèle de la CNIL suivant :
            |
            a(href="https://www.cnil.fr/fr/RGDP-le-registre-des-activites-de-traitement") https://www.cnil.fr/fr/RGDP-le-registre-des-activites-de-traitement
        li Pour chaque traitement, déterminer leur nature et leur finalité, confirmer les besoins des données personnelles
            | collectées puis supprimer les données non nécessaires
        li
            | Informer les personnes concernées des données personnelles stockées, traitées et leurs finalités en s’appuyant
            | sur les exemples de mentions d’informations de la CNIL suivants :
            |
            a(href="https://www.cnil.fr/fr/rgpd-exemples-de-mentions-dinformation") https://www.cnil.fr/fr/rgpd-exemples-de-mentions-dinformation
        li
            | Mettre en place des moyens permettant aux personnes concernées d’exercer et faire valoir leurs droits
            | (droits d’accès, rectification, opposition, suppression, etc.) en s’appuyant sur la page d’information dédiée de la CNIL :
            |
            a(href="https://www.cnil.fr/fr/respecter-les-droits-des-personnes") https://www.cnil.fr/fr/respecter-les-droits-des-personnes
    div
        | Selon les problématiques de ressources humaines au sein de l’entité, il est peut-être envisagé de se faire
        | accompagner par un prestataire pour lancer et mettre en œuvre
