div
    | Par méconnaissance ou par facilité d’exploitation, un prestataire pourrait ne pas mettre en œuvre et appliquer des
    | bonnes pratiques de sécurité numérique générale, ou celles, plus spécifiques que le bénéficiaire aurait choisi de
    | mettre en œuvre. L’ajout d’exigence de sécurité numérique dans les contrats, vis-à-vis d’un prestataire,
    | responsabilise le prestataire et ses personnels vis-à-vis de ses propres comportements (réduisant ainsi directement les risques).
