div
    | A l’instar d’un plan bâtimentaire, le schéma globale du réseau informatique (incluant le SI industriel si concerné)
    | doit pouvoir tenir sur une page et représenter les différentes zones d’administration (environnement bureautique
    | centralisant les postes de travail,  serveurs, etc.) le plan d’adressage IP associé, les équipements réseaux et
    | listant toutes les interconnexions vers l’extérieur (Internet, accès distants, réseaux partenaires ou prestataires etc.).
    | Il est recommandé d’imprimer des versions papiers de ces éléments.
