div
    | En complément d’un schéma global et de la liste des interconnexions vers l’extérieur, la liste des équipements et
    | des applicatifs permet d’avoir une meilleure lisibilité sur le système d’information au sein de l’organisation et
    | de la partager. Ces éléments permettent d’identifier plus facilement les équipements et applicatifs les plus
    | critiques et les plus exposés afin d’en d’anticiper les chemins d’attaque possibles et de mettre en place des mesures de sécurisation adéquates.
