div
    p
        | Le site de la CNIL a publié un modèle prêt à l’emploi via le lien suivant :
        |
        a(href="https://www.cnil.fr/fr/RGDP-le-registre-des-activites-de-traitement") https://www.cnil.fr/fr/RGDP-le-registre-des-activites-de-traitement
        |
    p
        | Les bonnes questions à se poser : quel est le but de ce traitement ? A quoi va-t-il servir ? Est-ce légitime,
        | notamment au regard de mes missions et des droits et libertés des personnes ? Comment présenter cette finalité
        | pour la rendre compréhensible par tous ? Les éléments de réponses devront être compatible avec les missions de
        | votre entité, ils doivent être clairs et compréhensibles.
    p
        | Selon les problématiques de ressources humaines au sein de l’entité, il est peut-être envisagé de se faire
        | accompagner par un prestataire pour lancer et mettre en œuvre
