div
    | Il est préconisé de mener plusieurs actions de sensibilisation pouvant inclure :
    ul
        li Campagnes d'affichage sur les risques et les bonnes pratiques.
        li Envoi de mails d'information sur les risques et les bonnes pratiques
        li Conférence de sensibilisation auprès de l'ensemble des utilisateurs
        li Sensibilisation ciblée du service achat aux risques d'escroquerie au faux ordre de virement et fraude au président
        li
            | Communication des décideurs envers les services comptabilité / finances pour rappeler les consignes liées
            | au paiement et qu’ils n’ordonneront jamais de réaliser un virement via un simple mail ou via téléphone
            | uniquement(communication à réaliser par exemple avant les vacances)
        li
            | Pour les entités détenant des informations stratégiques et ayant un risque d’espionnage industriel :
            | sensibilisation aux risques particuliers relatifs aux déplacement professionnels et sensibilisation ciblée
            | auprès des agents effectuant des missions à l'étranger
    p
        | Pour que les utilisateurs restent vigilants dans la durée, il est nécessaire de renouveler périodiquement les
        | actions de sensibilisation/formation et sous plusieurs formats répartis dans l’année.
