div
    | Il est recommandé d’encourager régulièrement, 2 fois par an à minima, la déclaration d’incident auprès de vos agents
    | en rappelant les évènements "signaux faibles" devant être signalés ainsi que le contact à alerter et/ou un rappel
    | de la procédure de remontée d’incident.
    p
        | Une fiche réflexe dédiée aux utilisateurs peut être également formalisée et diffusée largement.
