div
    p
        | Le RGPD est une réglementation devant être obligatoirement appliquée par des entités stockant et traitant des données
        | personnelles (cela concerne ainsi quasiment toutes les entités publiques et privées). Le RGPD encadre le traitement
        | des données personnelles sur le territoire de l’Union européenne qui a pour principaux objectifs de protéger les
        | données personnelles et de préserver les libertés individuelles offrant ainsi aux professionnels un cadre juridique
        | unique dans leur démarche d’innovation et le développement des services numériques. Si l’entité ne respecte pas les
        | exigences du RPGD, cette dernière encourt des mises en demeure et des sanctions financières pouvant s’élever au
        | minimum à 5 000€ et jusqu’à 20 millions d’euros (ou 4% du CA mondial si supérieur).
    p
        | L’établissement d’un registre de vos traitements de données personnelles est une exigence réglementaire de la CNIL.
        | Au-delà de l’exigence réglementaire, ce registre vous permettra d’établir l’état des lieux exhaustif des données
        | personnelles transitant au sein de votre système d’information et vous permettra d’en avoir une meilleure maitrise.
        | Il s’agit d’une première étape indispensable pour mener sa démarche de conformité RGPD.
