
.choix-utilisateur {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section-encadree {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 1rem;
  margin-left: 2rem;
  margin-top: 1rem;

  &.bordure-gauche {
    border-left: 4px var(--couleurs-mac-violet-fonce) solid;
  }

  #relation-utilisateur-saisie {
    margin: 0;
  }
}
