extends base

block page
    h2 Les 6 recommandations prioritaires
    each recommandation, index in recommandations
        div
            h3=index + 1 + '. ' + recommandation.titre
            div
                h4 Pourquoi?
                div
                    | !{include(recommandation.pourquoi)}
            div
                h4 Comment mettre en œuvre cette mesure ?
                div
                    | !{include(recommandation.comment)}
