div
    | Avant de paramétrer ces restrictions, il est conseillé d’établir un tableau répertoriant la liste des utilisateurs
    | légitimes nécessitant un accès en fonction des systèmes et/ou applications et/ou données à protéger en priorité.
    | Pour chacun des utilisateurs il devra être préciser s’il doit bénéficier d’un « accès complet » (accès à toutes les données)
    | ou « accès restreint » (accès seulement aux données nécessaires à son activité). Ce tableau pourra ensuite être
    | communiqué à l’équipe informatique (ou prestataire) pour l’implémenter dans les applications et systèmes concernés.
