div
    p
        | Les points d’accès accessible via Internet représentant la première surface d’attaque éprouvée très régulièrement
        | de manière automatisée par les cyberattaques, il convient donc de les sécuriser davantage. Une solution VPN
        | « full-tunneling » sera une contrainte supplémentaire pour un cyberattaquant et permet de sécuriser davantage
        | les flux d’authentification.
