div
    | Les personnes soumises à des contraintes trop fortes (ex : renouvellement fréquent) auront la fâcheuse tendance à
    | utiliser un même mot de passe pour s’authentifier sur plusieurs services ou comptes différents, ce qui représente
    | une pratique à hauts risques. Un coffre-fort de mots de passe permet de stocker des mots de passe sans que l’utilisateur
    | ait besoin de les mémoriser. Les coffres-forts de mots de passe offrent également la possibilité de générer
    | automatiquement des mots de passe robustes. Ces mots de passe sont alors conservés dans une base de données dédiée
    | et chiffrée par un mot de passe dit « maître », le seul qui doit alors être mémorisé par l’utilisateur.
