div
    | Il est nécessaire de limiter les autorisations d’accès aux données et applications métiers, notamment celles à
    | protéger en priorité, afin de limiter le risque de vol et de sabotage en cas de compromission sur le système d’information.
    | La probabilité d’un risque d’atteinte à ces données sera donc limitée aux seuls utilisateurs ayant accès à celles-ci,
    | et non à l’ensemble des collaborateurs si aucune restriction n’est mise en place.
