div(class='fr-pt-md-5w')
    h4 Les autres mesures
    each mesure, index in mesures
        details
            summary
                | !{index + 7} . !{mesure.titre}
            div
                div
                    b Pourquoi ?
                    div(class='fr-pt-md-2w fr-pb-md-3w')
                        | !{include(mesure.pourquoi)}
                div
                    b Comment mettre en œuvre cette mesure ?
                    div(class='fr-pt-md-2w fr-pb-md-3w')
                        | !{include(mesure.comment)}
