h4 Contacts et liens utiles
div(class="contact")
    div(class="fr-container")
        div(class='fr-grid-row fr-grid-row--gutters')
            div(class="fr-col-4 fr-col-lg-12 logo")
                div(class="fr-container")
                    div(class='fr-grid-row fr-grid-row--gutters fr-grid-row--center')
                        div(class="fr-col-12 logo-acyma")
            div(class="fr-col-8 fr-col-lg-12")
                h5 Cybermalveillance
                div
                    | Assistance et prévention du risque numérique au sein des publics.
                div
                    a(href='https://www.cybermalveillance.gouv.fr/accompagnement', target="_blank")
                        | cybermalveillance.gouv.fr/accompagnement
div(class="contact")
    div(class="fr-container")
        div(class='fr-grid-row fr-grid-row--gutters')
            div(class="fr-col-4 fr-col-lg-12 logo")
                h1 CSIRT
            div(class="fr-col-8 fr-col-lg-12")
                h5 CSIRT - Centres de réponse à incident
                div
                    | Les CSIRT régionaux (Computer Security Incident Response Team) sont des centres de réponses à
                    | incidents cyber au profit des entités implémentées sur le territoire régional.
                div
                    a(href="https://www.cert.ssi.gouv.fr/csirt/csirt-regionaux/", target="_blank")
                        | cert.ssi.gouv.fr/csirt/csirt-regionaux
div(class="contact")
    div(class="fr-container")
        div(class='fr-grid-row fr-grid-row--gutters')
            div(class="fr-col-4 fr-col-lg-12 logo")
                div(class="fr-container")
                    div(class='fr-grid-row fr-grid-row--gutters')
                        div(class="fr-col-6 fr-col-lg-4 logo-gendarmerie")
                        div(class="fr-col-6 fr-col-lg-4 logo-police-nationale")
            div(class="fr-col-8 fr-col-lg-12 ")
                h5 Ma sécurité, service de l’État
                div
                    | La gendarmerie et la police nationale vous accompagnent dans vos démarches de sécurité cyber.
                div
                    a(href="https://www.masecurite.interieur.gouv.fr/fr", target="_blank")
                        | masecurite.interieur.gouv.fr/fr
div(class="contact sans-espace-bas")
    div(class="fr-container")
        div(class='fr-grid-row fr-grid-row--gutters')
            div(class="fr-col-4 fr-col-lg-12 logo")
                div(class="fr-container")
                    div(class='fr-grid-row fr-grid-row--gutters fr-grid-row--center')
                        div(class="fr-col-12 logo-anssi-leger")
            div(class="fr-col-8 fr-col-lg-12 sans-espace-bas")
                h5 L’ANSSI
                div
                    | L’Agence nationale de la sécurité des systèmes d’information.
                    |
                    a(href="https://cyber.gouv.fr/", target="_blank")
                        | cyber.gouv.fr
                div
                    ul
                        li
                            | Contact des délégués régionaux de l’ANSSI en régions :
                            |
                        a(href="https://cyber.gouv.fr/action-territoriale", target="_blank")
                            | cyber.gouv.fr/action-territoriale
                        li
                            | Trouver un produit ou service de sécurité évalué par l’ANSSI :
                            |
                            a(href="https://cyber.gouv.fr/trouver-un-produitservice-de-securite-evalue", target="_blank")
                                | cyber.gouv.fr/trouver-un-produitservice-de-securite-evalue
