div(class="fr-grid-row fr-grid-row--gutters fr-grid-row--middle")
  - const couleursThematiques = new Map([['gouvernance', '#6369F1'], ['SecuriteAcces', '#FEC54B'], ['securiteposte', '#8248A1'], ['securiteinfrastructure', '#F26C85'], ['sensibilisation', '#8ED4A3'], ['reaction', '#FD8FB9']])
  - const configurationIndicateurs = Object.entries(indicateurs).map(([thematique, indicateur]) => ({thematique: thematique.toLowerCase(), legende: traductions.get(thematique), couleur: couleursThematiques.get(thematique), valeur: indicateur.moyennePonderee * 5 / 3}))
    div(class="fr-col-6")
      - const values = configurationIndicateurs.map(configuration => configuration.valeur)
      - const colors = configurationIndicateurs.map(configuration => configuration.couleur)
        include graphe-polaire
    div(class="fr-col-6 legende")
      each indicateur, i in configurationIndicateurs
        div(class="indicateur")
            div
                span(class="badge badge-" + indicateur.thematique) &nbsp;
            div !{indicateur.legende}
