h4 Les 6 mesures prioritaires
each mesure, index in mesures
    details
        summary
            | !{index + 1} . !{mesure.titre}
        div
            div
                b Pourquoi ?
                div(class='fr-pt-md-2w fr-pb-md-3w')
                    | !{include(mesure.pourquoi)}
            div
                b Comment mettre en œuvre cette mesure ?
                div(class='fr-pt-md-2w fr-pb-md-3w')
                    | !{include(mesure.comment)}
