h4 Ressources MonAideCyber
div(class="ressource")
    h5 La charte de l’Aidant
    p
        | Retrouvez la charte qui est signée par chaque aidant et qui encadre la réalisation du diagnostic :
        |
        a(href="https://monaidecyber.ssi.gouv.fr/charte-aidant")
            | monaidecyber.ssi.gouv.fr/charte-aidant
div(class="ressource")
    h5 Les CGU
    p
        | Afin de bénéficier du diagnostic MonAideCyber, vous avez lu et validé les conditions générales
        | d’utilisation du service. Vous pouvez les retrouver ici :
        |
        a(href="https://monaidecyber.ssi.gouv.fr/cgu")
            | monaidecyber.ssi.gouv.fr/cgu
div(class="ressource")
    h5 L’équipe MonAideCyber
    p
        | Vous avez des remarques, des questions ou des remontées à partager suite à votre diagnostic ?
        | Contactez l’équipe MonAideCyber :
        |
        a(href="mailto:monaidecyber@ssi.gouv.fr")
            | monaidecyber@ssi.gouv.fr
