div
    | L’emploi de téléphones connectés (ou ordiphones/smartphones), d’ordinateurs portables et de tablettes facilite et
    | accélère le transport et l’échange de données. Parmi les informations stockées sur ces supports, certaines peuvent
    | présenter une sensibilité importante pour l’entité. Leur perte, leur saisie ou leur vol peut avoir des conséquences
    | majeures sur nos activités et sur leur pérennité. Il nous faut donc, dans ce contexte de nomadisme, les protéger
    | face aux risques et aux menaces qui pèsent sur elles, tout particulièrement lors de nos déplacements à l’étranger.
