div
    | Plusieurs mesures de sécurisation peuvent être menées via la/les box wifi :
    ul
        li Pas d'accès au réseau interne pour les visiteurs via le wifi (SSID différent ou wifi non accessible au visiteur).
        li Si concerné, journalisation des logs de connexion des visiteurs
        li Chiffrement robuste de la connexion wifi, à minima WPA2
        li Authentifications individualisées
