div
    | Au-delà des attaques s’appuyant sur la négligence des utilisateurs et sur l’ingénierie sociale, la majorité des
    | attaquants exploitent des vulnérabilités publiques et documentées pour s’introduire sur les systèmes d’information.
    | Ces vulnérabilités concernent principalement des services exposés sur Internet (par exemple un pare-feu, un serveur
    | de messagerie, un service d’accès nomade, etc.). Qui plus est, les délais entre la publication d’une vulnérabilité
    | et son exploitation par les cyberattaquants ont tendance à diminuer. Certaines campagnes d’attaques massives et
    | récentes ont industrialisé l’exploitation de vulnérabilités seulement quelques jours après leurs révélations sur Internet.
