.bouton-demande-aide {
  a {
    text-decoration: none;
    background-image: none;
    color: var(--couleurs-mac-blanc);
  }
  &.bouton-mac-primaire-inverse {
    a {
      color: var(--couleurs-mac-violet-fonce);
    }
  }
}
