div
    | Un cyberattaquant pourrait être en capacité de réaliser une attaque de type « man in the middle » en interceptant
    | tous les flux réseaux et données transitant entre les sites. Si les flux sont chiffrés, ce scénario d’attaque
    | serait rendu caduque.
