div
    | Cette mise en place peut inclure :
    ul
        li Contraintes renforcées de robustesse et de longueur de mots de passe (15 caractères minimum)
        li Connexion à distance via une solution VPN (réseau privé virtuel) avec authentification forte (au moins 2 facteurs)
        li Chiffrement des données y compris lors d’un transfert via Internet
        li Si cloud : authentification multifacteur
    p
        | Les contraintes renforcées sur les mots de passe peuvent être implémentées via l’outil de gestion centralisée
        | de politiques de sécurité (exemple : Active Directory, Samba-AD).
        |
        | Il est préconisé de s’appuyer sur les compétences d’un prestataire externe, idéalement labellisé Expert Cyber,
        | pour la mise en œuvre d’une solution VPN ; d’une solution de chiffrement des données ; et de l’authentification
        | multifacteur  (exemple : code OTP reçu par sms, par mail, via application ou clef sécurisée dédiée, par certificat)
