div
    | Avant de définir ces processus, il convient d’organiser une réunion entre le service RH et
    | l’administration des accès pour identifier les modes opératoires et pratiques les plus accessibles et efficaces
    | pour chaque partie prenante. Il peut s’agir par exemple d’un mail des RH vers l’administrateur ou d’un RDV obligatoire
    | organisé par les RH au profit du collaborateur avec l’administrateur. En complément, les revues régulières et
    | comparaison des bases RH et informatiques doivent être maintenues. Des profils types métiers, détaillant les accès
    | informatiques nécessaires, peuvent également être coconstruits entre les RH et les équipes informatiques.
