div
    | Avant de paramétrer ces restrictions, il est conseillé d’établir un tableau répertoriant la liste des utilisateurs
    | légitimes nécessitant un accès en fonction des systèmes et/ou applications et/ou données à protéger en priorité.
    | Ce tableau pourra ensuite être communiqué à l’équipe informatique (ou prestataire) pour l’implémenter dans les
    | applications et systèmes concernés.
