extends base

block page
    each recommandation in recommandations.recommandationsPrioritaires
        p
        span=recommandation.noteObtenue
        span="--"
        span
            | !{recommandation.recommandation}
