extends base

block page
    each recommandation, index in recommandations.recommandationsPrioritaires
        div
            h2=index + 1 + '. ' + recommandation.titre
            div
                h3 Pourquoi?
                div
                    | !{include(recommandation.pourquoi)}
            div
                h3 Comment mettre en œuvre cette mesure ?
                div
                    | !{include(recommandation.comment)}
