div
    h5 Déploiement des logiciels et contrôle des mises à jour
    div
        | Afin de s’assurer que les mises à jours sont déployées, il peut être nécessaire de :
        ul
            li
                | faire une vérification manuelle sur chaque poste et pour chaque logiciel
                | (à l’aide d’un script/programme exécuté sur chaque poste)
            li déployer un agent logiciel réalisant la vérification (outil de gestion des vulnérabilités)
            li
                | utiliser un outil de gestion centralisé des logiciels : un tel outil permet de connaître l’état de
                | déploiement des logiciels (et notamment leur version) de chaque poste de manière centralisée
