div
    h5 EDR
    p
        | Un EDR, Endpoint Detection Réponse, détecte et bloque les menaces sur les terminaux en s’appuyant sur
        | l’analyse comportementale et la corrélation d'événements.
