div
    h5 Mises à jour installées
    p
        | Pour cocher la réponse “Oui et ses alertes sont systématiquement traitées […]”, l’entité doit s’assurer que
        | les mises à jour sont bien installées.
