div
    h5 Matériels nomades
    div
        | Il s’agit des équipements et matériels numériques transportés durant les déplacements, exemples :
        ul
            li ordinateur portable
            li tablette
            li téléphone
            li clefs USB et disques durs
