div
    h5 Mesures complémentaires
    div
        | Mesures complémentaires pouvant être menées pour sécuriser les postes de travail obsolètes :
        ul
            li
                | les isoler et les cloisonner du reste du réseau bureautique (ex : déconnecter de l’annuaire centralisée),
                | une compromission de ces derniers aura ainsi un faible impact
            li
                | mettre en œuvre un outil de protection de type EDR en complément de l’antivirus intégrant des règles
                | de sécurité spécifiques aux postes obsolètes.
