div
    h5 Pare-feu local
    p
        | Le pare-feu local est un logiciel qui permet de filtrer le trafic entrant et sortant dans le système
        | d’exploitation du poste de travail. Un pare-feu local est une fonction intégrée à la plupart des systèmes
        | d’exploitation grand public. Par défaut, ce logiciel est désactivé ou d’un niveau de paramétrage insuffisant.
        | Un niveau suffisant serait de restreindre les communications réseaux directes entre les postes de travail et
        | de bloquer toute connexion entrante. Des pare-feux sont également commercialisés en complément de suites
        | logicielles antivirales.
