div
    h5 Windows Bitlocker
    p
        | Windows Bitlocker est un outil de chiffrement intégré gratuitement dans tous les systèmes d’exploitation
        | Windows récents.
    p
        | NB : il est indispensable que le déchiffrement au démarrage du poste soit soumis à un mot de passe robuste
        | (ou un token USB).
