div
    | Cette mise en place peut inclure :
    ul
        li Postes d’administration dédiés aux fonctions d'administration.
        li Utilisation d'une solution de gestion des accès à privilèges (PAM, bastion, portail d'authentification).
        li Authentification multifacteur on-premise
    p
        | Il est nécessaire de mettre à disposition de chaque administration d’un poste de travail dédié aux tâches
        | d’administration et dans lequel seuls ces comptes d’administration peuvent être utilisées.
        | Chaque administrateur doit ainsi avoir à disposition un second poste de travail disposant des simples droits
        | utilisateurs afin d’effectuer de pouvoir avoir accès à ces mails, naviguer sur internet et réaliser ces tâches
        | administratives sur l’environnement bureautique.
    p
        | Il est préconisé de s’appuyer sur les compétences d’un prestataire externe, idéalement labellisé Expert Cyber,
        | pour la mise en œuvre d’un coffre-fort de mots de passe ; d’une solution de gestion à accès à privilèges ;
        | de l’authentification multifacteur on-premise (exemple : code OPT reçu par sms, par mail, via application ou
        | clef sécurisée dédiée, par certificat)
