div
    | A minima tous les mois, et en s’appuyant sur la liste de l’ensemble des produits numériques utilisés par l’entité,
    | il est recommandé de mettre en place un suivi des vulnérabilités et des bulletins de menace publiées par le CERT-FR
    | (
    a(href="https://www.cert.ssi.gouv.fr/") https://www.cert.ssi.gouv.fr/
    | )
    | ainsi que les services d’alerte des fournisseurs et éditeurs concernées.
    p
        | Sur le site du CERT-FR, via l’icône rouge tout à droite, il est aussi possible de s’inscrire au Flux RSS automatisé
        | de l’ANSSI publiant par mail les vulnérabilités dès qu’elles sont connus.
    p
    | Il peut également être envisagé de s’appuyer sur un prestataire labellisé Expert Cyber pour souscrire à un service
    | de veille automatisé.
