div
    | Lors d’une cyberattaque majeure et d’une crise d’origine cyber, la victime se retrouvant souvent déstabiliser et
    | en panique ne sait plus vers qui se retourner et qui contacter pour être accompagné et avoir les bons réflexes
    | pour bien réagir, de manière rapide et limiter les impacts sur l’entité.
