div
    | Cette mise en place peut inclure :
    ul
        li Protection des données dans un conteneur chiffré “à froid” et lors d’un transfert via Internet (ex : mail)
        li Utilisation d'une solution de Data Loss Prevention permettant de limiter les fuites de données
        li Procédure de suppression et mise à rebut des disques
        li Revue annuelle des droits d’accès (privilèges, habilitations)

    | Il est préconisé de s’appuyer sur les compétences d’un prestataire externe, idéalement labellisé Expert Cyber ou référencé par un Campus Cyber,
    | pour la mise en œuvre d’une solution VPN ; d’une solution de filtrage des accès via Internet ;
    | de l’authentification multifacteur on-premise ; d’une solution de Data Loss Prevention ;
    | d’une procédure de suppression et mise à rebut des disques.
