div
    p
        | Il est recommandé d’installer sur les postes de travail et inciter auprès des collaborateurs l’utilisation un coffre-fort
        | de mots de passe permettant facilement de générer des mots de passe robustes et différents pour chaque accès nécessitant
        | une authentification distincte.
    p
        | Une communication ou une réunion spécifique peut être organisée pour présenter cet outil, ses fonctionnalités
        | et proposer des moyens mnémotechniques pour créer un ou plusieurs mots de passe robustes
        | (cf.
        |
        a(href="https://www.cnil.fr/fr/les-conseils-de-la-cnil-pour-un-bon-mot-de-passe") construire un mot de passe sûr et gérer la liste de ses codes d’accès | CNIL
        |
        | )
