div
    p
        | Par défaut, il est recommandé de créer aux utilisateurs de comptes utilisateurs ne disposant pas de privilège
        | d’administration. Les utilisateurs souhaitant ce privilège doivent les justifier et utiliser un compte distinct
        | dédié à cet usage. Par conséquent, seuls les administrateurs chargés de l’administration des postes doivent disposer
        | de ces droits lors de leurs interventions.
    p
        | Dans un environnement Microsoft, il est recommandé d’étudier la mise en œuvre de "Just Enough and Just In Time Administration" https://learn.microsoft.com/fr-fr/shows/windowsserver/just-enough-just-in-time-administration-in-windows-server-2016 
        | et de LAPS : https://learn.microsoft.com/fr-fr/defender-for-identity/security-assessment-laps
    p
        | La mise à disposition d’un magasin étoffé d’applications « store d’application » validées par l’entité permettra
        | de répondre à la majorité des besoins d’installation des utilisateurs.
    p
        | Il est également fortement déconseillé d’utiliser des postes personnels pour se connecter aux réseaux et données de l’entité. 
        | Si cela ne peut être évité, il convient de sensibiliser les utilisateurs sur les risques liés à cet usage voire de les responsabiliser 
        | en les engageant à respecter des bonnes pratiques au travers d’une charte informatique. 
        | Ces bonnes pratiques devraient être a minima d’utiliser quotidiennement deux comptes distincts : 
    ul 
        li  un compte utilisateur pour la navigation Internet, l’utilisation des services bureautiques, de la messagerie et des applications ne nécessitant pas les droits d’administration local ;
        li  un compte administrateur exclusivement utilisé pour gérer l’administration du poste, l’installation d’applications et l’utilisation des applications nécessitant les droits d’administration local ;
        li  NB : l’utilisation du compte administrateur doit être restreinte au seul employé de l’entité, et ainsi interdite aux autres membres de sa famille. 
    p
        | Il est préconisé de s’appuyer sur les compétences d’un prestataire externe, idéalement labellisé Expert Cyber ou référencé par un Campus Cyber,
        | pour la mise en œuvre de cette mesure.