div
    | A minima une fois tous les 6 mois, sur la base d’un inventaire, un contrôle peut être réalisé en établissant la liste
    | des comptes administrateurs (prestataires inclus) en précisant leur périmètre. Pour chacun de ces comptes administrateur,
    | il est nécessaire d’en justifier et confirmer l’intérêt opérationnel, les accès en écart (ex : accès en doublons,
    | accès d’un ancien salarié, accès inutiles) doivent être désactivés et les mots de passes des comptes partagés concernés
    | par un départ sont à renouveler.
