div
    p
        | En se basant sur les listes exhaustives des accès distants ou dits « télétravaillés » des systèmes industriels, il est
        | recommandé de mettre en place des mécanismes de double authentification avec à minima, avec des restrictions
        | via adresses IP légitimes. Des restrictions complémentaires pourraient par exemple mise en œuvre sur la localisation
        | des accès entrants (ex : pays), les plages horaires acceptées (exemple : heures ouvrées seulement), procédure
        | ponctuelle d’ouverture et de fermeture de l’accès durant chaque intervention à distance.
    p
        | Il est préconisé de s’appuyer sur les compétences d’un prestataire externe, idéalement labellisé Expert Cyber,
        | pour la mise en œuvre de cette mesure.
