div
    | Cette mise en place peut inclure :
    ul
        li Contraintes de complexité et de longueur des mots de passe (idéalement 16 caractères)
        li Modification systématique des mots de passe par défaut et/ou à la première utilisation (admin métiers et admin SI)
        li Mots de passe des comptes à haut privilèges (ex : administrateur du domaine) stockées dans un coffre-fort
        | physique ou armoire fermée à clef
        li Si cloud : authentification multifacteur
    p
        | Les contraintes renforcées sur les mots de passe (longueur, robustesse, changement des mots de passe) peuvent
        | être implémentées via l’outil de gestion centralisée de politiques de sécurité (exemple : Active Directory, Samba-AD).
    p
        | Il est préconisé de s’appuyer sur les compétences d’un prestataire externe, idéalement labellisé Expert Cyber,
        | pour la mise en œuvre d’un coffre-fort de mots de passe ; de l’authentification multifacteur (exemple : code OTP
        | reçu par sms, par mail, via application ou clef sécurisée dédiée, par certificat)
