div
    p
        | En se basant sur les listes exhaustives des accès distants ou dits « télétravaillés » du SI industriel, il est
        | recommandé de les rendre accessible seulement au travers d’une solution de VPN « full-tunneling » établissant
        | un tunnel VPN IPsec entre les postes nomades et une passerelle VPN IPsec. Aucun flux distant ne doit pouvoir
        | être transmis en dehors de ce tunnel.
    p
        | En complément il est conseillé de mettre en place des mécanismes de double authentification avec à minima, avec
        | des restrictions via adresses IP légitimes. Des restrictions complémentaires pourraient par exemple mise en œuvre
        | sur la localisation des accès entrants (ex : pays), les plages horaires acceptées (exemple : heures ouvrées seulement),
        | procédure ponctuelle d’ouverture et de fermeture de l’accès durant chaque intervention à distance.
    p
        | Il est préconisé de s’appuyer sur les compétences d’un prestataire externe, idéalement labellisé Expert Cyber,
        | pour la mise en œuvre de cette mesure.
