div
    | Cette mise en place peut inclure :
    ul
        li Accès via internet limitée aux utilisateurs légitimes (ex : bastion, filtrage IP, etc.)
        li Authentification multifacteur on-premise
        li Utilisation d'une solution de Data Loss Prevention permettant de limiter les fuites de données
        li Procédure de suppression et mise à rebut des disques
    | Il est préconisé de s’appuyer sur les compétences d’un prestataire externe, idéalement labellisé Expert Cyber,
    | pour la mise en œuvre d’une solution VPN ; d’une solution de filtrage des accès via Internet ;
    | de l’authentification multifacteur on-premise ; d’une solution de Data Loss Prevention ;
    | d’une procédure de suppression et mise à rebut des disques.
