div 
| La définition de tels processus permet d’inclure l’administrateur gérant les comptes lors de l’arrivée d’un nouveau collaborateur (ou prestataire)
| mais surtout lors de son départ. Ainsi la base des comptes est mise à jour et reste maitrisée de manière permanente.
