div 
| A minima une fois par an, un contrôle peut être réalisé en comparant avec l’inventaire du personnel détenu par le service RH et 
| la liste des comptes informatiques créés dans l’annuaire. 
| Les comptes en écart (ex : comptes en doublons, compte d’un ancien personnel, compte ne pouvant être attribué à aucune personne, etc.) 
| par rapport à la liste fournie par le service RH doivent être supprimés.
| Une analyse similaire doit être menée sur les comptes fournis aux prestataires et partenaires.
| Les mots de passes des comptes partagés concernés par un départ sont à renouveler.

div 
| NB : si un ou plusieurs comptes suspects sont présents, c’est un signe important de compromission 
| et des investigation supplémentaires devraient être menées (afin de déterminer : depuis quand, les activités de ce compte suspect, comment il a été créé)