div
    | En cas de compromission d’un ou plusieurs postes de travail, la mise en œuvre des mesures supplémentaires de sécurisation
    | des accès aux systèmes, applications et données à protéger en priorité permet d’en limiter les risques d’espionnage
    | et d’exfiltration.
