div
    p
        | Par défaut, il est recommandé de créer aux utilisateurs de comptes utilisateurs ne disposant pas de privilège
        | d’administration. Les utilisateurs souhaitant ce privilège doivent les justifier et utiliser un compte distinct
        | dédié à cet usage. Par conséquent, seuls les administrateurs chargés de l’administration des postes doivent disposer
        | de ces droits lors de leurs interventions.
    p
        | Dans un environnement Microsoft, il est recommandé d’étudier la mise en œuvre de LAPS.
    p
        | La mise à disposition d’un magasin étoffé d’applications « store d’application » validées par l’entité permettra
        | de répondre à la majorité des besoins d’installation des utilisateurs.
    p
        | Il est préconisé de s’appuyer sur les compétences d’un prestataire externe, idéalement labellisé Expert Cyber,
        | pour la mise en œuvre de cette mesure.
