div
    | Lors d’une cyberattaque, les cyberattaquants ont tendance à chercher à prendre la main et compromettre un ou plusieurs
    | administrateurs. Soit en compromettant des accès administrateurs dits « dormants » car inutilisés, soit en se créant
    | un faux compte administrateurs suite à la compromission d’un 1er compte administrateur
    | (ex : faible robustesse du mot de passe, compromission d’un poste administrateur, défaut de mise à jour).
    | Des revues régulières permettent de gagner en maitrise sur ses accès administrateurs, assainir et réduire la liste
    | des comptes administrateurs, désactiver les comptes « dormants » et supprimer les comptes suspicieux.

div 
    | NB : si un ou plusieurs comptes suspects sont présents, c’est un signe important de compromission 
    | et des investigation supplémentaires devraient être menées (afin de déterminer : depuis quand, les activités de ce compte suspect, comment il a été créé)