div
    | Cette mesure peut inclure la mise en oeuvre de plusieurs bonnes pratiques :
    ul
        li Protection des données dans un conteneur chiffré “à froid” et lors d’un transfert via Internet (ex : mail)
        li Procédure de suppression et mise à rebut des disques 

    | Il est préconisé de s’appuyer sur les compétences d’un prestataire externe, idéalement labellisé Expert Cyber, 
    | pour la mise en œuvre d’une solution de chiffrement ; d’une solution de Data Loss Prevention ; d’une procédure de suppression et mise à rebut des disques.

    | Pour aller plus loin et si vous êtes éligible à la réglementation liée à la Protection du Potentiel Scientifique et Technique, 
    | vous pouvez prendre contact auprès des services du Haut fonctionnaire de défense et de sécurité de votre ministère de rattachement : https://www.sgdsn.gouv.fr/nos-missions/proteger/proteger-le-potentiel-scientifique-et-technique-de-la-nation/foire-aux-questions
