div
    p
        | Il est recommandé de mettre en place des solutions de chiffrement de flux réseau (idéalement via une solution et
        | des équipements européens).
    p
        | Il est préconisé de s’appuyer sur les compétences d’un prestataire externe, idéalement labellisé Expert Cyber,
        | pour la mise en œuvre de cette mesure.
