div
    | Cette mise en place peut inclure :
    ul
        li Contraintes renforcées de robustesse et de longueur de mots de passe (idéalement 16 caractères)
        li Utilisation d'un mécanisme d'authentification multifacteur
        li Revue annuelle des droits d’accès (privilèges, habilitations)
    p
        | Les contraintes renforcées sur les mots de passe peuvent être implémentées via l’outil de gestion centralisée
        | de politiques de sécurité (exemple : Active Directory, Samba-AD).
