div
    | Lorsqu’un utilisateur est « administrateur » de son poste, il dispose d’un compte lui permettant de modifier la
    | configuration du poste. Ainsi, un logiciel malveillant exécuté par l’utilisateur (par erreur et/ou à son insu)
    | dispose directement de privilèges élevés sur le poste (les privilèges « administrateur » permettant de modifier la configuration).
    | Le logiciel malveillant pourra alors notamment se rendre « persistant » (un logiciel malveillant est persistant
    | quand il est capable de se redémarrer lui-même même après un redémarrage électrique du poste) ou désactiver les
    | fonctions de sécurité du poste afin de se rendre indétectable (désactivation de l’antivirus, de l’EDR, modification
    | des paramètres de journalisation) ou de faciliter la latéralisation (étape d’une attaque au cours de laquelle l’attaquant étend son emprise sur plusieurs équipements)
    | en désactivant par exemple le pare-feu local.
    | Dans certains de cas de compromission, il a aussi été souvent constaté que le mot de passe du compte administrateur
    | local était le commun à toutes les machines ce qui facilite grandement et accélère la latéralisation.
