div
    | Le processus doit être convenu entre le service RH et celui administrant les comptes (de manière à être le plus efficace pour les deux parties).
    | Il peut s’agir par exemple d’un mail du service RH vers l’administrateur informatique ou d’un RDV obligatoire
    | organisé par les services RH au profit du collaborateur avec l’administrateur. En complément, les revues régulières et
    | comparaison des bases RH et informatiques doivent être maintenues.
div
    | Un processus similaire doit également être mis en œuvre avec les services en charge des contrats avec les prestataires
    | disposant d'accès au système d'information.
