div 
| Lors d’une compromission, les cyberattaquants ont tendance à soit utiliser des accès utilisateurs dits « dormants » car inutilisés, soit en se créant un faux compte d’accès. 
| Des revues régulières permettent donc d’assainir la base d’annuaire des accès, désactiver les comptes « dormants » et supprimer les comptes suspicieux.
