div
    p
        | Les points d’accès accessible via Internet représentant la première surface d’attaque éprouvée très régulièrement
        | de manière automatisée par les cyberattaques, il convient donc de les sécuriser davantage.
