div
    | Il convient de créer plusieurs comptes d'administrations distincts
    | (et via des authentifications spécifiques) selon les différents périmètres d’administration, exemple :
    ul
        li 1 compte d'administration des postes de travail
        li Des comptes d'administration pour chaque systèmes à administrer (1 compte pour le serveur de messagerie, 1 compte pour le serveurs de fichiers, 1 compte pour l’ERP et/ou 1 compte pour chaque serveur d’application à protéger en priorité)
        li 1 compte pour l'administration de la plateforme de virtualisation
