div
    | Les comptes d’administrations sont des comptes à hauts privilèges c’est pourquoi ils sont très ciblés par les
    | cyberattaquants. Si un de ces comptes est compromis, un cyberattaquant est en mesure de réaliser une compromission
    | massive rapidement. Il convient donc d’en limiter leur usage et leur périmètre d’administration pour réduire l’impact
    | d’une compromission d’un de ces comptes.
