@import './../../../assets/styles/points-de-rupture';

.ecran-guide-des-aidants-cyber {
  .hero-layout {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 1rem;
    padding: 2rem 1rem;

    @include a-partir-de(md) {
      flex-direction: row;
      padding-top: 2.5rem;
    }

    @include a-partir-de(lg) {
      flex-direction: row;
      padding-top: 2.5rem;
    }

    @include a-partir-de(xl) {
      flex-direction: row;
      padding-top: 2.5rem;
    }
  }
}
