div
    | Sans connaissance informatique particulière, l’activation d’un pare-feu préinstallé sur le poste de travail et son
    | paramétrage par défaut (qui bloque toute connexion entrante), constituent un premier niveau de protection.
    | Un pare-feu local est une fonction intégrée à la plupart des systèmes d’exploitation grand public.
    | En cas de compromission d’un poste utilisateur, et sans pare-feu, un attaquant pourra plus facilement étendre son attaque
    | vers d’autres équipements du réseau (postes, serveurs, imprimantes, etc.). Tant que l’attaquant n’a pas réussi à obtenir
    | les privilèges administrateurs du poste (qui permettent de modifier la configuration du pare-feu, voire le désactiver),
    | le pare-feu local « bien configuré » sera une barrière efficace pour empêcher l’attaquant d’étendre son emprise sur le réseau.
    | Il est aussi nécessaire de s’assurer régulièrement de leur activation car une désactivation du pare-feu peut être
    | un signe d’une compromission et qu’un logiciel malveillant a pris le contrôle du poste. Ce type d’évènement devrait
    | donc donner lieu à une « levée de doute » de la part des informaticiens (quel est l’origine du changement de
    | configuration ? erreur ? malveillance ? bug ?).
