@import './../../../assets/styles/points-de-rupture';

.ecran-associations {

  @include jusqu-a(lg) {
    padding: 0;

    .section {
      margin: 0;
    }

    .fr-sidemenu__list {
      display: flex;
      flex-direction: row;
      overflow-x: scroll;
    }
  }


  nav {
    margin: 5.5rem 0;
    top: 10.5rem;

    @include jusqu-a(md) {
      margin: 0;
    }

    @include jusqu-a(lg) {
      position: sticky;
      margin: 0;
      padding: 1rem 0;
    }
  }

  .hero-layout {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;

    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;

    @include a-partir-de(md) {
      flex-direction: row;
      padding-top: 2.5rem;
    }

    @include a-partir-de(lg) {
      flex-direction: row;
      padding-top: 2.5rem;
    }

    @include a-partir-de(xl) {
      flex-direction: row;
      padding-top: 2.5rem;
    }

    section {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      @include a-partir-de(md) {
        gap: 2rem;
      }

      h1 {
        margin: 0;
      }

      button {
        width: 100%;

        @include a-partir-de(md) {
          width: fit-content;
        }
      }
    }

    img {
      width: 25%;
      align-self: center;
    }
  }

  .mac-sidemenu {
    --ol-type: none;
    --ul-start: 0;
    --ol-start: 0;
    --xl-block: 0;
    --li-bottom: 0;
    --ol-content: none;
    --underline-img: none;
    --text-spacing: 0;
    --title-spacing: 0;
    z-index: 1;
    padding-top: .5rem;
    height: 100%;

    background-color: var(--couleurs-mac-violet-tres-clair);

    ul {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      gap: .5rem;
      overflow-x: scroll;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */

      &::-webkit-scrollbar {
        display: none;
      }


      @include jusqu-a(lg) {
        flex-direction: row;
      }

      li {
        position: relative;
      }

      li a {
        color: #000;
        padding: .5rem;
        display: flex;
        position: relative;
        text-align: left;
        flex-direction: row;
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.5rem;
        height: 100%;

        @include jusqu-a(lg) {
          text-wrap: nowrap;
        }

        @include a-partir-de(lg) {
          padding-right: 1rem;
        }

        &:active {
          background: none;
        }
      }

      li a[aria-current]:not([aria-current='false']) {
        color: var(--couleurs-mac-violet-fonce);
      }

      li a[aria-current]:not([aria-current='false'])::before {
        --idle: transparent;
        --hover: var(--couleurs-mac-violet-fonce);
        --active: var(--couleurs-mac-violet-fonce);
        background-color: var(--couleurs-mac-violet-fonce);
        width: 2px;

        content: "";
        position: absolute;
        bottom: 0.5rem;
        left: 0;
        top: 0.5rem;

        @include jusqu-a(lg) {
          bottom: 0;
          top: unset;
          width: 100%;
          height: 2px;
        }
      }
    }
  }

}