div
    | La sécurité numérique repose nécessairement en partie sur les bonnes pratiques de utilisateurs sur leurs postes et
    | dans l’utilisation au quotidien du numérique. Et moins il n’y a de protections techniques, plus la sécurité repose
    | sur les usages des utilisateurs. Ainsi, il est nécessaire que chaque utilisateur du système d’information
    | (bureautique ou industriel) soit sensibilisé aux risques et formé aux bonnes pratiques à mettre en œuvre à son propre
    | niveau. La cible étant que les utilisateurs sachent notamment :
    ul
        li savoir reconnaître un email d’hameçonnage;
        li savoir gérer correctement ses mots de passe;
        li protéger ses terminaux lors d’un déplacement;
        li être davantage vigilant selon le niveau de criticité et de sensibilité des informations manipulées
        li plus largement comprendre les mesures de sécurité imposées dans l’entité, les respecter et ne pas essayer de les contourner.
