div
    | Une attaque informatique peut être détectée précocement par des dysfonctionnements qui peuvent paraître (en première approche)
    | anodins. De même, malgré une bonne formation, il est toujours possible qu’un salarié se fasse piéger par un courriel
    | de phishing ou autre attaque reposant sur de l’« ingénierie sociale ». Il est important que les salariés soient en
    | confiance et encourager et alerter le service informatique (ou l’infogérant) dans ces deux cas afin de mener des
    | investigations (« levées de doutes ») au plus tôt et laisser le moins de temps possible à l’attaquant pour réaliser ses méfaits.
