div
    h5 Jeu de sauvegarde isolé
    div
        | Le jeu de sauvegarde isolé (ou sanctuarisé) peut être réalisé de plusieurs manières :
        ul
            li
                | sur un périphérique de stockage déconnecté du réseau (bandes, disques durs externes, clefs usb),
            li
                | dans un cloud externe privé, non interconnecté à l'environnement bureautique, via une authentification spécifique,
            li
                | sur un serveur ou média déconnecté physiquement et/ou logiquement à l’issue de chaque sauvegarde.
    div
        | Ce jeu de sauvegarde ne doit donc pas être accessible via l’Active Directory (ou autre service d'annuaire centralisé).
