div
    h5 Organisation de gestion de crise
    p
        | Une organisation de gestion de crise doit à minima identifier les priorités métier à rétablir en cas de crise,
        | des fiches réflexes opérationnelles garantissant la continuité d'activité au travers de modes dégradés défini
        | avec les métiers (ex : assurer la paie, poursuivre la production, gestion des agendas, etc.), des moyens et
        | modalités de communication de crise.
