div
    h5 Sauvegarde des ressources hébergées en cloud
    div
        | Il convient aussi de s’assurer que les mécanismes de sauvegarde mis en œuvre par l’entité (ou par son prestataire) /
        | prennent également en compte les ressources bureautiques et/ou métiers qui sont seulement hébergées dans des
        | environnements cloud.
