div
    h5 Suivi des alertes et des vulnérabilités
    div
        | Le suivi des alertes et des vulnérabilités consiste à se tenir informé des vulnérabilités techniques
        | de cybersécurité critiques pouvant affecter son système d’information (selon les équipements et les systèmes utilisés).
        | Des services gratuits centralisent et répertorient ces vulnérabilités, par exemple le site du
        |
        a(href="https://www.cert.ssi.gouv.fr/" target="_blank") CERT-FR de l'ANSSI.
