@import '../../../assets/styles/points-de-rupture';

.ecran-demande-devenir-aidant {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 'entete'
    'formulaire-gauche'
    'formulaire-droite'
    'validation';
  grid-row-gap: 2rem;
  grid-column-gap: 1.5rem;
  justify-content: center;
  padding: 0 1rem 0 1rem;

  @include a-partir-de(md) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:  'entete entete'
                          'formulaire-gauche formulaire-droite'
                          'validation validation';
      grid-template-rows: auto;
  }

  @include a-partir-de(xl) {
    grid-template-columns: 15% 35% 35% 15%;
    grid-template-areas:  'gauche entete entete droite'
                          'gauche formulaire-gauche formulaire-droite droite'
                          'gauche validation validation droite';
  }

  .choix-utilisation {
    grid-area: entete;
    padding-top: 2.5rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    h3 {
      margin: 0;
    }
  }

  .formulaire-colonne-gauche {
    grid-area: formulaire-gauche;
  }
  .formulaire-colonne-droite {
    grid-area: formulaire-droite;
  }

  .carte-choix-utilisation {
    height: 100%;
    border-radius: 0.5rem;
    border: 1px solid var(--couleurs-mac-gris-leger);
    background: var(--couleurs-mac-blanc);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 2rem 2.5rem 2rem;

    .mac-radio-group {
      padding-top: 0 !important;
      padding-bottom: 1rem !important;
    }

    &:has(input[type="radio"]:checked) {
      border: 2px solid var(--couleurs-mac-violet-fonce);
    }

    @include a-partir-de(md) {
      display: flex;
    }

    .mac-radio-group {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }
    .mac-callout {
      padding: 1rem;

      i {
        color: var(--couleurs-mac-violet-fonce);
        width: auto;
      }

      div > p {
        margin: 0;
      }
    }
  }

  .checklist {
    display: flex;
    flex-direction: column;
    gap: .5rem;

    .item {
      display: flex;
      gap: 1rem 0.5rem;

      .vert {
        color: var(--couleurs-mac-vert);
      }

      .rouge {
        color: var(--couleurs-mac-rouge);
      }
    }
  }

  label {
    cursor: pointer;
  }

  .validation {
    grid-area: validation;
    padding-bottom: 6rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &.alignee-droite {
      grid-area: droite;
      display: flex;
      gap: 1rem;
      justify-content: end;
    }
  }

  img {
    width: 100%;
    height: 212px;
    padding-bottom: 1rem;
  }

  .zone-choix-type-aidant {
    grid-area: entete;

    .liste-choix-type-aidants {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    label.selecteur-type-aidant {
      padding: 1rem 1rem;
      border-radius: .5rem;
      border: 1px solid var(--couleurs-mac-gris-leger);

      .zone-radiobutton {
        display: flex;
        gap: 1rem;
      }

      .selecteur-type-aidant-saisie-entite {
        display: none;
        padding: 0 1rem;

        &:first-child {
          border-left: 4px solid var(--couleurs-mac-violet-fonce);
        }
      }

      &:has(input[type="radio"]:checked) {
        border: 2px solid var(--couleurs-mac-violet-fonce);
        .selecteur-type-aidant-saisie-entite {
          display: flex;
          flex-direction: column;

          &:first-child {
            border-left: 4px solid var(--couleurs-mac-violet-fonce);
          }
        }
      }
    }


  }

  .zone-signature-charte-aidant {
    grid-area: entete;

    .zone-charte-defilable {
      border: 1px solid var(--couleurs-mac-gris-leger);
      border-radius: 8px;
      height: 500px;
      overflow-y: scroll;
      padding: 0 1.5rem 1.5rem 1.5rem;

      #retour-haut-de-page {
        display: none;
      }
    }
  }

  .zone-signature-cgu {
    grid-area: entete;
  }

  .zone-formulaire-devenir-aidant {
    grid-area: entete;
  }

  .zone-confirmation-formulaire-devenir-aidant {
    grid-area: entete;

    margin-top: 3rem;

    display: flex;
    gap: 1.5rem;

    .section {
      margin: 0;
    }
  }

  .separation-formulaire {
    border-top: none;
    margin: 32px 0;
    position: relative;
    z-index: 0;
    overflow: visible;
    width: 100%;

    &:before {
      content: "OU";
      display: block;
      position: absolute;
      left: 50%;
      z-index: 0;
      transform: translate(-50%, -50%);
      background: #fff;
      padding: 0 8px;
    }
  }

  .actions {
    display: flex;
    gap: 1rem;
  }
}

