div
    h5 CNIL
    p
        | Attention à ne pas tomber dans un contrôle de conformité au RGPD, ces informations ne seront pas partagées à
        | la CNIL. Si nécessaire, rappeler de manière pédagogique que le Règlement Général sur Protection des Données est
        | une obligation réglementaire qui s’applique à toute entité, publique et privée, qui gère et stocke des
        | données personnelles. La CNIL peut contrôler les organismes français, en cas de manquements constatés, elle
        | peut décider de les mettre en demeure ou de les sanctionner financièrement.
