div
    h5 Systèmes industriels
    p
        | Si l’entité est concernée, cette question s’applique également pour les prestataires disposant d’accès
        | informatiques sur les systèmes industriels
