div
    h5 Contrats des prestataires
    p
        | Cette question suppose que l’entité ait des contrats avec ses prestataires et sait lesquels ont accès à son
        | système d’information, sinon, nous vous invitons à cocher “Non, aucune exigence ne figure dans nos contrats
        | de prestation.”
    p
        | Exemples d’exigences pouvant être intégrées dans un contrat : changement des mots de passe par défaut ;
        | sécurisation des accès distants ; délai de déploiement des mises à jour critiques ; signalement en cas de
        | cyberattaque ; contractualisation d'un plan d'assurance sécurité (PAS).
