div
    h5 Données personnelles
    div
        | Exemples de données personnelles :
        ul
            li Données liées au personnel,
            li Données des clients ou des usagers,
            li Données des fournisseurs ou partenaires.
