div
    h5 À protéger en priorité
    div
        | Peuvent être jugées prioritaires :
        ul
            li les activités critiques, indispensables à l’activité,
            li les informations sensibles, confidentielles et/ou ne devant pas être volées et exfiltrées
    div
        | Exemples d’activités et de données à protéger en priorité, classées par ordre de priorité :
        ol
            li Production et données techniques de production
            li R&D et données d’industrialisation
            li Paie des salariés et données bancaires associées
            li Facturation et données clients
            li Courriels, agenda et données bureautiques associées
