div
    h5 Entités publiques
    p
        | Les entités publiques sont éligibles au service gratuit SILENE de l’ANSSI qui permet 
        | d’identifier la surface d’attaque des services exposés sur Internet. Pour y accéder, 
        | l’entité est invitée à s’orienter vers le service https://club.ssi.gouv.fr/