div
    h5 Entités publiques
    p
        | Les entités publiques sont éligibles au service gratuit SILENE de l’ANSSI qui permet d’identifier la surface
        | d’attaque des services exposés sur Internet.<br />
        | Pour y accéder, l’entité est invitée à contacter monaidecyber@ssi.gouv.fr.
