div
    h5 Utilisation des données personnelles
    p
        | Il existe une page d’information dédiée à l'utilisation des données personnelles et la gestion des droits d’informations et les moyens de les exercer
        | sur le site de la CNIL :
        |
        a(href="https://www.cnil.fr/fr/respecter-les-droits-des-personnes") https://www.cnil.fr/fr/respecter-les-droits-des-personnes
