div
    p
        | Il est préconisé d’identifier les personnels amenés à se déplacer les plus souvent, et plus particulièrement à
        | l’étranger, et de les sensibiliser aux risques particuliers relatifs aux déplacements professionnels et
        | sensibilisation ciblée auprès des agents effectuant des missions à l'étranger.
    p
        | Le
        |
        a(href="https://www.ssi.gouv.fr/uploads/IMG/pdf/passeport_voyageurs_anssi.pdf") passeport de conseils aux voyages de l’ANSSI
        |  peut être un premier élément de communication à leur transmettre, voire à lire avec eux.
    p
        | Une session de sensibilisation dédiée peut également être une bonne pratique.
