div
    | La mise en place d’une charte informatique permet de responsabiliser davantage les utilisateurs envers le risque
    | cyber et permet de garantir la connaissance des bonnes pratiques exigées par l’entité et responsabiliser l’utilisateur
    | face à ses propres usages des outils numériques. Elle participe à la sensibilisation/formation des utilisateurs.
