div
    | Après validation des représentants du personnel (si nécessaire), il est conseillé d’annexer la charte au contrat de
    | travail. La signature de la signature peut ainsi être réalisé à l’arrivée du collaborateur ou à la suite d’une séance
    | collective de lecture de la charte et/ou session de sensibilisation aux bonnes pratiques.
    p
        | Il est préconisé de définir ce process avec les équipes RH.
