div
    | Cette mesure permet de remettre au centre de la démarche de sécurisation les véritables enjeux de sécurité de
    | l’entité et de prioriser les efforts de sécurisation « au bon endroit ». Une réflexion exhaustive permet d’avoir
    | une vision détaillée de tous les enjeux de sécurité de l’entité.
