div
    p
        | Pour bien se protéger de manière adaptée et pour faire le point sur les besoins et les capacités numériques
        | actuels, il est nécessaire pour l’entité d’avoir une vision d’ensemble et une lisibilité quasi exhaustive de
        | son réseau informatique et à minima un schéma général. Cette lisibilité est nécessaire pour instaurer un dialogue
        | clair entre les différents interlocuteurs techniques et métiers et à décider des mesures de sécurité prioritaires à mener.
    p
        | La liste des interconnexions vers l’extérieur permet de mener des actions de sécurisation sur les adresses IP
        | exposées sur internet ce qui est un aspect fondamental de la sécurité d’un système d’information dans la durée
        | car elles représentent pour les hackers les principaux points d’accès et « portes d’entrée » au réseau informatique.
        | En effet, les services exposés sur internet peuvent être exploités par des acteurs malveillants ou par des robots.
    p
        | De mauvaises pratiques, des erreurs de configuration des équipements réseaux ou encore des oublis d’anciens
        | services obsolètes ont souvent comme résultat l’exposition d’interfaces d’administration ou de services internes
        | qui sont autant de points d’entrée dans le système d’information.
    p
        | En cas de cyberattaque et de crise, ce schéma et cette liste à d’interconnexions à jour seront les premiers
        | éléments d’information qui seront utilisées par les experts et prestataires à réponses à incident afin d’effectuer
        | un premier point de situation, d’appréhender le potentiel mode opératoire appliqué par le cyberattaquant et de
        | prendre les mesures d’endiguement et de sécurisation adaptées.
