div
     p
        | Les systèmes de messagerie sont un des principaux vecteurs d’attaques puisque très largement utilisés et
        | exposés sur internet, il convient donc de les sécuriser davantage. Une solution VPN "full-tunneling" imposera une
        | difficulté supplémentaire à un cyberattaquant car elle permet de sécuriser davantage les flux d'authentification.
     p
        | Par ailleurs, les systèmes de messagerie de type « webmail » sont par définition également exposées sur Internet et donc souvent
        | éprouvés par les cyberattaquants. Des vulnérabilités logiciels peuvent régulièrement apparaître et impactées ces systèmes. Elles
        | nécessitent ainsi un suivi assidu et réactif des mises à jour et des correctifs de sécurité, rendant leur maintenance très contraignante.


