div
    | Il est recommandé de créer un sous-réseau dédié au connexion wifi des visiteurs qui ne doit pas permettre
    | d'accéder au réseau interne mais seulement à Internet et avec SSID différent.
    p
        | Il est possible de créer des sous-réseaux et d’en paramétrer leurs différentes restrictions via la console d’administration
        | de la box. Seul un accès cablé/filaire devrait par ailleurs permettre l’accès à la console d’administration.
