div
    | Pour limiter la nuisance de ces courriels, en amont de leur réception par les utilisateurs, 
    | certains protocoles ont pour rôle de vérifier l’authenticité et l’intégrité des courriels. 
    
    | Ils nécessitent une configuration, non seulement par l’entité expéditrice sur les enregistrements 
    | DNS de ses noms de domaine, mais aussi par l’entité destinataire sur ses serveurs SMTP de réception. 
    
    Ces protocoles sont :
    li 
        | Sender Policy Framework (SPF) qui permet de spécifier les adresses IP des serveurs autorisés à
        | émettre les courriels d’un domaine ;
    li 
        | DomainKeys Identified Mail (DKIM) qui permet l’authentification du domaine de messagerie 
        | d’un courriel à l’aide d’une signature cryptographique ;
    li  
        | Domain-based Message Authentication, Reporting and Conformance (DMARC) qui permet notamment
        | à une entité de définir une politique de traitement de ses courriels envoyés en fonction
        | des résultats de conformité SPF et DKIM
div 
    | Par ailleurs, si vous ou votre prestataire héberge votre système de messagerie, vous devez vous assurer :
    | de l’activation du chiffrement TLS des échanges entre serveurs de messagerie (de l’entité ou publics) 
    | ainsi qu’entre les postes utilisateurs et les serveurs hébergeant les boîtes de messagerie électronique, 
    | en particulier pour les phases d’authentification.

    
    | Il est également souhaitable de ne pas exposer directement les serveurs de messagerie électronique 
    | d’entreprise sur Internet. Dans ce cas, un serveur relais dédié à l’envoi et à la réception des messages 
    | doit être mis en place en coupure d’Internet.