div
    | Déployer un pare-feu physique en mettant en place les mesures de cloisonnements suivants :
    ul
        li Protection de l’interconnexion du SI à Internet en bloquant les flux et ports non strictement nécessaires.
        li Journalisation des flux bloqués par le pare - feu.
        li
            | Pour les serveurs web : il est recommandé de « cloisonner » les serveurs accessibles depuis l’Internet dans
            | une « zone réseau » spécifique et de filtrer à nouveaux les flux / communications entre ces deux zones du
            | réseau de l’entreprise afin de limiter le risque qu’une compromission des serveurs exposés sur l’Internet
            | puisse s’étendre aux autres ordinateurs du réseau(le cloisonnement est réalisé par le pare - feu)
    p
        Il est préconisé de s’appuyer sur les compétences d’un prestataire externe, idéalement labellisé Expert Cyber,
        | pour la mise en œuvre de cette mesure.
