div
    | Des mesures de protection supplémentaires, permettant de limiter le risque d’une compromission des systèmes obsolètes et le risque de latéralisation
    | à partir d’un système obsolète devraient être mis en place.
    p
        | Les mesures de protection supplémentaires peuvent être (liste non exhaustive):
    ul
        li cloisonnement réseau dans une zone spécifique ([faire référence à la recommandation sur le cloisonnement]);
        li utilisation des services uniquement depuis des postes de travail dédiés ;
        li blocage de l’accès à Internet;
        li utilisation d’une base de compte spécifique (déconnexion du système de l’annuaire de l’entité);
        li blocage des périphériques de stockage externes (clés USB, disques durs, etc.)
        li sauvegarde plus fréquentes des données
        li filtrage au niveau “applicatif” (par exemple : mise en place d’un mandataire inverse filtrant les requêtes vers les services web)
        li surveillance accrue des journaux d’évènements du système et procédure d’urgence de mise en quarantaine en cas de suspicion de compromission
