div
    p
        | A minima la ou les salles stockant les infrastructures et équipements informatiques doi(ven)t disposer d'une porte
        | pouvant être fermée à clef, avec si possible une protection contre le duplicata, et idéalement un système de
        | déverrouillage par badge. 
    p   | Cette clef ou ces badges doivent être seulement accessibles aux seules personnes légitimes.
    p
        | Par ailleurs, il est également conseillé d’accompagner les prestataires durant leurs interventions au sein de la salle.
    p 
        | Il est également recommandé de mettre en place une politique de protection physique des documents et périphériques de stockages confidentiels. 
        | En demandant aux personnels de les stocker sous clé (ne pas les laisser “à la vue”, posés sur un bureau). Une protection contre le vol des 
        | ordinateurs traitant les informations confidentielles doit également être mise en place.
        | De plus, il est recommandé de mettre en oeuvre un processus de destruction des documents confidentiels avant leur mise au rebus : broyage des documents papier, 
        | effacement sécurisé ou destruction des périphériques de stockages.