div
    p
        | Il est recommandé de mettre en œuvre d’une solution d'anti-spam et d'anti-hameçonnage permettent de détecter et de
        | bloquer les mails malveillants (malware) ou non sollicités (spam). Certaines solutions traitent également le phishing
        | et le spear phishing parfois grâce à l’intelligence artificielle, d’autres intègrent des fonctionnalités de
        | sensibilisation (simulation d’attaque par phishing, programme de  e-learning).
    p
        | Il est préconisé de s’appuyer sur les compétences d’un prestataire externe, idéalement labellisé Expert Cyber ou référencé, 
        | par un campus cyber régional, pour la mise en œuvre de cette mesure.