div
    p
        | Au-delà des attaques s’appuyant sur la négligence des utilisateurs et sur l’ingénierie sociale, la majorité des
        | attaquants exploitent des vulnérabilités publiques et documentées pour s’introduire sur les systèmes d’information.
        | Ces vulnérabilités concernent principalement des services exposés sur Internet (par exemple un pare-feu, un équipement VPN, un proxy).
        | Qui plus est, les délais entre la publication d’une vulnérabilité et son exploitation par les attaquants ont tendance à diminuer.
        | Certaines campagnes d’attaques ont industrialisé l’exploitation de vulnérabilités seulement quelques jours après leurs révélations sur Internet.
    p
        | En mettant à jour les équipements de sécurité, dans les délais les plus courts possibles, ce risque sera signicativement réduit.
