div
    | Il convient de mettre en oeuvre les mesures complémentaires suivantes :
    ul
        li
            | Accès distant à la messagerie géré via une solution de type VPN seulement
        li
            | Si non jugé nécessaire, désactivation du portail internet de type webmail

    p
        | Il est préconisé de s’appuyer sur les compétences d’un prestataire externe, idéalement labellisé Expert Cyber,
        | pour la mise en œuvre de cette recommandation.
