div
    | Selon le niveau de sécurité souhaité, des mesures complémentaires, peuvent être mises en œuvre telles que (liste à corriger en
    | fonction des mesures déjà en place) :
    ul
        li Vidéoprotection
        li Traçage des entrées et sorties via un outil informatique dédié en s’appuyant sur un système de badge d’accès.
    ul 
    p Si jugé nécessaire, solliciter la visite d'un référent sûreté, pour plus d'informations : https://www.gendarmerie.interieur.gouv.fr/conseils/elus/le-referent-surete-un-expert-pour-vous-accompagner
    
     
