div
    p
        | En s’appuyant sur la liste des interconnexions extérieur existantes, il convient d’analyser et de fixer les besoins
        | métiers et techniques de connexion du SI industriel (machines-outils, sondes, caméras et autres objets connectés)
        | envers Internet et les autres réseaux partenaires. Sur cette base d’analyse, un pare-feu réseau dédié peut être mis en
        | œuvre afin de fermer tous les flux et ports non jugés strictement nécessaires.
    p
        | Il est recommandé de déconnecter tous les accès à Internet des systèmes industriels, si les contraintes métiers et opérationnelles le permettent.
    p
        | Il est préconisé de s’appuyer sur les compétences d’un prestataire externe, idéalement labellisé Expert Cyber ou référencé, par un campus cyber régional, 
        | pour la mise en œuvre de cette mesure.
