div
    | L’usage du Wi-Fi en milieu professionnel est aujourd’hui démocratisé mais présente toujours des risques de sécurité
    | bien spécifiques : pas de maîtrise de la zone de couverture pouvant mener à une attaque hors du périmètre géographique
    | de l’entité, configuration par défaut des points d’accès peu sécurisée, mise à disposition d’accès aux visiteurs etc.
