div
    | L’installation d’un pare-feu permet de stocker des logs et des journaux pour analyser les flux réseaux passant au
    | travers du pare-feu et ainsi pouvoir détecter d’éventuels tentatives d’intrusion. En cas de compromission avérée,
    | ces logs et journaux peuvent être utiliser à des fins de preuves et d’indices dans le cadre de la remédiation et
    | de l’enquête judiciaire.
