div
    p
        | En s’appuyant sur la liste des interconnexions extérieur existantes, il convient d’analyser et de fixer les
        | besoins métiers et techniques de connexion envers internet et autres réseaux partenaires. Sur cette base d’analyse,
        | tous les flux et ports non jugés strictement nécessaires doivent être fermés.
    p
        | Il est préconisé de s’appuyer sur les compétences d’un prestataire externe, idéalement labellisé Expert Cyber,
        | pour la mise en œuvre de cette mesure.
