div
    | Un accès physique aux locaux hébergeant les équipements (postes de travail, serveurs, équipements réseaux) rend certaines attaques possibles (ou plus faciles).
    | Par exemple:
    ul
        li  vol d’informations confidentielles en volant des ordinateurs, des périphériques de stockage de masse (clefs USB, disques durs) ou des documents imprimés (sur les bureaux, dans les poubelles, voire les bennes à ordures de l’entité, dans les imprimantes ou les photocopieuses);
        li attaques triviales sur la disponibilité (déni de service) : section des câbles réseau ou électriques, incendie, etc.
        li certaines vulnérabilités (notamment logicielles) peuvent n’être exploitable que localement, en étant directement devant le clavier et l’écran de l’ordinateur, une personne malveillante pourrait utiliser un accès local pour installer un implant logiciel lui permettant ultérieurement d’accéder à distance à l’ordinateur;
        li installation d’un implant physique visant à donner un accès à distance au réseau de la victime (dispositif connecté physiquement au réseau informatique et accessible, par l’attaquant à distance, via le réseau mobile).
        li compromission du compte d’administration locale: sauf si des mesures de sécurité spécifiques sont mise en œuvre, un accès physique à un ordinateur permet d’obtenir (ou d’installer un logiciel permettant d’obtenir) les privilèges d’administration de l’ordinateur.
    ul
    | Mettre en oeuvre un système de vidéoprotection permet de limiter ce type de risques, de potentiellement dissuader les personnes malveillantes et de mieux réagir en cas d’intrusion avérée.
