include securite-infrastructure-mises-a-jour-fonctionnelles-securite-equipements-securite-deployees-niveau1-pourquoi

div 
    | Quand les systèmes ne peuvent pas être mis à jour, il est possible de réduire le risque de compromission de ces systèmes obsolètes 
    | par des mesures de sécurité supplémentaires.