div
    | Plusieurs mesures de sécurisation peuvent être menées via la/les box wifi :
    ul
        li Chiffrement robuste de la connexion wifi, à minima WPA2
        li Mot de passe de connexion de 20 caractères minimum ;
        li Si concerné, journalisation des logs de connexion des visiteurs
