div
    p
        | Par défaut, le pare-feu génère un grand nombre de logs et de journaux, il convient d’analyser la configuration
        | des éléments journalisés (format, fréquence de rotation des fichiers, taille maximale des fichiers journaux,
        | catégories d’évènements enregistrés, etc.), de l’adapter en conséquence et de garder les éléments les plus
        | pertinents en fonction de votre système d’information (ex : recensement des flux et paquets internet entrants
        | et sortants, recensement des flux et des paquets bloqués, authentification réussie et rejeté).
    p
        | Ces éléments doivent être journalisés et gardés pendant au moins un an (ou plus en fonction des obligations
        | légales du secteur d’activités).
    p
        | Il est préconisé de s’appuyer sur les compétences d’un prestataire externe, idéalement labellisé Expert Cyber ou référencé, 
        | par un campus cyber régional, pour la mise en œuvre de cette mesure.
