div
    | Au-delà des mesures de sûreté de prévention, il est également préconisé de mettre en place des dispositifs de
    | dissuasion et de surveillance permettant à l’entité de pouvoir réagir efficacement en cas d’intrusion avérée.
