div
    ul
        li
            | Mise en œuvre d’une zone « démilitarisée » (DMZ), constituée de pare-feu mais aussi de services de rebond,
            | principalement pour la messagerie et la navigation Web.
        li
            | Segmentation du réseau interne en zones ayant des niveaux différents de sensibilité et d’exposition aux
            | menaces (zone des postes de travail utilisateurs, zone d’administration, zone des serveurs internes, zone
            | des serveurs exposés sur Internet).
        li
            | Pour les serveurs web : mise en place d’un pare-feu applicatif web (idéalement au travers d'un
            | accompagnement extérieur).
        p
            | Il est préconisé de s’appuyer sur les compétences d’un prestataire externe, idéalement labellisé Expert Cyber,
            | pour la mise en œuvre de cette mesure.
