div
    | Les antivirus sont très utiles à la protection des moyens informatiques : ils constituent une première ligne de
    | défense contre les attaquants. Un antivirus protège des menaces connues qui évoluent très rapidement :
    | des centaines de milliers de codes malveillants apparaissent chaque jour. Cet outil s’appuie sur une base de données
    | de signature virale, elle est l’élément qui permet l’identification de programmes et de fichiers malveillants :
    | sans sa mise à jour fréquente, la protection offerte par l'antivirus s'en trouve très rapidement plus restreinte.
    |_Il faut donc, pour cette raison, tenir à jour le logiciel en lui-même et sa base de données de signatures,
    | puis en vérifier leurs bonnes mises à jour.
