div
    | Pour les risques de vols de données et d’espionnage industriel, le chiffrement complet du disque dur des terminaux
    | portables (téléphone, ordinateurs) permet de réduire fortement les risques de vols de données suite à la perte ou
    | vol des terminaux. Les données stockées par un terminal chiffré resteraient inaccessibles à une personne qui l’aurait
    | en sa possession.
