div
    | Les postes de travail obsolètes, dont les systèmes ne sont plus supportés et/ou ne pouvant être mis à jour, représentent
    | un haut risque de compromission. Des mesures supplémentaires peuvent être mises à œuvre pour traiter ces cas particuliers
    | et sécuriser ces postes vulnérables.
