div
    h5 Données sensibles
    div
        | Nous vous invitons à vous focaliser sur les ressources et données qui étaient jugées prioritaires lors de la
        | question sur les informations et activités à protéger.
    div
        | Exemples de mesures acceptables :
        ul
            li Contraintes renforcées de robustesse et de longueur de mots de passe (16 caractères minimum)
            li Authentification multifacteur
            li Protection des données dans un conteneur chiffré “à froid” et lors d’un transfert via Internet (ex : mail)
            li Utilisation d'une solution de Data Loss Prevention permettant de limiter les fuites de données
