div
    h5 Comptes d’administration
    div
        | NB : cette question traite des comptes d'administration systèmes sur les serveurs, infrastructures etc.
        | L'administration locale des postes de travail est traitée dans la question sur les utilisateurs
        | administrateurs de leurs postes.
    div
        | Exemple de restrictions :
        ul
            li
                | Tous les administrateurs utilisent en parallèle un compte utilisateur sans privilèges pour les usages
                | du quotidien (ex : surf sur internet, messagerie, etc.)
            li 1 seul compte administrateur du domaine
            li Le compte administrateur du domaine n’est utilisé qu’exceptionnellement
            li
                | Le compte d’administration de la solution de sauvegarde différent n’est pas géré via l’annuaire
                | centralisé (ex : Active Directory, Samba-AD)
