div
    h5 Accès et comptes prioritaires
    p
        | Les accès et comptes utilisateurs à maitriser en priorité sont ceux permettant d’ouvrir une session sur le
        | poste de travail et ceux permettant d’accéder aux données jugées les plus sensibles. Selon les cas, ces accès
        | et comptes sont gérés via un Active Directory et/ou un service Cloud et/ou applicatif(s) métier(s).
