div
    h5 Active Directory, Samba-AD
    p
        | À partir d’un parc informatique d’une dizaine de postes, il est fortement recommandé de s’appuyer sur une
        | solution de type Active Directory ou Samba-AD, et de ne plus s’appuyer sur un réseau en “Workgroup” afin
        | d’homogénéiser le niveau de sécurité des postes de travail.
