div
    h5 Entités publiques
    p
        | Les entités publiques sont éligibles au service gratuit ADS de l’ANSSI qui permet de contrôler le niveau
        | de sécurité de leur annuaire centralisé.
