div
    h5 Entités publiques
    p
        | Les entités publiques sont éligibles au service gratuit ADS de l’ANSSI qui permet d’analyser le niveau de sécurité de l’annuaire centralisé.
        | Pour y accéder, l’entité est invitée à contacter monaidecyber@ssi.gouv.fr.
