div
    h5 Comptes d’administration
    p
        | NB : cette question traite des comptes d'administration systèmes sur les serveurs, infrastructures etc.
        | L'administration locale des postes de travail est traitée dans la question sur les utilisateurs
        | administrateurs de leurs postes
