div
    h5 Authentification renforcée
    div
        | Pour répondre aux exigences de la réponse “Oui, des mesures renforçant l’authentification ont été mises en œuvre”,
        | l’entité doit appliquer au moins les premières mesures suivantes :
        ol
            li Modification des mots de passe par défaut
            li Contraintes renforcées de robustesse et de longueur de mots de passe (16 caractères minimum)
            li
                | Stockage des mots de passes d’administration des services critiques (ex : annuaire centralisé,
                | sauvegarde, messagerie) en dehors du système d’information (ex : feuille papier dans un meuble
                | fermé à clef, coffre-fort, etc)
