div
    h5 Mots de passe
    div
        | Exigence minimale acceptable :
        ul
            li Longueur de mots de passe à minima de 12 caractères si compte non administrateur local
            li Longueur de mots de passe à minima de 16 caractères si compte administrateur local
            li Construction complexe avec par ex l’utilisation de minuscules, majuscules, chiffres et caractères spéciaux
            li 1 renouvellement annuel des mots de passe, et lors d'une suspicion d'une cyberattaque 
