div
    h5 Authentification multifacteur
    div
        | Exemples de facteur d’authentification :
        ul
            li l’usage d’une carte à puce et d’un code PIN d’authentification ;
            li l’usage d’un token physique et d’un code PIN d’authentification ;
            li
                | l’utilisation d’une application dédiée sur un smartphone idéalement professionnel
                | (ex : Windows Authentificator, Twilio Authy, etc.), ou à défaut un code envoyé par sms idéalement
                | sur un téléphone professionnel
