div
    h5 Administration locale des postes
    p
        | Cette question traite du privilège d'administration local des comptes utilisateurs sur leur poste de travail, 
        | il permet par exemple aux utilisateurs d'être autonome dans l'installation d'applications et la configuration de leur machine.  
    p
        | Si le personnel est autorisé à utiliser son matériel personnel (BYOD) pour travailler et accéder aux
        | systèmes d’information de l’entité, nous vous invitons à cocher “Oui”.
