div
    | Il est recommandé d'activer les fonctions de mises à jour automatique proposées par les éditeurs. Pour certaines mises
    | à jour importantes (systèmes d’exploitation serveurs, base de données, etc.) un délai de qualification interne
    | peut être nécessaire pour s’assurer que la mise à jour n’impacte pas le bon fonctionnement du système. Des exceptions
    | peuvent être rencontrées (exemple : applications métiers ne fonctionnant que via un système obsolète), mais il
    | convient alors de bien les identifier comme à risque.
