div
    | La mise en œuvre de cette mesure a pour objectif de limiter le risque de latéralisation (étape d’une attaque pendant
    | laquelle un attaquant qui aurait pris le contrôle d’un ordinateur du réseau étend sa prise de contrôle à un sous-ensemble
    | plus grand d’ordinateur du réseau, en allant jusqu’à la totalité des ordinateurs et équipements industriels connectés
    | du réseau) d’une attaque. En effet, en l’absence de restrictions d’interconnexions entre le réseau industriel et
    | l’environnement bureautique (appelé également « réseau interne » ou « réseau administratif »), la compromission
    | d’un de ces 2 réseaux pourrait rapidement engendrer la compromission de l’autre et dans certains cas impacter la
    | chaîne de production.
