div
    p
        | Si votre SI industriel est interconnecté à l’environnement bureautique et/ou Internet, le filtrage des flux et
        | des communications réseaux réalisé par un pare-feu est la première fonction de sécurité à mettre en œuvre afin
        | de limiter le risque de compromission directe du réseau industriel à partir d’Internet ou de l’environnement
        | bureautique. Les machines-outils, sondes ou équipements industriels rendus accessibles depuis l’Internet à sont
        | très fortement exposés à un risque d’attaque informatique.
    p
        | Pour que ce filtrage soit efficace, il ne doit pas être configurer pour laisser passer tous les flux et toutes
        | les communications. Au contraire, il est recommandé que seules les communications nécessaires soient autorisées.
        | Par ailleurs, ce type d’équipement permet aussi la journalisation des flux bloqués par le pare-feu et ainsi
        | d’identifier les tentatives d’intrusion.
