div
    p
        | En s’appuyant sur la liste des interconnexions extérieur existantes, il convient d’analyser et de fixer les besoins
        | métiers et techniques de connexion du SI industriel (machines-outils, sondes, caméras et autres objets connectés)
        | envers internet et autres réseaux partenaires. Sur cette base d’analyse, un pare-feu réseau dédié peut être mis en
        | œuvre afin de fermer tous les flux et ports non jugés strictement nécessaires.
    p
        | Si non nécessaire au SI industriel et si possible, il peut être aussi envisagé de déconnecter tous les accès internet.
    p
        | Il est préconisé de s’appuyer sur les compétences d’un prestataire externe, idéalement labellisé Expert Cyber,
        | pour la mise en œuvre de cette mesure.
