div
    | Les mécanismes de sécurité physique doivent faire partie intégrante de la sécurité des systèmes d’information afin
    | de s’assurer qu’ils ne puissent pas être contournés aisément par un attaquant qui privilégie un mode opératoire
    | « physique ». Il convient donc d’identifier les mesures de sécurité physique adéquates et de sensibiliser
    | continuellement les utilisateurs aux risques engendrés par le contournement des règles.
