div
    p
        | Le filtrage des flux et des communications réseaux réalisé par un pare-feu est la première fonction de sécurité à
        | mettre en œuvre afin de limiter le risque de compromission directe du réseau interne à partir d’Internet. Les serveurs
        | rendus accessibles depuis l’Internet à des ordinateurs « non maîtrisés » (ordinateurs quelconques sur l’Internet)
        | sont plus exposés à un risque d’attaque informatique que les ordinateurs accessibles uniquement des autres ordinateurs
        | de l’entité.
    p
        | Pour que ce filtrage soit efficace, il ne doit pas être configurer pour laisser passer tous les flux et toutes
        | les communications. Au contraire, il est recommandé que seules les communications nécessaires soient autorisées.
        | Par ailleurs, ce type d’équipement permet aussi la journalisation des flux bloqués par le pare-feu et ainsi
        | d’identifier les tentatives d’intrusion.
