div
    | Tout d'abord, il est nécessaire de s'assurer que chacune des prestations est liée à un contrat avec le prestataire.
    | Puis, il convient de confirmer si un accès aux systèmes industriels est nécessaire.
    | Enfin, il est recommandé de lister les mesures et les bonnes pratiques de sécurité à exiger aux prestataires au travers d’un clausier cyber type.
    | Ces exigences de sécurité doivent être sélectionnés avec prudence, d’une part en fonction des spécificités des systèmes industriels , d’autre
    | part en tenant compte de la nature des prestations externalisées.
    div
        Ces mesures pourraient par exemple portées sur :
        ul
            li le recensement et justification des dispositifs de télémaintenance
            li la sécurisation des accès distants (ex : chiffrement et filtrage des flux d’administration, utilisation
                | des comptes d’administration nominatifs avec privilèges limités au strict nécessaire sauf contrainte
                | justifiée, double authentification ou authentification via VPN seulement etc.),
            li le renforcement de la robustesse et complexité des mots de passe utilisés (16 caractères minimum,
                | utilisation d’un coffre-fort de mots de passe, etc.),
            li la protection antivirale des postes et serveurs d’administration
            li l’interdiction d’utiliser des équipements et adresses mails personnels
            li l’application et le déploiement des mises à jour et correctifs de sécurité critiques dans un délai d’une semaine
            li la réalisation de sauvegarde et de tests de restauration selon la période jugée acceptable par l’entité
            li l’assurance d’une continuité et d’une reprise d’activité selon les délais jugés acceptable par l’entité
            li la journalisation des logs de connexion et d’administration
    div
        | Pour aller plus loin un exemple de plan d'assurance sécurité a été formalisé par l'ANSSI
        | dans le guide "Maîtriser les risques de l'infogérance" :
        | |
        | a(href="https://cyber.gouv.fr/sites/default/files/IMG/pdf/2010-12-03_Guide_externalisation.pdf" target="_blank")
        |     | https://cyber.gouv.fr/sites/default/files/IMG/pdf/2010-12-03_Guide_externalisation.pdf
