include gouvernance-schema-si-a-jour-niveau1-pourquoi
div
    | En complément des informations précédentes, le schéma et un inventaire des interconnexions à jour sont d’autant
    | plus nécessaire sur le réseau industriel puisqu’un incident informatique sur ce dernier peut avoir des répercussions grave sur la production.
