div
    | La liste des activités et des données peut être établie de manière collective durant une réunion de réflexion
    | impliquant les décideurs où chaque contributeur énumère ses priorités à son échelle et où un consensus ou arbitrage
    | est réalisé en fin de réunion. Doivent être jugés prioritaires, les activités et données jugées indispensables pour
    | assurer l’activité de l’entité ou jugées confidentielles ne devant pas être volées et exfiltrées.
    div Cette liste, énumérant 5 activités et données à protéger en priorité, peut ensuite être formalisée sur une fiche A4 sous la forme ci-dessous.
    div Activités et données à protéger en priorité, classées par ordre de priorité :
        ul
            li 1.Production et données techniques de production
            li 2.R&D et données d’industrialisation
            li 3.Paie des salariés et données bancaires associées
            li 4.Facturation et données clients
            li 5.Mail/Agenda et données
