div
    | Il s’agit d’une exigence réglementaire, principe fondateur au cœur du RPGD. Les individus ont des droits sur leurs
    | données : vous devez les en informer et leur permettre de les exercer.
