div L’équipe informatique (ou le prestataire) doit lister de manière exhaustive :
    ul
        li tous les équipements physiques composant le système d’information, incluant les équipements réseaux
            | (routeur, switch/commutateur, borne-wifi, pare-feu et autres équipement de sécurité), les serveurs
            | (en précisant leurs fonctionnalités), les infrastructures de sauvegarde, les postes de travail utilisateurs
            | et les supports mobiles interconnectés au réseau
        li tous les applicatifs et composants logiciels installés, en précisant leur nature, leurs fonctions principales et éventuellement leurs versions
        li la liste des machines-outils, capteurs ou autres équipements industriels connectés au réseau et/ou à l’internet
