div
    | Au sein de chaque service de l’entité, une réflexion doit être menée afin d’établir la liste exhaustive des
    | activités et des données à protéger en priorité au sein de ce service. Après avoir centralisé l’ensemble des
    | listes établies par les services, une réunion de réflexion impliquant les décideurs doit être menée afin de
    | prioriser ces éléments selon par exemple 3 critères : indispensable, important, dispensable. Cette réflexion doit
    | être réactualisée à minima tous les 3 ans avec les décideurs.
