div
    | La charte doit tout à minima contenir les éléments suivants :
    ul
        li
            | répertorier les moyens informatiques mis à disposition
        li
            | clarifier la gestion des terminaux personnels au sein de l’entité (interdit et/ou accepté selon des
            | modalités bien précisées)
        li
            | rappeler les exigences de cybersécurité liées à la gestion des comptes d'accès, des mots de passe, des données
            | à protéger en priorités, de l'utilisation de la messagerie et des ressources cloud
        li
            | informer les collaborateurs de la bonne attitude et des bons réflexes à avoir en cas d'incident avéré
        li
            | lister les moyens et conditions d'administration en place (exemple : systèmes automatiques de filtrage,
            | systèmes automatiques de traçabilité, systèmes de gestion du poste de travail)
        li
            | préciser les responsabilités et les sanctions encourues en cas de non-respect de la charte
