div
    | Il est préconisé de mener des actions de sensibilisation additionnelles pouvant inclure (liste à corriger en
    | fonction des actions déjà réalisées) :
    ul
        li Sensibilisation des nouveaux arrivants
        li Intervention auprès du CODIR
        li Réalisation de tests de connaissance des bonnes pratiques de sécurité auprès des collaborateurs.
        li Campagne de faux phishing qui consiste à « tester » la capacité des utilisateurs à détecter un mail piégé
