div
    | La mise en annexe au contrat de travail de la charte informatique permet de la rendre opposable aux salariés, et
    | en dernier recourt de sanctionner un salarié qui ne la respecterait pas.
