div
    h5 Attaque ciblée
    p
        | Si oui, des questions additionnelles liées à la maîtrise des accès utilisateurs et à la sécurisation
        | des données jugées sensibles seront abordées.
    p
        | Exemples d’informations et de données pouvant être faire l’objet d’une attaque ciblée : secrets industriels, données de R&D,
        | brevets d'invention, données innovantes jugées vitales pour l’activité de l’entité, données clientes confidentielles.
