div
    h5 Attaque ciblée
    p
        | Si oui, des questions additionnelles liées à la maîtrise des accès utilisateurs et à la sécurisation
        | des données jugées sensibles seront abordées.
    p
        | Exemples d’informations et de données pouvant être faire l’objet d’une attaque ciblée : secrets industriels, R&D,
        | brevets, données commerciales jugées vitales pour l’activité de l’entité, vol des données en interne,
        | données clients confidentielles.
