div
    h5 Acceptation des conditions générales d’utilisation
    p
        | Si la case côchée est non, il est exigé :
        ul
            li
                | que l’entité diagnostiquée accepte en prérequis ces CGU via le formulaire suivant :
                |
                a(href="https://www.monaidecyber.ssi.gouv.fr/demande-aide" target="_blank") https://www.monaidecyber.ssi.gouv.fr/demande-aide
                |
            li
                | de préciser qu’elle est déjà en relation avec un Aidant.
        | À l’avenir ce procédé sera automatisé avant chaque diagnostic et cette question ne sera donc plus posée.
