div
    h5 Statistiques anonymes
    p
        | Attention, bien préciser à l’entité que cette question est utile à des fins de statistiques anonymisées.
        | Aucune action ne sera menée si jamais elle n’a pas déposé plainte suite à une cyberattaque.
