div
    h5 Entités publiques
    p
        | Les entités publiques sont invités à contacter monaidecyber@ssi.gouv.fr pour bénéficier à des outils
        | complémentaires d’audits automatisés de l’ANSSI. <br />
        | Les entités publiques pourront se voir proposer, lors de la restitution, l’accès à des outils
        | complémentaires de l’ANSSI.
