div
    h5 Entités publiques
    p
        | Les entités publiques sont invitées à s'orienter vers le service https://club.ssi.gouv.fr/ pour bénéficier d'outils
        | gratuits d’audits automatisés de l’ANSSI.
