div
    h5 Systèmes industriels
    p Si oui, des questions dédiées à la sécurité des systèmes industriels seront abordées.
    p
        | Exemples de systèmes industriels : objet ou machine industrielle connectée, automates programmables, systèmes
        | numériques de contrôle-commande, systèmes instrumentés de sécurité, capteurs et actionneurs,  bus de terrain,
        | logiciels de supervision et de contrôle SCADA, logiciels de gestion de production assistée par ordinateur (GPAO, GMAO, MES),
        | logiciels d’ingénierie et de maintenance, systèmes embarqués, Gestion Technique Centralisée (GTC), Gestion Technique du Bâtiment (GTB),
        | équipements biomédicaux, etc.
