div
    | Il est donc nécessaire de compléter le dispositif de sauvegarde existant par des sauvegardes dites « hors ligne »
    | et déconnectées, qui ne seront pas accessibles par un attaquant en cas de compromission totale de l’environnement
    | bureautique et des postes d’administration (non accessible via l’outil de gestion centralisé des politiques de sécurité
    | et l’annuaire centralisé ou via internet directement hors cloud privé).
    p
        | Il peut s'agir d'un support physique comme
        | un disque dur externe, à déconnecter impérativement du système d'information à l'issue de la sauvegarde. Ce type
        | de support réduit le risque d'une compromission des données qu’il contient mais n'est pas à l'abri d'un vol, d'une
        | destruction ou d'un dysfonctionnement.
    p
        | Certains services de sauvegarde spécialisés via un cloud privé peuvent aussi
        | apporter les garanties de déconnexion recherchées. Mais ceux-ci doivent être explicitement souscrits auprès du
        | fournisseur de service cloud et leur efficacité de cloisonnement doit être vérifiée. Le rythme de cette sauvegarde
        | « hors ligne » doit idéalement être défini avec les décideurs.
    p
        | Pour les entités ayant un risque d’espionnage industriel et d’exfiltration de données sensibles (exemple : R&D),
        | il est aussi préconisé de chiffrer les données du jeu de sauvegarde hors ligne.
    p
        | Il est préconisé de s’appuyer sur les compétences d’un prestataire externe, idéalement labellisé Expert Cyber ou référencé,
        | par un campus cyber régional, pour la mise en œuvre de cette mesure.
