div
    | Il est recommandé de définir lors d’une réunion dédiée avec les décideurs de l’entité et l’informatique :
    | les priorités métier à rétablir en cas de crise, des fiches réflexes opérationnelles garantissant la continuité
    | d'activité au travers de modes dégradés défini avec les métiers et des moyens et modalités de communication de crise.
    p
        | Il est aussi recommandé d’exercice de crise d’origine cyber pour éprouver le dispositif de gestion de crise
        | et s’assurer que les fiches réflexes et les modes dégradés sont bien adaptés
    p
        | Il est ensuite conseillé de formaliser et imprimer plusieurs versions papiers des fiches réflexes et procédures de modes dégradés.