div
    | Une personne de l’entité ou un de ses prestataires doit surveiller quotidiennement la publication, par le CERT-FR, des alertes de sécurité.
    | Ces alertes de sécurité sont publiées gratuitement sur le site du CERT-FR :
    |
    a(href="https://www.cert.ssi.gouv.fr/alerte/") https://www.cert.ssi.gouv.fr/alerte/
    | et via le flux RSS
    a(href="https://www.cert.ssi.gouv.fr/alerte/feed/") https://www.cert.ssi.gouv.fr/alerte/feed/
    | .
    |
    | Sur demande à cert-fr@ssi.gouv.fr, il est aussi possible de recevoir ces alertes par messagerie électronique.
    | Si une alerte concernant un produit utilisé dans l’entité est publiée, il faut alors mettre en œuvre les recommandations
    | détaillées dans l’alerte.
    |
    | Ces recommandation peuvent notamment concerner la mise en œuvre de mesures d’atténuation du risque ou de détection de compromission.
    a(href="https://www.cert.ssi.gouv.fr/") https://www.cert.ssi.gouv.fr
