div
    | Il arrive que des vulnérabilités logicielles soient publiées sans que les mises à jour de sécurité correspondantes aient
    | été mises à disposition par les éditeurs. Un suivi régulier des vulnérabilités de sécurité permet de prendre connaissance
    | des dernières failles critiques exploitables par les cyberattaquants afin de les corriger par anticipation.
    |
    | En effet, des outils malveillants exploitant ces vulnérabilités peuvent alors se diffuser rapidement sur Internet.
    | Dans un tel cas, selon la nature de la vulnérabilité et l’impact que pourrait avoir son exploitation dans le/les réseau(x) de l’entité,
    | la mise en œuvre de mesure de protection spécifique permettant d’en empêcher l’exploitation ou d’en détecter les tentative d’exploitation
    | permettent d’améliorer transitoirement (le temps que les éditeurs publient une mise à jour) la sécurité des systèmes.
