div
    | Il est recommandé d’identifier en amont d’une crise la liste des contacts pouvant inclure par exemple :
    ul
        li L'équipe ou le prestataire informatique de l'organisation
        li Le contact local cyber de la police ou la gendarmerie, à minima noter le 17
        li
            | Un prestataire spécialisé dans la réponse aux incidents de sécurité, sinon s’appuyer sur
            |
            a(href="https://www.cybermalveillance.gouv.fr/diagnostic/accueil") https://www.cybermalveillance.gouv.fr/diagnostic/accueil
            |
        li
            | Le CSIRT régional
            |
            a(href="https://www.cert.ssi.gouv.fr/csirt/csirt-regionaux/") https://www.cert.ssi.gouv.fr/csirt/csirt-regionaux/
            |
            | (ou à défaut le délégué ANSSI régional :
            |
            a(href="https://www.ssi.gouv.fr/agence/cybersecurite/action-territoriale/")
            |
        li
            | CNIL en cas de suspicion de vols et d'exfiltration de données personnelles
            |
            a(href="https://www.cnil.fr/fr/notifier-une-violation-de-donnees-personnelles") https://www.cnil.fr/fr/notifier-une-violation-de-donnees-personnelles
            |
        li
            | Si contrat d'assurance souscrit, son service d'assurance cyber
            |
            a(href="https://www.cybermalveillance.gouv.fr/diagnostic/accueil") https://www.cybermalveillance.gouv.fr/diagnostic/accueil
            |
            | Il est ensuite conseillé de formaliser et imprimer plusieurs versions papiers de cette liste.
