div
    | Quel que soit le support utilisé pour le jeu de sauvegarde « hors-ligne, des tests réguliers de restauration doivent
    | être menés, à minima une fois par semestre. En vérifiant, qu’après la restauration que l’intégrité des données à
    | protéger en priorité est bien conforme.
    p
        | Il est préconisé de s’appuyer sur les compétences d’un prestataire externe, idéalement labellisé Expert Cyber ou référencé,
        | par un campus cyber régional, pour la mise en œuvre de cette mesure.
