div
    | Une cyberattaque peut être à l’origine d’une véritable crise d’ordre générale au sein d’une 
    | entité, on parle alors de crise d’origine cyber. Les victimes d’une cyberattaque se retrouvent 
    | souvent déstabilisées, sidérées et en panique ne savant plus vers qui se retourner, qui contacter 
    | pour être accompagné et avoir les bons réflexes pour bien réagir, de manière rapide et limiter les impacts sur l’entité.
