div
    | Tout d’abord, il convient de définir, avec les décideurs au travers d’une réunion dédiée, le rythme de sauvegarde
    | à mettre en place selon le type et la criticité des données.
    p
    | Puis, il est nécessaire d’identifier les supports et les moyens utilisés pour réaliser les sauvegardes (exemple :
    | serveur de sauvegarde dédié en ligne, serveur de sauvegarde dédiée hors ligne, cartouches, disques externes, cloud
    | privé d’un fournisseur, etc.). Il est fortement recommandé d’appliquer la règle simple « 3-2-1 » : 3 copies de
    | sauvegarde différentes, sur 2 supports différents dont 1 hors site (dans une autre zone géographique). Il est conseillé de s’appuyer sur un prestataire
    | labellisé Expert Cyber pour mettre en œuvre cette recommandation.
