div(class="fr-container restitution")
    div(class="fr-grid-row")
        div(class="fr-col-md-9 fr-col-9 section")
            div(class='fr-pt-md-5w' id="autres-mesures")
                include ../../html/modeles/autres-mesures
script
    include ./ressources/ouvre-mesures.js
