doctype html
html(lang = 'fr')
    head
        meta(charset='utf-8')
        meta(name = 'viewport', content = 'width=device-width')
        title Document PDF

        style
            include ressources/dsfr.core.min.css
            include ressources/fonts.css
            include ressources/images.css
            include ressources/restitution.css
            include ressources/styles.css
            include ressources/tourDePage.css

    body

        block entete
