div(class="restitution")
    div(id="mesures-prioritaires")
        h4 6 mesures prioritaires pour passer à l'action
        each mesure, index in mesures
          h6(class="titre-mesure") !{index + 1} . !{mesure.titre}
        br
        h4 Détail des mesures
        include ../../html/modeles/mesures-detaillees
script
    include ./ressources/ouvre-mesures.js
