extends base

block page
    h2 Les autres mesures
    each mesure, index in mesures
        div
            h3=index + 7 + '. ' + mesure.titre
            div
                h4 Pourquoi?
                div
                    | !{include(mesure.pourquoi)}
            div
                h4 Comment mettre en œuvre cette mesure ?
                div
                    | !{include(mesure.comment)}
