.piedpage
    div
        span.mac MonAideCyber&nbsp;·&nbsp;
        span.identifiant ID !{identifiant}
    .pagination
        span Page &nbsp;
        .pageNumber
        span /
        .totalPages
