extends base

block page
    div(class="page-de-garde")
        div
            .logo-republique-francaise-anssi
        div
            h2 Votre diagnostic cyber
            p Généré le !{dateGeneration.date} -  ID !{identifiant}
