.piedpage
    div(class="lien")
        div(class="msc") MesServicesCyber
        div(class="identifiant") &nbsp; - !{mesServicesCyber}
    .pagination
        span Page &nbsp;
        .pageNumber
        span /
        .totalPages
