extends base

block page
    div(class="page-de-garde")
        .logo-republique-francaise-anssi
        .logo-mac
        .illustration-dialogue-mac
        h1 Restitution de votre diagnostic MonAideCyber
        p Généré le !{dateGeneration.date}
        h2 ID !{identifiant}
