div
    | Avant de définir ces processus, il convient d’organiser une réunion entre les administrateurs (prestataire inclus),
    | et si nécessaire les services et ACHAT, pour identifier les modes opératoires et pratiques les plus accessibles et
    | efficaces pour chaque partie prenante ayant pour objectif de maitriser davantage les comptes administrateurs.
    | Il peut s’agir par exemple d’un mail des RH et/ou des ACHAT vers l’administrateur afin d’un mouvement de personnel
    | ou changement de prestataire. En complément, les revues régulières et la justification de chaque compte administrateur
    | administrateurs doivent être maintenues. Si jugé applicable, des profils types métiers « administrateurs », détaillant
    | les accès administrateurs nécessaires, peuvent également être coconstruits entre les RH, ACHAT et les équipes informatiques.
    | Pour chaque nouveau projet informatique (application, migration, infrastructures, changement de prestataire),
    | il est nécessaire de confirmer l’intérêt et justifier chacun des nouveaux accès d’administration
