div
    | Cette mesure permet de diminuer le risque de découverte et d'usurpation de mots de passe par des acteurs malveillants,
    | par exemple, en testant de nombreux mots de passe sur la base de mots de dictionnaires, à la recherche de mots de
    | passe simples à découvrir.'
