
.separation-realiser-diagnostic {
  border-top: none;
  margin: 32px 0;
  position: relative;
  z-index: 1;
  overflow: visible;
  width: 100%;

  &::before {
    content: 'OU';
    display: block;
    position: absolute;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    background: white;
    padding: 0 8px;
  }
}
