div
    p
        | Dans la majorité des cas, ce type de solution peut être mis à disposition par le prestataire
        | informatique ou éditeur qui vous met à disposition sur la solution d’anti-virus.
        | Si non, il est préconisé de s’appuyer sur les compétences d’un prestataire externe, idéalement
        | labellisé Expert Cyber ou référence par un Campus Cyber régional, pour la mise en œuvre de cette recommandation.
    p
        | Par ailleurs, l’utilisation d’une telle solution nécessite une supervision et un traitement des alertes remontées par l’outil.
