div
    p
        | L’activation d’un pare-feu préinstallé sur le poste de travail et son paramétrage par défaut
        | (qui bloque toute connexion entrante), constituent un premier niveau de protection. Un pare-feu local
        | (qu’il soit intégré au système d’exploitation ou qu’il soit une solution logicielle tierce), doit ainsi être installé
        | sur tous les postes de travail. Il est recommandé d’assurer l’homogénéité des configurations et de la politique de filtrage des flux.
    p
        | Certains pare-feux sont également commercialisés en complément de suites logicielles antivirales.
    p
        | Il est également recommandé de vérifier régulièrement leur activation sur tous les postes de travail.
        | Selon les résultats des investigations, il pourra alors être nécessaire d’étendre la levée de doute à l’ensemble
        | des équipements qui ont été contactés par le poste en cause afin d’identifier une extension du périmètre de
        | compromission ou simplement de corriger l’erreur ou le bug.
    p
        | Enfin, afin de faciliter les investigations numériques en cas de compromission, il est recommandé de stocker
        | localement les journaux d’évènements du pare-feu local en enregistrant les évènements du type « connexion refusée ».
