div
    p
        | Il est recommandé d'activer les fonctions de mise à jour automatique des postes de travail dès qu’elles proposées par les éditeurs.
    p
        | Pour les mises à jour et les migrations les plus importantes, des tests et une qualification en interne (ou de votre prestataire)
        | peuvent être réalisés en amont pour s’assurer du bon fonctionnement de l’installation de la/les mise(s) à jour. 
    p
        | Si jugé nécessaire, il peut être envisagé de mettre en œuvre un serveur de gestion des mises à jour centralisant
        | permettant de monitorer et de déployer les mises à jour de manière automatique sur tous les postes.
        | Pour cela, il est préconisé de s’appuyer sur les compétences d’un prestataire externe, idéalement labellisé
        | Expert Cyber ou référencé par un Campus Cyber régional, pour la mise en œuvre de cette recommandation.
