div
    | Pour renforcer davantage la sécurité des postes de travail, il peut être envisagé de mettre en 
    | œuvre une solution de type EDR (Endpoint Detection & Response) pour renforcer la sécurité sur les 
    | postes de travail et réduire fortement les risques de compromission du SI par rançongiciel via les 
    | postes de travail attaques. 
    | Cet outil complémentaire à un outil anti-virus permet de détecter des attaques qui n’utilisent que 
    | des outils légitimement présents sur un ordinateur (ce qu’un antivirus classique ne peut pas faire). 
