div
    p
        | Il est nécessaire de traiter systématiquement les alertes générées par l’antivirus.
    p
        | Afin de maintenir un niveau de vigilance élevé de la part des utilisateurs (qui ne doivent pas considérer les alertes
        | de l’antivirus comme une chose normale/habituelle), il est recommandé de contacter l’utilisateur du poste sur
        | lequel une alerte antivirus a été générée.
    p
        | Très régulièrement (à minima 1 fois par semaine), il est conseillé de surveiller et d’analyser la console
        | d’administration de la solution antivirale. Cette console permet également de s'assurer que les antivirus sont
        | installés sur tous les postes, qu'il est actif et que sa base virale est à jour, et ainsi d'identifier les postes
        | pour lesquels ce n'est pas le cas.
    p
        | Il est préconisé de s’appuyer sur les compétences d’un prestataire externe, idéalement labellisé Expert Cyber,
        | pour la mise en œuvre de cette recommandation.

