div
    p
        | | Il est recommandé d'activer les fonctions de mise à jour automatique des postes de travail dès qu’elles proposées par les éditeurs.
    p
        | La mise à jour d'un produit ou d'un logiciel est une opération délicate qui doit être menée avec prudence. 
        | Il est notamment recommandé d'effectuer en amont des tests autant que possible. 
        | Des dispositions doivent également être prises pour garantir la continuité de service en cas de difficultés 
        | lors de l'application des mises à jour comme des correctifs ou des changements de version.
    p
        | Si jugé nécessaire, il peut être envisagé de mettre en œuvre un serveur de gestion des mises à jour centralisant
        | permettant de monitorer et de déployer les mises à jour de manière automatique sur tous les postes.
        | Pour cela, il est préconisé de s’appuyer sur les compétences d’un prestataire externe, idéalement labellisé
        | Expert Cyber ou référencé par un Campus Cyber régional, pour la mise en œuvre de cette recommandation.
