div
    | Tous les logiciels peuvent contenir des bugs. Ces bugs peuvent être utilisés par les cyberattaquants afin de déclencher
    | des effets qui leurs sont favorables, on parle alors d'exploitation de vulnérabilités. Par exemple, si un utilisateur qui ne disposait
    | que de privilèges restreints sur son poste, mais que le système d’exploitation de ce poste n’était pas à jour et contenait
    | des vulnérabilités, un attaquant qui aurait réussi à faire ouvrir une pièce jointe d’un courriel malveillant à l’utilisateur
    | pourrait, en utilisant ces vulnérabilités, obtenir les privilèges administrateurs (ce qui annihilerait la mesure de limitation
    | des privilèges de l’utilisateur).
