div
    | Plusieurs mesures complémentaires peuvent être menés pour sécuriser les postes de travail :
    ul
        li les isoler et les cloisonner du reste du réseau bureautique(ex : déconnecter de l’annuaire centralisée),
            | une compromission de ces derniers aura ainsi un faible impact
        li mettre en œuvre un outil de protection de type EDR en complément de l’antivirus intégrant des règles de sécurité
            | spécifiques aux postes obsolètes.

    p
        | Il est préconisé de s’appuyer sur les compétences d’un prestataire externe, idéalement labellisé Expert Cyber,
        | pour la mise en œuvre de cette mesure.
