div
    p
        | Un antivirus doit être déployé sur la majorité des équipements informatiques, en priorité ceux connectés à Internet
        | (postes de travail, serveurs de fichier, etc.). Il est nécessaire d'en vérifier régulièrement leur bon fonctionnement et leurs mises à jour.
        | Les antivirus commerciaux proposent une mise à jour automatique, et un scan automatique des espaces de stockage : il est indispensable 
        | de procéder à l’activation de ces mécanismes dans les paramètres.
    p
        | Par ailleurs, lors de l’achat d'un antivirus, il peut être intéressant, en fonction des usages, de souscrire
        | aux fonctionnalités complémentaires proposées par de nombreux éditeurs logiciels tels qu'un pare-feu, un filtrage Web,
        | des outils anti-hameçonnage et de renforcement de la sécurité des transactions bancaires
    p
        | Il est préconisé de s’appuyer sur les compétences d’un prestataire externe, idéalement labellisé Expert Cyber,
        | pour la mise en œuvre de cette recommandation.
