div
    p
        | Il convient au préalable d’identifier les terminaux et postes de travail à risque, au regard des données à protéger
        | en priorité et des habitudes de déplacements des collaborateurs concernés.
    p
        | Si vous êtes sur un environnement Microsoft, la solution Bitlocker est gratuite et peut-être activée
        | via le panneau de configuration et les paramètres « Système et Sécurité »
    p
        | Si la mise en œuvre de BitLocker n’est pas adaptée au contexte de l’entreprise, une autre solution payant de ce
        | type peut être utilisée. Pour cela il est conseillé de s’appuyer sur les compétences d’un prestataire externe,
        | idéalement labellisé Expert Cyber ou référencé par un Campus Cyber régional.
    p
        | Il convient de s’assurer que l’accès aux terminaux chiffrés requiert un mot de passe au démarrage
        | (clef de déchiffrement/déverrouillage) et que ce mot de passe soit suffisamment complexe (à minima 12 caractères).
