div
    | Cette mise en place peut inclure :
    ul
        li Mécanisme de sécurisation des transactions bancaires
        li Si données R&D avec risque d'espionnage industriel : chiffrement des postes de travail nomade,
    p
        | Selon les risques de sécurité (fraude, compromission et vol de données sensibles, etc.) pesant sur l’entité et
        | ses postes de travail, et en complément d’un antivirus et d’un pare-feu local, il peut être envisagé de mettre
        | en œuvre des mesures supplémentaires pour renforcer la sécurité sur les postes de travail.
    p
        | Pour les risques de fraude et de FOVI, il est possible de recourir à des services de sécurisation des transactions
        | bancaires (via un prestataire spécialisé) afin de limiter de risque d’attaque de type « FOVI »
        | (faux ordre de virement international) ou d’usurpation d’IBAN (en plus des procédures de sécurité internes qui
        | peuvent être mises en œuvre s’assurer du changement légitime ou non, de l’IBAN d’un fournisseur).
    p
        | Pour les risques de vols de données et d’espionnage industriel, le chiffrement complet du disque dur des terminaux
        | portables (téléphone, ordinateurs) permet de réduire fortement les risques de vols de données suite à la perte
        | ou vol des terminaux. Les données stockées par un terminal chiffré resteraient inaccessibles à une personne
        | qui l’aurait en sa possession.
