div
    | D’une part, les alertes générées par l’antivirus peuvent être le signe d’un mésusage des outils 
    | informatiques de la part des utilisateurs.

    | D’autre part, sans action de l’utilisateur, une alerte d’antivirus peut être le signe d’une 
    | compromission du poste. Par exemple, un attaquant a obtenu un accès initial au poste par un autre moyen 
    | (phishing, vulnérabilité) et essaie d’utiliser des outils spécifiques (logiciel malveillant) qui sont 
    | détectés par l’antivirus. Sans investigation particulière des alertes, l’attaquant pourra faire autant 
    | de test que nécessaires avant de réussir à contourner l’antivirus.
