@import '../../../../assets/styles/points-de-rupture';

.ecran-kit-de-communication-aidant {
  display: flex;
  flex-direction: column;

  section.entete {
    background-color: var(--couleurs-mac-violet-tres-clair);

    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;

    @include a-partir-de(lg) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      gap: 2rem;
    }

    @include a-partir-de(xl) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      gap: 8.375rem;
    }
  }

  section.contenu {
    :first-child {
      flex-direction: column;
      gap: 2rem
    }
  }

  section {
    padding: 3rem 7.5rem 3rem 4.25rem;
  }

  .information-message {
    display: flex;
    gap: .5rem;
    padding: 1rem;

    background-color: var(--couleurs-mac-violet-tres-clair);
    border-radius: .5rem;
    line-height: 28px;
    font-size: 1rem;

    #information-id {
      font-size: 22px;
      font-family: 'Marianne ExtraBold';
      font-weight: 800;
    }

    p {
      margin-bottom: 0;
      font-weight: 400;

      strong {
        font-family: 'Marianne ExtraBold';
        font-weight: 400;
      }
    }

    @include jusqu-a(sm) {
      flex-direction: column;
    }
  }


  .cadre-petite-bordure {
    border: 1px solid #DDDDDD;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 100%;
    }


    h4 {
      margin: 0;
      line-break: anywhere;
    }

  }

  .visuels-reseaux-sociaux {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }

  .kit-aidant-cadre-exemple-texte {
    padding: 2rem 6rem;
  }
}