@import 'couleurs';

$gouttiere: 1.5rem;
$taille-padding-dsfr-7v: 3.5rem;

.bandeau-violet {
  background-color: var(--couleurs-mac-violet-fonce);
}

.accueil {
  height: 42.5rem;
}

#presentation {
  #corps {
    color: var(--couleurs-mac-blanc);

    p {
      font-size: 1.5rem;
      line-height: 2.1rem;
    }
  }

  #illustration {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
    }
  }
}

#ce-que-cest {
  row-gap: 3rem;

  .detail {
    padding-left: 1.5rem;
  }

  .bordure-gauche-jaune {
    border-left: solid 0.25rem;
    border-color: var(--couleurs-mac-jaune-fonce);
  }

  .bordure-gauche-violette {
    border-left: solid 0.25rem;
    border-color: var(--couleurs-mac-violet-fonce);
  }
}

#participer {
  column-gap: $gouttiere;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.tuiles {
  margin-top: -5rem;
}

@mixin tuile($hauteur-tuile) {
  height: $hauteur-tuile;
  img {
    max-height: calc($hauteur-tuile / 2 - $taille-padding-dsfr-7v);
  }
}

.tuile {
  display: flex;
  border-radius: 1rem;
  background: var(--couleurs-mac-blanc);
  box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.1);
  padding-bottom: 2.5rem;
  flex-direction: column;
  gap: 0.5rem;

  h4 {
    font-size: 2rem;
    line-height: 2.625rem;
  }

  .corps {
    padding: 0 2rem;
    align-items: center;
    gap: 1rem;
  }

  .illustration {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.tuile-centree {
  text-align: center;
  align-items: center;
}

.tuile-grande {
  @include tuile(29rem);
}

.tuile-petite {
  @include tuile(24.5rem);
}

.bientot-disponible {
  background-color: #efefef;
  filter: grayscale(90%);
}
