@import 'couleurs';

$gouttiere: 1.5rem;
$taille-padding-dsfr-7v: 3.5rem;

.bandeau-violet {
  background-color: var(--couleurs-mac-violet-fonce);
}

.accueil {
  height: 42.5rem;
}

.conteneur-accueil {
  display: flex;
  flex-direction: column;
  gap: 6.5rem;
}

#presentation {
  #corps {
    color: var(--couleurs-mac-blanc);

    p {
      font-size: 1.5rem;
      line-height: 2.1rem;
    }
  }

  #illustration {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
    }
  }
}

#ce-que-cest {
  row-gap: 3rem;

  .detail {
    padding-left: 1.5rem;
  }

  .bordure-gauche-jaune {
    border-left: solid 0.25rem;
    border-color: var(--couleurs-mac-jaune-fonce);
  }

  .bordure-gauche-violette {
    border-left: solid 0.25rem;
    border-color: var(--couleurs-mac-violet-fonce);
  }
}

#participer {
  column-gap: $gouttiere;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.tuiles {
  margin-top: -5rem;
}

@mixin tuile($hauteur-tuile) {
  height: $hauteur-tuile;
  img {
    max-height: calc($hauteur-tuile / 2 - $taille-padding-dsfr-7v);
  }
}

.tuile {
  display: flex;
  border-radius: 1rem;
  background: var(--couleurs-mac-blanc);
  box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.1);
  padding-bottom: 2.5rem;
  flex-direction: column;
  gap: 0.5rem;

  h4 {
    font-size: 2rem;
    line-height: 2.625rem;
  }

  .corps {
    padding: 0 2rem;
    align-items: center;
    gap: 1rem;
  }

  .illustration {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.tuile-centree {
  text-align: center;
  align-items: center;
}

.tuile-grande {
  @include tuile(29rem);
}

.tuile-petite {
  @include tuile(24.5rem);
}

.guillemets {
}

.les-mots-de {
  display: flex;
  padding: 8.5rem 0 5rem 0;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

  .titre {
    font-size: 2rem;
    font-style: normal;
    font-weight: 300;
    line-height: 2.25rem;
    color: var(--couleurs-mac-violet-tres-clair);
  }

  .contenu {
    font-family: Spectral;
    font-size: 2.375rem;
    font-style: italic;
    font-weight: 500;
    line-height: 3rem;
    text-align: center;
  }

  .personne {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    .illustration {
    }

    .nom {
      font-size: 1.75rem;
      font-weight: 800;
      line-height: 1.5rem;
    }
  }
}

.slider {
  margin-top: -10.9rem;
  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.lien-slider a {
  display: inline-flex;
  width: 1rem;
  height: 1rem;
  background: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0.5rem 2rem 0.5rem;
  position: relative;
}
.lien-slider a:active {
  background: var(--couleurs-mac-violet-leger);
}
.lien-slider a:hover {
  background: var(--couleurs-mac-violet-leger);
}
.lien-slider a:focus {
  background: var(--couleurs-mac-blanc);
}

.slider-active {
  background: var(--couleurs-mac-violet-leger) !important;
}

.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.slides::-webkit-scrollbar {
  display: none;
}

.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-fonctionne-mon-aide-cyber {
  b {
    color: var(--couleurs-mac-violet-fonce);
  }
}

.etapes {
  .illustration {
    height: 22.75rem;
  }

  h4 {
    font-size: 2rem;
  }
}

.etape i {
  display: inline-flex;
  width: 7.5rem;
  height: 7.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--couleurs-mac-violet-fonce);
  color: var(--couleurs-mac-blanc);
  text-align: center;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
}

.etape-1 i {
  opacity: 0.5;
}

.etape-2 i {
  opacity: 0.6;
}

.etape-3 i {
  opacity: 0.8;
}

.etape-4 i {
  opacity: 1;
}

.bientot-disponible {
  background-color: #efefef;
  filter: grayscale(90%);
}
