$border-radius: 0.5rem;

@mixin outline-bouton() {
  $valeur-outline: 2px solid var(--couleurs-mac-violet-fonce);
  outline: $valeur-outline;
  outline-offset: -2px;
}

@mixin primaire($couleur-texte, $couleur-fond, $couleur-fond-survol-et-actif) {
  background-color: $couleur-fond;
  color: $couleur-texte;
  box-shadow: 0 0 0 2px transparent, 0 0 0 4px transparent;

  --hover: none;

  &:active:enabled {
    background-color: $couleur-fond-survol-et-actif !important;
    box-shadow: none !important;
    border: none !important;
  }

  &:hover:enabled {
    background-color: $couleur-fond-survol-et-actif !important;
    box-shadow: none !important;
    border: none !important;
  }

  &:focus {
    @include box-shadow();
  }

  &:focus-visible {
    outline: none;
    @include box-shadow();
  }

  &:disabled {
    background-color: var(--couleurs-mac-gris-tres-clair);
    color: var(--couleurs-mac-gris-clair);
  }
}

@mixin secondaire(
  $couleur-texte: var(--couleurs-mac-violet-fonce),
  $couleur-outline: var(--couleurs-mac-violet-fonce),
  $background-color: white,
  $couleur-fond-survol: var(--couleurs-mac-violet-leger),
  $important: null
) {
  $valeur-outline: 2px solid $couleur-outline;
  outline: $valeur-outline;
  outline-offset: -2px;
  background-color: $background-color;
  color: $couleur-texte;

  @if $important != null {
    outline: $valeur-outline $important;
    color: $couleur-texte $important;
  }

  &:active:enabled {
    background-color: $couleur-fond-survol !important;
    box-shadow: none !important;
    border: none !important;
  }

  &:hover:enabled {
    background-color: $couleur-fond-survol !important;
    box-shadow: none !important;
    border: none !important;
  }

  &:focus {
    outline: $valeur-outline $important;
    color: $couleur-texte $important;
    @include box-shadow();
  }

  &:focus-visible {
    outline: $valeur-outline $important;
    color: $couleur-texte $important;
    @include box-shadow();
  }

  &:disabled {
    outline: 2px solid var(--couleurs-mac-gris-clair) $important;
    background-color: var(--couleurs-mac-blanc);
    color: var(--couleurs-mac-gris-clair) $important;
  }

  --hover: none;
}

@mixin box-shadow($box1: white, $box2: var(--couleurs-mac-violet-moyen)) {
  box-shadow: 0 0 0 2px $box1, 0 0 0 4px $box2;
}

.bouton-mac {
  border-radius: $border-radius;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
}

.bouton-icone-mac {
  background-color: var(--couleurs-mac-violet-fonce);
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.5rem;
  border-radius: $border-radius;
  color: white;

  --hover: none;
}

.bouton-mac-primaire {
  @include primaire(
    white,
    var(--couleurs-mac-violet-fonce),
    var(--couleurs-mac-violet-moyen)
  );
}

.bouton-mac-primaire-inverse {
  @include primaire(
    var(--couleurs-mac-violet-fonce),
    var(--couleurs-mac-blanc),
    var(--couleurs-mac-violet-leger)
  );
}

.bouton-mac-primaire-jaune {
  @include primaire(
    black,
    var(--couleurs-mac-jaune-fonce),
    var(--couleurs-mac-jaune-moyen)
  );
}

.bouton-mac-secondaire {
  @include secondaire();
  @include box-shadow(transparent, transparent);
}

.bouton-mac-secondaire-inverse {
  @include secondaire(
    var(--couleurs-mac-blanc),
    var(--couleurs-mac-blanc),
    var(--couleurs-mac-violet-fonce),
    $couleur-fond-survol: var(--couleurs-mac-violet-moyen)
  );
  @include box-shadow(transparent, transparent);
}

.mac-radio-group input[type='radio'] + label {
  background-image: radial-gradient(
    transparent 8px 45%,
    var(--couleurs-mac-violet-fonce) 10px 55%,
    transparent 11px
  ) !important;
}

.mac-radio-group input[type='radio']:checked + label {
  background-image: radial-gradient(
      transparent 8px 45%,
      var(--couleurs-mac-violet-fonce) 10px 55%,
      transparent 11px
    ),
    radial-gradient(
      var(--couleurs-mac-violet-fonce) 5px 30%,
      transparent 6px 70%
    ) !important;
}

.mac-radio-group input[type='checkbox'] + label::before {
  background-size: 0.25rem 0.25rem, calc(100% - 0.25rem) 1px, 0.25rem 0.25rem,
    1px calc(100% - 0.5rem), 0.25rem 0.25rem, calc(100% - 0.5rem) 1px,
    0.25rem 0.25rem, 1px calc(100% - 0.5rem), 1rem !important;
  background-position: 0 0, 0.25rem 0, 100% 0, 0 0.25rem, 100% 100%,
    calc(100% - 0.25rem) 100%, 0 100%, 100% 0.25rem, center !important;
  background-repeat: no-repeat;
  background-image: radial-gradient(
      at 5px 4px,
      transparent 4px,
      var(--couleurs-mac-violet-fonce) 4px,
      var(--couleurs-mac-violet-fonce) 5px,
      transparent 6px
    ),
    linear-gradient(
      var(--couleurs-mac-violet-fonce),
      var(--couleurs-mac-violet-fonce)
    ),
    radial-gradient(
      at calc(100% - 5px) 4px,
      transparent 4px,
      var(--couleurs-mac-violet-fonce) 4px,
      var(--couleurs-mac-violet-fonce) 5px,
      transparent 6px
    ),
    linear-gradient(
      var(--couleurs-mac-violet-fonce),
      var(--couleurs-mac-violet-fonce)
    ),
    radial-gradient(
      at calc(100% - 5px) calc(100% - 4px),
      transparent 4px,
      var(--couleurs-mac-violet-fonce) 4px,
      var(--couleurs-mac-violet-fonce) 5px,
      transparent 6px
    ),
    linear-gradient(
      var(--couleurs-mac-violet-fonce),
      var(--couleurs-mac-violet-fonce)
    ),
    radial-gradient(
      at 5px calc(100% - 4px),
      transparent 4px,
      var(--couleurs-mac-violet-fonce) 4px,
      var(--couleurs-mac-violet-fonce) 5px,
      transparent 6px
    ),
    linear-gradient(
      var(--couleurs-mac-violet-fonce),
      var(--couleurs-mac-violet-fonce)
    ),
    var(--data-uri-svg) !important;
}

.mac-radio-group input[type='checkbox']:checked + label::before {
  background-color: var(--couleurs-mac-violet-fonce) !important;
}
