.carte {
  padding: 1.5rem;
  border-radius: 8px;
  background-color: var(--couleurs-mac-violet-clair);

  iframe {
    height: 400px;

    @include a-partir-de(md) {
      height: 1000px;
    }

    width: 100%;
  }
}
