:root {
  --centre-aide-background-entete: var(--couleurs-mac-violet-fonce);
  --centre-aide-background-bouton: var(--centre-aide-background-entete);
  --centre-aide-font-color-bouton: white;
  --centre-aide-border-lien-secondaire: var(--centre-aide-background-entete);
  --centre-aide-font-color-lien-secondaire: var(--centre-aide-background-entete);
  --centre-aide-background-hover-lien: var(--couleurs-mac-securiteacces);
  --centre-aide-background-hover-declencheur: var(--centre-aide-background-hover-lien);
  --brique-background-primaire: var(--centre-aide-background-entete);
  --brique-hero-bouton-gauche-background: white;
  --brique-hero-bouton-gauche-background-hover: #F6F6F6;
  --brique-hero-bouton-gauche-background-active: #F6F6F6;
  --brique-hero-bouton-gauche-texte: #5D2A9D;
  --brique-hero-bouton-droite-background: transparent;
  --brique-hero-bouton-droite-background-hover: rgba(255, 255, 255, 0.08);
  --brique-hero-bouton-droite-background-active: rgba(255, 255, 255, 0.16);
  --brique-hero-bouton-droite-texte: white;
  --titre-couleur-primaire: #5D2A9D;
}
