:root {
  --centre-aide-background-entete: var(--couleurs-mac-violet-fonce);
  --centre-aide-background-bouton: var(--couleurs-mac-violet-fonce);
  --centre-aide-font-color-bouton: #FFFFFF;
  --centre-aide-border-lien-secondaire: var(--couleurs-mac-violet-fonce);
  --centre-aide-font-color-lien-secondaire: var(--couleurs-mac-violet-fonce);
  --centre-aide-background-hover-lien: var(--couleurs-mac-violet-moyen);
  --centre-aide-background-hover-declencheur: var(--centre-aide-background-hover-lien);
  --brique-background-primaire: var(--couleurs-mac-violet-fonce);
  --brique-background-secondaire: var(--couleurs-mac-violet-tres-clair);
  --brique-hero-bouton-gauche-background: #FFFFFF;
  --brique-hero-bouton-gauche-background-hover: #F6F6F6;
  --brique-hero-bouton-gauche-background-active: #F6F6F6;
  --brique-hero-bouton-gauche-texte: var(--couleurs-mac-violet-fonce);
  --brique-hero-bouton-droite-background: transparent;
  --brique-hero-bouton-droite-background-hover: rgba(255, 255, 255, 0.08);
  --brique-hero-bouton-droite-background-active: rgba(255, 255, 255, 0.16);
  --brique-hero-bouton-droite-texte: #FFFFFF;
  --titre-couleur-primaire: var(--couleurs-mac-violet-fonce);
  --brique-carrousel-bouton-action-texte-couleur: var(--couleurs-mac-violet-fonce);
  --brique-marelle-titre-couleur: var(--couleurs-mac-violet-fonce);
  --brique-marelle-etapes-numero-etape-couleur: var(--couleurs-mac-violet-moyen);
  --brique-marelle-etapes-lien-couleur: var(--couleurs-mac-violet-fonce);
  --brique-marelle-bouton-background: var(--couleurs-mac-violet-fonce);
  --brique-marelle-bouton-background-hover: var(--couleurs-mac-violet-moyen);
  --brique-marelle-bouton-background-active: var(--couleurs-mac-violet-moyen);
  --brique-marelle-bouton-texte: #FFFFFF;
  --brique-temoignages-titre-couleur: var(--couleurs-mac-violet-fonce);
  --brique-temoignages-icone-couleur: var(--couleurs-mac-violet-moyen);
  --brique-contenu-deux-colonnes-action-bouton-background: #FFFFFF;
  --brique-contenu-deux-colonnes-action-bouton-background-hover: #F6F6F6;
  --brique-contenu-deux-colonnes-action-bouton-background-active: #F6F6F6;
  --brique-contenu-deux-colonnes-action-bouton-texte: var(--couleurs-mac-violet-fonce);
  --brique-presentation-anssi-titre-couleur: var(--couleurs-mac-violet-fonce);
  --brique-presentation-anssi-bouton-background: #FFFFFF;
  --brique-presentation-anssi-bouton-background-hover: rgba(0, 0, 0, 0.04);
  --brique-presentation-anssi-bouton-background-active: rgba(0, 0, 0, 0.08);
  --brique-presentation-anssi-bouton-texte: var(--couleurs-mac-violet-fonce);
}
