#top {
  margin-top: 3rem;
}

.mac-contenu-charte h3 {
  color: var(--couleurs-mac-violet-fonce);
  font-weight: 800;
  font-size: 2.5rem;
  margin: 0 0 2rem;
}

.mac-contenu-charte h5 {
  color: var(--couleurs-mac-noir);
  font-weight: 800;
  font-size: 1.375rem;
}

.mac-contenu-charte i {
  font-size: 0.8rem;
}
