.mac-entete-charte {
  padding: 32px 0 16px 102px;
}

.mac-contenu-charte {
  padding: 0 102px 0 102px;
}

.mac-contenu-charte h3 {
  color: #3a3a3a;
  font-weight: 700;
  font-size: 1.4rem;
}

.mac-contenu-charte i {
  font-size: 0.8rem;
}
