@import 'icones';

.section {
  background-color: var(--couleurs-mac-blanc);
  border-radius: 1rem;
  padding: 3.5rem 6.375rem !important;
}

a {
  color: var(--couleurs-mac-violet-fonce);
}

.mac-icone-retour {
  background: $icone-gauche no-repeat left center;
  padding-left: 1rem;
}
