@import 'icones';

.section {
  background-color: var(--couleurs-mac-blanc);
  border-radius: 1rem;
  padding: 3.5rem 6.375rem !important;
  margin: 5.5rem 0;
}

a {
  color: var(--couleurs-mac-violet-fonce);
}

.mac-icone-retour {
  background: $icone-gauche no-repeat left center;
  padding-left: 1rem;
}

.mac-icone-information {
  background: $icone-information no-repeat left center;
}

.mac-callout {
  display: flex;
  padding: 1rem;
  align-items: flex-start;
  gap: 0.5rem;
  align-self: stretch;
  border-radius: 0.5rem;

  i {
    width: 3rem;
    height: 2rem;
  }
}

.mac-callout-information {
  background: var(--couleurs-mac-jaune-clair);
}

.optionnel {
  font-size: 0.6rem;
}

.visible {
  visibility: visible !important;
}

.invisible {
  display: none !important;
}
