@import 'icones';
@import 'points-de-rupture';

@media screen and (max-width: 768px) {
  .section {
    background-color: var(--couleurs-mac-blanc);
    border-radius: 0.5rem;
    padding: 1.5rem 1rem;
    margin: 5.5rem 0;
  }
}

@media screen and (min-width: 769px) {
  .section {
    background-color: var(--couleurs-mac-blanc);
    border-radius: 1rem;
    padding: 3.5rem 6.375rem !important;
    margin: 5.5rem 0;
  }
}

a {
  color: var(--couleurs-mac-violet-fonce);
}

.mac-icone {
  color: var(--couleurs-mac-violet-fonce);
}

.mac-icone-retour {
  background: $icone-gauche no-repeat left center;
  padding-left: 1rem;
}

.mac-icone-information {
  background: $icone-information no-repeat left center;
}

.mac-callout {
  display: flex;
  padding: 1rem 1.5rem;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch;
  border-radius: 0.5rem;


  i {
    display: none;
    @include a-partir-de(md) {
      display: block;
    }
  }

  &.succes {
    background: var(--couleurs-mac-succes);
    color: var(--couleurs-mac-blanc);
  }

  &.erreur {
    background: var(--couleurs-mac-erreur-mode-fonce);
    color: var(--couleurs-mac-blanc);
  }

  &.attention {
    background: var(--couleurs-mac-jaune-clair);
    color: #8f7118;
  }

  &.information {
    background: var(--couleurs-mac-jaune-clair);
  }
}

.mac-callout-information {
  background: var(--couleurs-mac-jaune-clair);
}

.optionnel {
  font-size: 0.6rem;
}

.visible {
  visibility: visible !important;
}

.invisible {
  display: none !important;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.texte-centre {
  text-align: center;
}

.tableau > div:first-child {
  border-radius: 0.5rem 0.5rem 0 0;
  background-color: var(--couleurs-mac-jaune-clair);
  padding: 1rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  border-bottom: 0.125rem solid var(--couleurs-mac-violet-leger);
}

.tableau {
  .rang {
    background-color: var(--couleurs-mac-violet-tres-clair);
    padding: 1rem;
    border-bottom: 0.0625rem solid var(--couleurs-mac-violet-leger);
    cursor: pointer;
  }

  .rang:hover {
    background-color: var(--couleurs-mac-violet-clair);
  }

  .rang > div {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.confirmation {
  text-align: center;

  .cta-redirection {
    display: flex;
    justify-content: center;
  }
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.mac-sticky {
  position: sticky;
  top: 0;
}

.w-fit {
  width: fit-content;
}

.w-100 {
  width: 100%;
}

.m-0 {
  margin: 0;
}

.visible-desktop {
  display: none;
  @include a-partir-de(lg) {
    display: unset;
  }
}

.boutons-sans-fond {
  .fr-btn {
    background-color: transparent !important;
    color: var(--text-action-high-blue-france);
  }
}

.fr-btn {
  gap: 0.5rem;
}

.fr-btn:hover {
  background-color: rgba(0, 0, 0, 0.04) !important;
}

.information-message {
  display: flex;
  gap: .5rem;
  padding: 1rem;

  background-color: var(--couleurs-mac-violet-tres-clair);
  border-radius: .5rem;
  line-height: 28px;
  font-size: 1rem;

  #information-id {
    font-size: 22px;
    font-family: 'Marianne ExtraBold';
    font-weight: 800;
  }

  p {
    margin-bottom: 0;
    font-weight: 400;

    strong {
      font-family: 'Marianne ExtraBold';
      font-weight: 400;
    }
  }

  @include jusqu-a(sm) {
    flex-direction: column;
  }
}

.white-space-no-wrap {
  white-space: nowrap;

  &.white-space-xl-normal {
    @include jusqu-a(xl) {
      white-space: normal;
    }
  }
}

.spinner {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0;
  border-radius: 50%;
  border: 4px solid var(--couleurs-mac-violet-fonce);
  border-color: var(--couleurs-mac-violet-fonce) transparent;
  animation: rotation 1.2s linear infinite;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
