$couleurs-mac: (
  violet-pale: #f5f1f9,
  violet-fonce: #5d2a9d,
  violet-moyen: #9c51d0,
  violet-leger: #e1cbf1,
  violet-clair: #f1e2fd,
  jaune-fonce: #fdc82e,
  blanc: white,
);

$toutes-couleurs: (
  'couleurs-mac': $couleurs-mac,
);

:root {
  @each $categorie, $map in $toutes-couleurs {
    @each $nom, $valeur in map-get($map: $toutes-couleurs, $key: $categorie) {
      --#{$categorie}-#{$nom}: #{$valeur};
    }
  }
}
