$couleurs-mac: (
  violet-pale: #f5f1f9,
  violet-fonce: #5d2a9d,
  violet-mode-fonce: #854fca,
  violet-moyen: #9c51d0,
  violet-leger: #e1cbf1,
  violet-clair: #f1e2fd,
  violet-tres-clair: #f5f1f9,
  jaune-fonce: #fdc82e,
  jaune-moyen: #fad16c,
  jaune-clair: #ffe7a0,
  blanc: white,
  noir: #282828,
  gris: #666666,
  gris-clair: #929292,
  gris-tres-clair: #E5E5E5,
  gris-leger: #DDD,
  erreur-mode-fonce: #ff5655,
  succes-mode-fonce: #27a658,
  succes: #18753C,
  vert: #2A9D49,
  rouge: #FF0000,
  erreur-mode-clair: #ce0500,
  gouvernance: #fc7530,
  securiteacces: #9c51d0,
  securiteposte: #fdc8d5,
  securiteinfrastructure: #fdc82e,
  sensibilisation: #5d2a9d,
  reaction: #fd8eb9,
  ombre: rgba(0, 0, 0, 0.36),
);

$toutes-couleurs: (
  'couleurs-mac': $couleurs-mac,
);

:root {
  @each $categorie, $map in $toutes-couleurs {
    @each $nom, $valeur in map-get($map: $toutes-couleurs, $key: $categorie) {
      --#{$categorie}-#{$nom}: #{$valeur};
    }
  }
}

.fond-clair-mac {
  background-color: var(--couleurs-mac-violet-tres-clair);
}

.violet-fonce {
  color: var(--couleurs-mac-violet-fonce);
}
