$couleurs-mac: (
  violet-pale: #f5f1f9,
  violet-primaire: #5d2a9d,
  violet-secondaire: #9c51d0,
);

$toutes-couleurs: (
  'couleurs-mac': $couleurs-mac,
);

:root {
  @each $categorie, $map in $toutes-couleurs {
    @each $nom, $valeur in map-get($map: $toutes-couleurs, $key: $categorie) {
      --#{$categorie}-#{$nom}: #{$valeur};
    }
  }
}
