@import "couleurs";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em $marge-exterieure;
}

:is(header nav, .logo-anssi):hover {
  background-color: $etat-gris-survol;
}

:is(header nav a, .logo-anssi):active {
  background-color: $etat-gris-actif;
}
