.creation-espace-aidant {
  .fr-fieldset__content {
    margin: 0 !important;
    padding-top: 1rem;
  }
}

.bandeau-violet-clair {
  background-color: var(--couleurs-mac-violet-tres-clair);

  margin-bottom: 2rem;

  .encart-gauche {
    padding: 3rem 0 3rem 0;
  }
}

section.violet-clair {
  background-color: var(--couleurs-mac-violet-tres-clair);
}