.piedpage-mac {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.piedpage-mac div {
  --ul-type: none;
  --ol-type: none;
  --ul-start: 0;
  --ol-start: 0;
  --xl-block: 0;
  --li-bottom: 0;
  --ol-content: none;
}

.piedpage-mac-logos {
  @media (max-width: 576px) {
    img {
      width: 182px;
      height: auto;
    }
  }

  @media (min-width: 768px) {
    img {
      height: 5rem;
    }
  }

  a[href] {
    background-image: unset;
    background-position: unset;
    background-repeat: unset;
    background-size: unset;
    transition: unset;
  }

  [target='_blank']:after {
    background-color: unset;
  }
}

.piedpage-mac-logos > div > ul > li {
  ::after {
    content: none;
  }

  > a {
    text-decoration: none;
    background-image: none;

    > img {
      height: 5rem;
    }
  }
}
