
header.public {
    z-index: 2;
}

.barre-navigation {
    background-color: var(--couleurs-mac-blanc);
    z-index: 100;

    border-top: 2px solid var(--couleurs-mac-violet-tres-clair);

    .fr-nav__list {
        ul {
            padding-inline-start: none;
            display: flex;
            flex-direction: column;
    
           
            gap: 2rem;
            list-style-type: none;
            margin: 0px;
    
            @include a-partir-de(lg) {
                flex-direction: row;
            }
    
            
        }
        
    }

    li.fr-nav__item.lien {
        padding: 0;
        min-height: unset;
        
        >.fr-nav__link {
            color: var(--couleurs-mac-violet-fonce); 
        font-weight: 700;
        }

            &.actif {
                border-bottom: var(--couleurs-mac-jaune-fonce) 4px solid;
                color: var(--couleurs-mac-noir);

                a {
                    color: var(--couleurs-mac-noir);
                }
                >.fr-nav__link {
                    color: var(--couleurs-mac-noir);
                }
            }

            a {
                background: none;
            }
        
    }

    
}