.fr-header__brand {
  overflow: unset;
}

header.public {
  z-index: 2;
}

.entete-lien-se-connecter {
  font-size: 14px;
}

.barre-navigation {
  background-color: var(--couleurs-mac-blanc);
  z-index: 100;

  border-top: 2px solid var(--couleurs-mac-violet-tres-clair);

  .fr-nav__btn {
    color: var(--couleurs-mac-violet-fonce);
    font-weight: 700;
  }

  .fr-nav__btn[aria-expanded=true]:not(:disabled) {
    color: var(--couleurs-mac-violet-fonce);
    font-weight: 700;
  }

  .fr-nav__btn[aria-current]:not([aria-current=false]), .fr-nav__link[aria-current]:not([aria-current=false]) {
    color: var(--couleurs-mac-violet-fonce);
    font-weight: 700;
  }

  .fr-nav__btn[aria-expanded=true]:not(:disabled) {
    --idle: transparent;
    --hover: none;
    --active: none;
    background-color: none;
    color: var(--couleurs-mac-noir);
  }

  .fr-nav__btn[aria-current]:not([aria-current=false]):before, .fr-nav__link[aria-current]:not([aria-current=false]):before {
    --idle: transparent;
    --hover: none;
    --active: none;
    background-color: none;
    border-bottom: var(--couleurs-mac-jaune-fonce) 4px solid;
    color: var(--couleurs-mac-noir);
  }

  li.fr-nav__item.lien {
    padding: 0;
    min-height: unset;
    position: relative;
    cursor: pointer;

    > .fr-nav__link {
      color: var(--couleurs-mac-violet-fonce);
      font-weight: 700;
    }

    &.actif {
      border-bottom: var(--couleurs-mac-jaune-fonce) 4px solid;
      color: var(--couleurs-mac-noir);

      a {
        color: var(--couleurs-mac-noir);
      }

      > .fr-nav__link {
        color: var(--couleurs-mac-noir);
      }

      button {
        color: var(--couleurs-mac-noir);
      }
    }

    a {
      background: none;
    }

  }


}


.header-restitution-actions {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}