$logo-anssi: url(/images/logo_anssi.png);
$logo-marianne: url(/images/marianne.svg);
$logo-devise: url(/images/devise.svg);
$icone-contexte: url(/images/diagnostic/contexte/icone-navigation.svg);
$icone-gouvernance: url(/images/diagnostic/gouvernance/icone-navigation.svg);
$icone-securite-acces: url(/images/diagnostic/securite-acces/icone-navigation.svg);
$icone-securite-postes: url(/images/diagnostic/securite-postes/icone-navigation.svg);
$icone-securite-infrastructures: url(/images/diagnostic/securite-infrastructures/icone-navigation.svg);
$icone-sensibilisation: url(/images/diagnostic/sensibilisation/icone-navigation.svg);
$icone-reaction: url(/images/diagnostic/reaction/icone-navigation.svg);
