$logo-acyma: url(/images/logo_acyma.svg);
$logo-anssi: url(/images/logo_anssi.png);
$logo-devise: url(/images/devise.svg);
$logo-gendarmerie: url(/images/logo_gendarmerie_nationale.svg);
$logo-police-nationale: url(/images/logo_police_nationale.svg);
$logo-marianne: url(/images/marianne.svg);

$icone-plus: url(/images/icones/plus.svg);
$icone-moins: url(/images/icones/moins.svg);
$icone-gauche: url(/images/icones/gauche.svg);
$icone-guillemets: url(/images/icones/guillemets.svg);
$icone-ellipse: url(/images/icones/ellipse.svg);
$icone-information: url(/images/icones/ampoule.svg);

$fleche-bas: url(/images/icones/fleche-bas.svg);
$sensibilisation: url(/images/diagnostic/sensibilisation/icone-navigation.svg);
$securite-poste: url(/images/diagnostic/securite-postes/icone-navigation.svg);
$securite-infrastructure: url(/images/diagnostic/securite-infrastructures/icone-navigation.svg);
$securite-acces: url(/images/diagnostic/securite-acces/icone-navigation.svg);
$reaction: url(/images/diagnostic/reaction/icone-navigation.svg);
$gouvernance: url(/images/diagnostic/gouvernance/icone-navigation.svg);
$contexte: url(/images/diagnostic/contexte/icone-navigation.svg);
