$logo-anssi: url(/images/logo_anssi.png);
$logo-marianne: url(/images/marianne.svg);
$logo-devise: url(/images/devise.svg);
$icone-plus: url(/images/icones/plus.svg);
$icone-moins: url(/images/icones/moins.svg);
$icone-gauche: url(/images/icones/gauche.svg);
$icone-guillemets: url(/images/icones/guillemets.svg);
$icone-ellipse: url(/images/icones/ellipse.svg);
$icone-information: url(/images/icones/ampoule.svg);
$fleche-bas: url(/images/icones/fleche-bas.svg);
