@mixin proprietes-input {
  background-color: var(--couleurs-mac-violet-pale) !important;
  box-shadow: inset 0 -2px 0 0 var(--couleurs-mac-violet-fonce) !important;
}
input {
  @include proprietes-input;
}

.autocomplete {
  display: inline-block;
  position: relative;
  margin-top: 0.5rem;
}

.autocomplete-labellise {
  @include proprietes-input;
  display: flex;

  input:focus-visible {
    outline: none;
  }

  border-radius: 0.25rem 0.25rem 0 0;

  [class*=' fr-fi-']:before,
  [class*=' fr-icon-']:before {
    background-color: var(--couleurs-mac-violet-fonce);
  }
}

.autocomplete-labellise:focus-within {
  outline: 2px solid blue;
  outline-offset: 2px;
  border-radius: 0.25rem 0.25rem 0 0;
}

.autocomplete-labellise-label:hover {
  background-color: var(--couleurs-mac-violet-tres-clair) !important;
  box-shadow: inset 0 -2px 0 0 var(--couleurs-mac-violet-fonce) !important;
}
.autocomplete-labellise-label:focus {
  background-color: var(--couleurs-mac-violet-tres-clair) !important;
  box-shadow: inset 0 -2px 0 0 var(--couleurs-mac-violet-fonce) !important;
}

.autocomplete datalist {
  display: block;
}

.autocomplete-items {
  display: flex;
  flex-direction: column;
  position: absolute;
  border: 1px solid var(--couleurs-mac-violet-fonce);
  border-top: none;
  z-index: 1;
  top: 100%;
  left: 0;
  right: 0;
  overflow-y: scroll;
  max-height: 300px;
  border-bottom: 1px solid var(--couleurs-mac-violet-fonce);
}
.autocomplete-items button {
  padding: 0.4rem;
  cursor: pointer;
  background-color: var(--couleurs-mac-blanc);
  border-bottom: 1px solid var(--couleurs-mac-violet-fonce);
  color: var(--couleurs-mac-violet-fonce);
  text-align: left;
}
.autocomplete-items button:hover {
  background-color: var(--couleurs-mac-violet-leger);
}
.autocomplete-items button:focus {
  background-color: var(--couleurs-mac-violet-leger);
}
