.menu-utilisateur {
  display: inline-block;
}

.menu-utilisateur-contenu {
  details {
    position: relative;
  }

  details #conteneur {
    position: absolute;
    border-radius: 0.25rem;
    overflow: hidden;
    right: 0;
    z-index: 10;
  }

  details input {
    border-bottom: 2px solid var(--couleurs-mac-violet-leger);
    background: var(--couleurs-mac-violet-tres-clair);
    padding: 0.5rem 1rem;
    min-width: 18rem;
    font-size: 1rem;
    box-shadow: unset !important;
    text-align: left;
    display: inline-block;
  }

  summary {
    user-select: none;
    display: inline-flex;
    align-items: baseline;
    padding: 0.75rem 1rem;
    justify-content: space-between;

    &::-webkit-details-marker {
      display: none;
    }
  }

  summary:after {
    content: '';
    width: 16px;
    height: 16px;
    margin-left: 16px;
    mask-image: $fleche-bas;
    mask-size: 16px 16px;
    mask-repeat: no-repeat;
    background: var(--couleurs-mac-violet-fonce);
    flex-shrink: 0;
  }
}
