@import 'commun';

.fr-modal__content {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  margin-bottom: 1rem !important;
}
.fr-modal__header {
  padding: 1rem 1rem 0.5rem !important;
}
.modale-mac {
  border-radius: 16px;
  padding: 2rem 2.5rem !important;

  fieldset {
    margin: 0;
    padding: 0;
    border: none;
  }

  h1 {
    @include mac-h3;
  }

  h2 {
    @include mac-h4;
  }

  h3 {
    @include mac-h5;
  }

  .fr-btn--close {
    color: var(--couleurs-mac-violet-fonce);
    margin-top: -1.5rem;
  }

  .fr-btn--close:hover {
    background-color: unset !important;
  }

  .fr-btn--close:after {
    width: 2rem;
    height: 2rem;
    margin-right: -1.2rem;
  }
}
