@import 'commun';

.modale-mac {
  border-radius: 16px;
  padding: 56px;

  fieldset {
    margin: 0;
    padding: 0;
    border: none;
  }

  h1 {
    @include mac-h3;
  }

  h2 {
    @include mac-h4;
  }

  h3 {
    @include mac-h5;
  }

  h4 {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
