.question fieldset legend {
  font-weight: 500 !important;
  font-size: 16px;
  line-height: 24px;
}

.fr-select-group label {
  font-weight: 500 !important;
  font-size: 16px;
  line-height: 24px;
}

.question-tiroir {
  margin-left: 50px;
  margin-top: 10px;
}

.reponses-complementaires {
  margin-left: 50px;
  margin-top: 10px;
}
