@import '../styles/icones';

@media print {
  @page {
    size: A4;
  }

  html {
    scroll-padding-top: 200px;
  }

  body {
    font-size: 12px;
    line-height: 1rem;
    p {
      font-size: 12px;
    }
  }

  main {
    background-color: var(--couleurs-mac-blanc);
  }

  footer {
    display: none;
  }

  header {
    margin-bottom: 1rem;
  }

  .fr-header {
    filter: none !important;
    background-color: unset !important;
    box-shadow: none !important;
    border: none !important;
  }

  .fr-header__body {
    filter: none !important;
    background-color: unset !important;
    box-shadow: none !important;
  }

  .fr-header__service {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .fr-header__tools {
    display: none;
  }

  .fr-col-md-9 {
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
  }

  .fr-col-9 {
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
  }

  .logo-mac-diagnostic {
    width: 12rem;
  }

  .section h3:first-child {
    display: none;
  }

  h4 {
    font-size: 16px !important;
    line-height: 16px !important;
    border-left: 5px solid var(--couleurs-mac-violet-fonce);
    padding-left: 1.5rem;
  }

  #indicateurs {
    page-break-after: always;
  }

  #mesures-prioritaires {
    page-break-after: always;

    h4 {
      font-size: 2.2rem !important;
      line-height: 2rem !important;
      border-left: 8px solid var(--couleurs-mac-violet-fonce);
      border-image: linear-gradient(
                      to top,
                      var(--couleurs-mac-violet-fonce) 0 85%,
                      rgba(0, 0, 0, 0) 15%
      );
      border-image-slice: 1;
    }
  }

  #autres-mesures {
    page-break-before: always;

    h4 {
      font-size: 2.2rem !important;
      line-height: 2rem !important;
      border-left: 8px solid var(--couleurs-mac-violet-fonce);
      border-image: linear-gradient(
                      to top,
                      var(--couleurs-mac-violet-fonce) 0 85%,
                      rgba(0, 0, 0, 0) 15%
      );
      border-image-slice: 1;
    }
  }

  .mode-fonce {
    display: none;
  }

  .restitution {
    .menu-restitution {
      display: none;
    }

    details {
      position: relative;

      b {
        font-size: 12px !important;
        color: var(--couleurs-mac-violet-fonce);
      }

      p {
        padding-bottom: 1rem !important;
      }
    }

    details[open] > summary {
      --hover: none;
      --active: none;
      background-color: unset;
      color: var(--couleurs-mac-noir) !important;
      font-size: 1.2rem;
      font-family: "Marianne ExtraBold";
      padding: 1rem 0 1.5rem 0;
    }

    summary + div {
      margin: 0 -0.25rem;
      padding: 1rem 1rem 1.5rem 1rem;
    }

    .section-mesure > div {
      padding-bottom: 5mm;
    }

    .section-mesure > div > b{
      font-family: "Marianne ExtraBold";
    }

    summary {
      user-select: none;
      display: inline-flex;
      align-items: baseline;
      vertical-align: top !important;
      width: 100%;
      border-top: none !important;
      justify-content: flex-start;
    }

    summary:before {
      content: '';
      width: 1mm;
      height: 4mm;
      margin-right: 11mm;
      mask-repeat: no-repeat;
      background: var(--couleurs-mac-violet-clair);
      flex-shrink: 0;
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
    }

    details[open] > summary::after {
      mask-image: $icone-moins;
      background: var(--couleurs-mac-noir);
    }

    .fr-sidemenu__inner {
      box-shadow: unset;
    }

    .fr-sidemenu__btn[aria-current]:not([aria-current='false']):before,
    .fr-sidemenu__link[aria-current]:not([aria-current='false']):before {
      background-color: var(--couleurs-mac-violet-fonce) !important;
    }

    .fr-sidemenu__link[aria-current]:not([aria-current='false']) {
      color: var(--couleurs-mac-violet-fonce);
    }

    @media (hover: hover) and (pointer: fine) {
      a[href]:hover {
        background-color: unset !important;
      }
    }

    div[id^='mesures-prioritaires'] {
      b {
        font-size: 18px;
      }
    }

    .indicateur-polaire {
      font-size: 4px;
    }
  }

  .identifiant-diagnostic {
    font-size: 48px;
    line-height: 48px;
    font-weight: 800;
  }

  #information-contenu {
    border-radius: 17px;
    padding: 32px;
    line-height: 28px;
    font-size: 16px;

    #information-id {
      font-size: 22px;
      font-family: 'Marianne ExtraBold';
      font-weight: 800;
    }

    p {
      margin-bottom: 0;
      font-weight: 400;

      strong {
        font-family: 'Marianne ExtraBold';
        font-weight: 400;
      }
    }
  }

  .intersection {
    margin: 2.5rem 0;
    color: var(--couleurs-mac-violet-tres-clair);
    height: 40px;
  }

  #contacts-liens-utiles {
    page-break-before: always;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    align-self: stretch;

    h4 {
      margin-bottom: 0;
    }

    .contact {
      width: 100%;
    }

    [class*="logo-"] {
      max-width: 8rem;
      max-height: 6rem;
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
    }

    .logo-anssi-leger {
      background-size: 6rem;
    }

  }

  .badge-gouvernance {
    background-color: var(--couleurs-mac-gouvernance);
  }
  .badge-securiteacces {
    background-color: var(--couleurs-mac-securiteacces);
  }
  .badge-securiteposte {
    background-color: var(--couleurs-mac-securiteposte);
  }
  .badge-securiteinfrastructure {
    background-color: var(--couleurs-mac-securiteinfrastructure);
  }
  .badge-sensibilisation {
    background-color: var(--couleurs-mac-sensibilisation);
  }
  .badge-reaction {
    background-color: var(--couleurs-mac-reaction);
  }

  .badge {
    width: 2.5rem;
    height: 0.8rem;
    display: inline-flex;
    line-height: 1.5rem;
    border-radius: 5rem;
    margin-top: 0.4rem;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .fr-header__logo {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .legende .sous-legende {
    span {
      padding-right: 1rem;
    }
  }
}
