@import 'icones';

html {
  scroll-padding-top: 200px;
}
.restitution {
  padding: 56px 0 46px 0;

  h3 {
    color: var(--couleurs-mac-violet-fonce);
  }
  h4 {
    font-size: 32px;
    line-height: 42px;
  }
  h5 {
    button {
      color: var(--couleurs-mac-violet-fonce) !important;
      font-size: 22px;
      line-height: 32px;
      padding-right: 16px;
    }
    color: var(--couleurs-mac-violet-fonce) !important;
  }

  details {
    position: relative;
  }

  details[open] > summary {
    --hover: none;
    --active: none;
    background-color: unset;
    color: var(--couleurs-mac-noir) !important;
  }

  summary + div {
    margin: 0 -0.25rem;
    padding: 1rem 1rem 1.5rem 1rem;
  }

  summary {
    user-select: none;
    display: inline-flex;
    color: var(--couleurs-mac-violet-fonce) !important;
    font-family: "Marianne ExtraBold";
    font-size: 22px;
    line-height: 32px;
    align-items: baseline;
    padding: 0.75rem 1rem;
    border-top: solid var(--couleurs-mac-violet-leger) 1px;
    border-bottom: solid var(--couleurs-mac-violet-leger) 1px;
    margin: -1px 0 0 -1px;
  }

  details[open] > summary {
    border-bottom: none;
  }

  summary:after {
    content: '';
    width: 16px;
    height: 16px;
    margin-left: 16px;
    mask-image: $icone-plus;
    mask-size: 16px 16px;
    mask-repeat: no-repeat;
    background: var(--couleurs-mac-violet-fonce);
    flex-shrink: 0;
  }

  details[open] > summary::after {
    mask-image: $icone-moins;
    background: var(--couleurs-mac-noir);
  }

  summary:hover {
    background-color: var(--couleurs-mac-violet-tres-clair);
  }

  .fr-sidemenu__inner {
    box-shadow: unset;
  }

  .fr-sidemenu__btn[aria-current]:not([aria-current='false']):before,
  .fr-sidemenu__link[aria-current]:not([aria-current='false']):before {
    background-color: var(--couleurs-mac-violet-fonce) !important;
  }

  .fr-sidemenu__link[aria-current]:not([aria-current='false']) {
    color: var(--couleurs-mac-violet-fonce);
  }

  @media (hover: hover) and (pointer: fine) {
    a[href]:hover {
      background-color: unset !important;
    }
  }

  div[id^='mesures-prioritaires'] {
    b {
      font-size: 18px;
    }
  }
}

.identifiant-diagnostic {
  font-size: 48px;
  line-height: 48px;
  font-weight: 800;
}

#information-contenu {
  background-color: var(--couleurs-mac-violet-tres-clair);
  border-radius: 17px;
  padding: 32px;
  line-height: 28px;
  font-size: 16px;

  #information-id {
    font-size: 22px;
    font-family: 'Marianne ExtraBold';
    font-weight: 800;
  }

  p {
    margin-bottom: 0;
    font-weight: 400;

    strong {
      font-family: 'Marianne ExtraBold';
      font-weight: 400;
    }
  }
}

.intersection {
  margin: 2.5rem 0;
  border-top: 5rem var(--couleurs-mac-violet-tres-clair);
  color: var(--couleurs-mac-violet-tres-clair);
  height: 40px;
}

#contacts-et-liens-utiles-conteneur {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch;

  h4 {
    margin-bottom: 0;
  }
}

#contacts-et-liens-utiles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
  align-self: stretch;

  .contact-ou-lien-utile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    align-self: stretch;

    p {
      margin: 0;
    }

    .logos {
      display: flex;
      align-items: start;
      justify-content: left;
      gap: 1.5rem;

      img {
        max-width: 19rem;
        max-height: 7.5rem;
      }
    }

    .titre {
      font-family: 'Marianne ExtraBold';
      font-weight: 800;
      line-height: 2rem;
      font-size: 1.375rem;
    }

    .lien {
      color: var(--couleurs-mac-violet-fonce);
    }
  }
}

.badge-gouvernance {
  background-color: var(--couleurs-mac-gouvernance);
}
.badge-securiteacces {
  background-color: var(--couleurs-mac-securiteacces);
}
.badge-securiteposte {
  background-color: var(--couleurs-mac-securiteposte);
}
.badge-securiteinfrastructure {
  background-color: var(--couleurs-mac-securiteinfrastructure);
}
.badge-sensibilisation {
  background-color: var(--couleurs-mac-sensibilisation);
}
.badge-reaction {
  background-color: var(--couleurs-mac-reaction);
}

.badge {
  width: 2.5rem;
  height: 0.8rem;
  display: inline-flex;
  line-height: 1.5rem;
  border-radius: 5rem;
  margin-top: 0.4rem;
}

.legende .sous-legende {
  span {
    padding-right: 1rem;
  }
}
