@import 'icones';

html {
  scroll-padding-top: 200px;
}
.restitution {
  padding: 56px 0 46px 0;

  h3 {
    color: var(--couleurs-mac-violet-fonce);
  }
  h4 {
    font-size: 32px;
    line-height: 42px;
  }
  h5 {
    button {
      color: var(--couleurs-mac-violet-fonce) !important;
      font-size: 22px;
      line-height: 32px;
      padding-right: 16px;
    }
    color: var(--couleurs-mac-violet-fonce) !important;
  }
  .fr-accordion:before {
    bottom: 0;
    box-shadow:
      inset 0 1px 0 0 var(--couleurs-mac-violet-clair),
      0 1px 0 0 var(--couleurs-mac-violet-clair);
  }

  .fr-accordion__btn {
    align-items: baseline;
  }

  .fr-accordion__btn:after {
    margin-left: 16px;
    -webkit-mask-image: $icone-plus;
    mask-image: $icone-plus;
    -webkit-mask-size: 16px 16px;
    mask-size: 16px 16px;
    mask-repeat: no-repeat;
  }

  .fr-accordion__btn[aria-expanded='false']:hover {
    background-color: var(--couleurs-mac-violet-tres-clair);
  }

  .fr-accordion__btn[aria-expanded='true'] {
    --hover: none;
    --active: none;
    background-color: unset;
    color: var(--couleurs-mac-noir) !important;
  }

  .fr-accordion__btn[aria-expanded='true']::after {
    margin-left: 16px;
    -webkit-mask-image: $icone-moins;
    mask-image: $icone-moins;
    -webkit-mask-size: 16px 16px;
    mask-size: 16px 16px;
    mask-repeat: no-repeat;
  }

  .fr-sidemenu__inner {
    box-shadow: unset;
  }

  .fr-sidemenu__btn[aria-current]:not([aria-current='false']):before,
  .fr-sidemenu__link[aria-current]:not([aria-current='false']):before {
    background-color: var(--couleurs-mac-violet-fonce) !important;
  }

  .fr-sidemenu__link[aria-current]:not([aria-current='false']) {
    color: var(--couleurs-mac-violet-fonce);
  }

  @media (hover: hover) and (pointer: fine) {
    a[href]:hover {
      background-color: unset !important;
    }
  }

  div[id^=mesures-prioritaires] {
    b {
      font-size: 18px;
    }
  }
}

.identifiant-diagnostic {
  font-size: 48px;
  line-height: 48px;
  font-weight: 800;
}

#information-contenu {
  background-color: var(--couleurs-mac-violet-tres-clair);
  border-radius: 17px;
  padding: 32px;
  line-height: 28px;
  font-size: 16px;

  #information-id {
    font-size: 22px;
    font-family: "Marianne ExtraBold";
    font-weight: 800;
  }

  p {
    margin-bottom: 0;
    font-weight: 400;

    strong {
      font-family: "Marianne ExtraBold";
      font-weight: 400;
    }
  }
}

.intersection {
  margin: 2.5rem 0;
  border-top: 5rem var(--couleurs-mac-violet-tres-clair);
  color: var(--couleurs-mac-violet-tres-clair);
  height: 40px;
}

#contacts-et-liens-utiles-conteneur {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch;

  h4 {
    margin-bottom: 0;
  }
}

#contacts-et-liens-utiles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
  align-self: stretch;

  .contact-ou-lien-utile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    align-self: stretch;

    p {
      margin: 0;

      a {
        color: var(--couleurs-mac-violet-fonce);
      }
    }

    .logos {
      display: flex;
      align-items: start;
      justify-content: left;
      gap: 1.5rem;

      img {
        max-width: 19rem;
        max-height: 7.5rem;
      }
    }

    .titre {
      font-family: "Marianne ExtraBold";
      font-weight: 800;
      line-height: 2rem;
      font-size: 1.375rem;
    }

    .lien {
      color: var(--couleurs-mac-violet-fonce);
    }
  }
}
