@import 'icones';

html {
  scroll-padding-top: 200px;
}

.restitution {
  .menu-restitution {
    margin: 5.5rem 0;
  }

  h3 {
    color: var(--couleurs-mac-violet-fonce);
    padding-bottom: 2rem;
    margin-bottom: 0;
  }

  h4 {
    font-size: 32px;
    line-height: 42px;
  }

  h5 {
    button {
      color: var(--couleurs-mac-violet-fonce) !important;
      font-size: 22px;
      line-height: 32px;
      padding-right: 16px;
    }

    font-family: 'Marianne', 'sans-serif';
    font-weight: 700;
    line-height: 2rem;
    font-size: 1.375rem;
    margin-bottom: 1rem;
  }

  details {
    position: relative;
  }

  details[open] > summary {
    --hover: none;
    --active: none;
    background-color: unset;
    color: var(--couleurs-mac-noir) !important;
  }

  summary + div {
    margin: 0 -0.25rem;
    padding: 1rem 1rem 1.5rem 1rem;
  }

  summary {
    user-select: none;
    display: inline-flex;
    color: var(--couleurs-mac-violet-fonce) !important;
    font-family: 'Marianne', 'sans-serif';
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    align-items: baseline;
    padding: 0.75rem 1rem;
    border-top: solid var(--couleurs-mac-violet-leger) 1px;
    border-bottom: solid var(--couleurs-mac-violet-leger) 1px;
    margin: -1px 0 0 -1px;
    width: 100%;
    justify-content: space-between;
  }

  details[open] > summary {
    border-bottom: none;
  }

  details[open] {
    border-bottom: solid var(--couleurs-mac-violet-leger) 1px;
  }

  summary:after {
    content: '';
    width: 16px;
    height: 16px;
    margin-left: 16px;
    mask-image: $icone-plus;
    mask-size: 16px 16px;
    mask-repeat: no-repeat;
    background: var(--couleurs-mac-violet-fonce);
    flex-shrink: 0;
  }

  details[open] > summary::after {
    mask-image: $icone-moins;
    background: var(--couleurs-mac-noir);
  }

  summary:hover {
    background-color: var(--couleurs-mac-violet-tres-clair);
  }

  .fr-sidemenu__inner {
    box-shadow: unset;
  }

  .fr-sidemenu__btn[aria-current]:not([aria-current='false']):before,
  .fr-sidemenu__link[aria-current]:not([aria-current='false']):before {
    background-color: var(--couleurs-mac-violet-fonce) !important;
  }

  .fr-sidemenu__link[aria-current]:not([aria-current='false']) {
    color: var(--couleurs-mac-violet-fonce);
  }

  @media (hover: hover) and (pointer: fine) {
    a[href]:hover {
      background-color: unset !important;
    }
  }

  div[id^='mesures-prioritaires'] {
    b {
      font-size: 18px;
    }
  }

  .indicateur-polaire {
    font-size: 4px;
  }
}

.identifiant-diagnostic {
  font-size: 48px;
  line-height: 48px;
  font-weight: 800;
}

#information-contenu {
  background-color: var(--couleurs-mac-violet-tres-clair);
  border-radius: 8px;
  padding: 32px;
  line-height: 28px;
  font-size: 16px;

  #information-id {
    font-size: 22px;
    font-family: 'Marianne', 'sans-serif';
    font-weight: 700;
  }

  p {
    margin-bottom: 0;
    font-weight: 400;

    strong {
      font-family: 'Marianne', 'sans-serif';
      font-weight: 700;
    }
  }
}

.intersection {
  margin: 2.5rem 0;
  border-top: 5rem var(--couleurs-mac-violet-tres-clair);
  color: var(--couleurs-mac-violet-tres-clair);
  height: 40px;
}

#indicateurs {
  padding-top: 2.5rem;
}

#mesures-prioritaires {
  padding-top: 2.5rem;
}

#contacts-liens-utiles {
  .fr-container {
    padding-left: 0;
    padding-right: 0;
  }

  padding-top: 2.5rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch;

  h4 {
    margin-bottom: 0;
  }

  [class*="logo-"] {
    height: 8rem;
  }

  @media screen and (min-width: 1440px) {
    .contact {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }

  .logo {
    justify-content: center;
    align-items: center;
    align-content: center;
  }
}

.sans-espace-bas {
  padding-bottom: 0 !important;
}

#ressources {
  padding-top: 2.5rem;
}

.legende {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .indicateur {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    .badge {
      width: 0.75rem;
      height: 0.75rem;
      display: inline-flex;
      line-height: 1.5rem;
      border-radius: 50%;
      margin-top: 0.4rem;
      opacity: 0.7;
      align-items: center;
    }

    .badge-gouvernance {
      background-color: var(--couleurs-mac-gouvernance);
    }

    .badge-securiteacces {
      background-color: var(--couleurs-mac-securiteacces);
    }

    .badge-securiteposte {
      background-color: var(--couleurs-mac-securiteposte);
    }

    .badge-securiteinfrastructure {
      background-color: var(--couleurs-mac-securiteinfrastructure);
    }

    .badge-sensibilisation {
      background-color: var(--couleurs-mac-sensibilisation);
    }

    .badge-reaction {
      background-color: var(--couleurs-mac-reaction);
    }
  }
}
