@import 'couleurs';
@import 'points-de-rupture';
@import 'typographie';
@import 'header';
@import 'connectez-vous';
@import 'icones';
@import 'mode-fonce';
@import 'mode-clair';
@import 'mise-en-page';
@import 'questionnaire';
@import 'diagnostics';
@import 'demande-aide';
@import 'demande-devenir-aidant';
@import 'spinner';
@import 'footer';
@import 'bouton';
@import 'charte';
@import 'carte';
@import 'kit-de-communication';
@import 'accueil';
@import 'index.desktop';
@import 'index.mobile';
@import 'index.mobile-paysage';
@import 'modale';
@import 'input';
@import 'tableau-de-bord';
@import 'espace-aidant';
@import 'menu-utilisateur';
@import 'profil';
@import 'mot-de-passe';
@import 'maintenance';
@import 'commun';
@import "centre-aide";


html {
  scroll-behavior: smooth;
}

.devise {
  height: 1.38em;
  background-image: $logo-devise;
}

.marianne,
.devise {
  width: 45%;

  background-repeat: no-repeat;
  background-size: contain;
}

.marianne {
  height: 0.75em;

  background-image: $logo-marianne;
}

.republique-francaise {
  padding: 0.36em 0;

  line-height: 1.075em;
  color: #000;
  font-size: 0.7em;
  font-weight: bold;
}

.logo-anssi {
  width: 4.05em;
  height: 4.05em;
  margin: 0 0.4em;
  padding: 0.3em 0.85em;
  background-image: $logo-anssi;
  background-origin: content-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

.logo-anssi-leger {
  background: $logo-anssi-complet no-repeat;
  background-size: 16rem;
}

.logo-acyma {
  background: $logo-acyma no-repeat;
}

.logo-gendarmerie {
  background: $logo-gendarmerie no-repeat;
}

.logo-police-nationale {
  background: $logo-police-nationale no-repeat;
}

.lien-mac {
  color: var(--couleurs-mac-violet-primaire);
}

.lien-mac :hover {
  color: var(--couleurs-mac-violet-secondaire);
}

@font-face {
  font-family: 'Marianne ExtraBold';
  src: url('/fontes/Marianne-ExtraBold.woff2') format('woff2');
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Marianne ExtraBold';
  font-weight: 800;
}

.composant-erreur {
  div {
    --ul-type: none;
    --ol-type: none;
    --ul-start: 0;
    --ol-start: 0;
  }
}
