@import 'couleurs';
@import 'icones';
@import 'mode-fonce';
@import 'mise-en-page';
@import 'questionnaire';
@import 'diagnostics';
@import 'spinner';
@import 'footer';
@import 'bouton';
@import 'charte';
@import 'carte';
@import 'accueil';
@import 'modale';
@import 'input';
@import 'tableau-de-bord';
@import 'finalisation-compte';

.devise {
  height: 1.38em;
  background-image: $logo-devise;
}

.marianne,
.devise {
  width: 45%;

  background-repeat: no-repeat;
  background-size: contain;
}

.marianne {
  height: 0.75em;

  background-image: $logo-marianne;
}

.republique-francaise {
  padding: 0.36em 0;

  line-height: 1.075em;
  color: #000;
  font-size: 0.7em;
  font-weight: bold;
}

.logo-anssi {
  width: 4.05em;
  height: 4.05em;
  margin: 0 0.4em;
  padding: 0.3em 0.85em;
  background-image: $logo-anssi;
  background-origin: content-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

.lien-mac {
  color: var(--couleurs-mac-violet-primaire);
}

.lien-mac :hover {
  color: var(--couleurs-mac-violet-secondaire);
}

@font-face {
  font-family: 'Marianne ExtraBold';
  src: url('/fontes/Marianne-ExtraBold.woff2') format('woff2');
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Marianne ExtraBold';
  font-weight: 800;
}

h1 {
  font-size: 3.5rem;
  line-height: 4.125rem;
}

h2 {
  color: var(--couleurs-mac-violet-fonce);
  font-size: 2.6rem;
  line-height: 2.5rem;
}

h3 {
  font-size: 2rem;
  line-height: 2.4rem;
}
