@import 'etapes.desktop';

@media screen and (min-width: 1440px) {
  h1 {
    font-size: 3.5rem;
    line-height: 4.125rem;
  }

  .tuile-grande {
    @include tuile(31.4rem);
    padding: 2.5rem 3.5rem;
    gap: 1.5rem;

    .illustration {
      justify-content: flex-start;
      width: 29.75rem;
    }
  }
}
