$etat-gris-actif: #ededed;
$etat-gris-survol: #f6f6f6;
$etat-contour-champs: #dddddd;

$gris-fonce: #2f3a43;
$texte-fonce: $gris-fonce;

$logo-anssi: url(/images/logo_anssi.png);
$logo-marianne: url(/images/marianne.svg);
$logo-devise: url(/images/devise.svg);
