$etat-gris-actif: #ededed;
$etat-gris-survol: #f6f6f6;

$logo-anssi: url(../../../public/images/logo_anssi.png);
$logo-marianne: url(../../../public/images/marianne.svg);
$logo-devise: url(../../../public/images/devise.svg);
