div
    h5 Accès aux serveurs
    p
        | Pour sélectionner “Oui”, l’accès aux serveurs doit être à minima protégé par une porte fermée à clef dont la
        | clef n’est accessible qu’aux personnes légitimes.
