div
    h5 Cloisonnement des systèmes industriels
    p
        | Le plus sécurisé est un cloisonnement strict (pas d’interconnexion). De manière plus fonctionnelle, les flux
        | réseaux entre les réseaux bureautique et industriel sont filtrés strictement (pour ne laisser passer que les
        | flux des applications strictement nécessaires). Il est par ailleurs fortement conseillé de bloquer l’accès à
        | distance vers des objets connectés (ex : caméra, équipements industriels, sondes etc.) sans restriction
        | particulière (adresse IP source) ou sans passer par un VPN.
