div
    h5 Référent sûreté de gendarmerie et de police
    p
        | Si c’est jugé nécessaire, l’entité peut être mise en relation avec un référent sûreté physique de la gendarmerie et de la police.
