div
    h5 Équipements de sécurité
    div
        | Exemples d’équipements de sécurité à mettre à jour dès que possible :
        ul
            li Pare-feu réseau, pare-feu applicatif (WAF)
            li Équipement VPN
            li Proxy
