div
    h5 Serveurs et services d’administration
    div
        | Exemples des serveurs et des services d’administration à mettre à jour dès que possible :
        ul
            li
                | Serveurs d’infrastructures : Windows Server, Active Directory, serveur gestionnaire de mises à jour
                | WSUS, serveur de messagerie (exchange, zimbra, etc.), solution de virtualisation, outil de supervision
                | et de télémaintenance, solution de sauvegarde
            li
                | Serveurs métiers : base de données, serveur web (Apache, IIS, etc.), ERP, outil de développement et
                | autres applicatifs etc.
