div
    h5 Pare-feu
    p
        | Le pare-feu est l’outil permettant de restreindre les services exposés sur Internet, et réalisant le filtrage
        | des communications et des flux réseaux. Afin de réduire au maximum la surface d’attaque disponible pour les
        | attaquants, il est recommandé de réduire au maximum les services et les flux accessibles depuis Internet.
    p
        | Par exemple, il est fortement déconseillé d’autoriser l’accès à distance vers des objets connectés
        | (ex : caméra, imprimante, sondes etc.)
    p
        | NB : une box Internet n’est pas à considérer comme un pare-feu physique puisqu’elle ne permet pas de filtrer
        | efficacement les flux sortants.
