div
    h5 Chiffrement de connexion
    div
        | Minimum attendu pour cocher la 4ème réponse :
        ul
            li Mot de passe de 20 caractères minimum ;
            li Chiffrement robuste de la connexion wifi, a minima WPA2 ;
            li
                | Pas d'accès au réseau interne pour les visiteurs via le Wi-Fi (SSID différent, sous-réseau différent
                | ou Wi-Fi non accessible au visiteur).
