div Sur la base des exigences fixées, les pénalités peuvent être du type :
    ul
        li pour un service SaaS / une prestation d’infogérance : pénalité en cas d’indisponibilité du service/des données
            | intègre(s) (en €/heure, €/jour d’indisponibilité) ;
        li pour une prestation/une fourniture : pénalités de retard (en €/heure, €/jour de retard)
        li pour une prestation de sauvegarde : pénalité en cas d’indisponibilité des sauvegardes (intègres) (forfait en
            | € si les sauvegardes ont été altérées ou détruites/perdues)
    div La cyberattaque doit également être exclue des « cas de forces majeures ».
