div
    | Le site de la CNIL regroupe en grand nombre de ressources et des modules de formation en ligne pour comprendre la
    | réglementation et mettre en en œuvre les premières de conformité. La CNIL a publié tout particulièrement un modèle
    | prêt à l’emploi via le lien suivant :
    a(href="https://www.cnil.fr/fr/RGDP-le-registre-des-activites-de-traitement") https://www.cnil.fr/fr/RGDP-le-registre-des-activites-de-traitement
