/* stylelint-disable */
.indicateur-polaire {
    font-size: 2px;
}

:root {
    --couleurs-mac-blanc: white;
    --couleurs-mac-violet-fonce: #5d2a9d;
    --couleurs-mac-noir: #282828;
    --couleurs-mac-violet-clair: #f1e2fd;
    --couleurs-mac-violet-tres-clair: #f5f1f9;
    --couleurs-mac-gouvernance: #fc7530;
    --couleurs-mac-securiteacces: #9c51d0;
    --couleurs-mac-securiteposte: #fdc8d5;
    --couleurs-mac-securiteinfrastructure: #fdc82e;
    --couleurs-mac-sensibilisation: #5d2a9d;
    --couleurs-mac-reaction: #fd8eb9;
}

html {
    scroll-padding-top: 200px;
}

body {
    font-size: 12px;
    line-height: 1.5rem;

    p {
        font-size: 12px;
    }
}

main {
    background-color: var(--couleurs-mac-blanc);
}

footer {
    display: none;
}

header {
    margin-bottom: 1rem;
}

.fr-header {
    filter: none !important;
    background-color: unset !important;
    box-shadow: none !important;
    border: none !important;
}

.fr-header__body {
    filter: none !important;
    background-color: unset !important;
    box-shadow: none !important;
}

.fr-header__service {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.fr-header__tools {
    display: none;
}

.fr-col-md-9 {
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
}

.fr-col-9 {
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
}

.section h3:first-child {
    display: none;
}

h4 {
    font-size: 16px !important;
    line-height: 16px !important;
    border-left: 5px solid var(--couleurs-mac-violet-fonce);
    padding-left: 1.5rem;
}

h5.mesures-prioritaires-detail {
    font-size: 16px !important;
    line-height: 16px !important;
}

h6.titre-mesure {
    padding-left: 12mm;
}

#indicateurs {
    page-break-after: always;
}

#mesures-prioritaires {
    page-break-after: always;

    h4 {
        font-size: 2.2rem !important;
        line-height: 2rem !important;
        border-left: 8px solid var(--couleurs-mac-violet-fonce);
        border-image: linear-gradient(
                to top,
                var(--couleurs-mac-violet-fonce) 0 95%,
                rgba(0, 0, 0, 0) 5%
        );
        border-image-slice: 1;
    }
}

#autres-mesures {
    page-break-before: always;

    h4 {
        font-size: 2.2rem !important;
        line-height: 2rem !important;
        border-left: 8px solid var(--couleurs-mac-violet-fonce);
        border-image: linear-gradient(
                to top,
                var(--couleurs-mac-violet-fonce) 0 95%,
                rgba(0, 0, 0, 0) 5%
        );
        border-image-slice: 1;
    }
}

#contacts-liens-utiles {
    page-break-before: always;

    h4 {
        font-size: 2.2rem !important;
        line-height: 2rem !important;
        border-left: 8px solid var(--couleurs-mac-violet-fonce);
        border-image: linear-gradient(
                to top,
                var(--couleurs-mac-violet-fonce) 0 95%,
                rgba(0, 0, 0, 0) 5%
        );
        border-image-slice: 1;
    }

    a {
        color: var(--couleurs-mac-violet-fonce) !important;
    }

    .titre {
        font-family: 'Marianne ExtraBold';
        font-weight: 800;
        line-height: 2rem;
        font-size: 1rem;
        padding-bottom: 1rem;
    }

    [class*="logo-"] {
        max-width: 8rem;
        max-height: 8rem;
    }
}

#section-ressources {
    margin-top: 20mm;
    page-break-after: always;

    h4 {
        font-size: 2.2rem !important;
        line-height: 2rem !important;
        border-left: 8px solid var(--couleurs-mac-violet-fonce);
        border-image: linear-gradient(
                to top,
                var(--couleurs-mac-violet-fonce) 0 95%,
                rgba(0, 0, 0, 0) 5%
        );
        border-image-slice: 1;
    }

    a {
        color: var(--couleurs-mac-violet-fonce) !important;
    }

    .titre {
        font-family: 'Marianne ExtraBold';
        font-weight: 800;
        line-height: 2rem;
        font-size: 1rem;
    }
}

.mode-fonce {
    display: none;
}

.restitution {
    padding-right: 13mm;

    details {
        position: relative;

        b {
            font-size: 12px !important;
            color: var(--couleurs-mac-violet-fonce);
        }

        p {
            padding-bottom: 0 !important;
        }
    }

    summary + div {
        padding-left: 12mm;
    }

    details[open] > summary {
        --hover: none;
        --active: none;
        background-color: unset;
        color: var(--couleurs-mac-noir) !important;
        font-size: 1.2rem;
        font-family: "Marianne ExtraBold";
        padding: 1rem 0 1.5rem 0;
    }

    .section-mesure > div {
        padding-bottom: 5mm;
    }

    .section-mesure > div > b {
        font-family: "Marianne ExtraBold";
    }

    summary {
        user-select: none;
        display: inline-flex;
        align-items: baseline;
        vertical-align: top !important;
        width: 100%;
    }


    summary:before {
        content: '';
        width: 1mm;
        height: 4mm;
        margin-right: 11mm;
        mask-repeat: no-repeat;
        background: var(--couleurs-mac-violet-clair);
        flex-shrink: 0;
    }

    div[id^='mesures-prioritaires'] {
        b {
            font-size: 18px;
        }
    }

    .indicateur-polaire {
        font-size: 4px;
    }
}

.contact {
    align-items: center;
    width: 100%;
}

.contact::before {
    content: '';
    width: 1mm;
    height: 4mm;
    margin-right: 11mm;
    mask-repeat: no-repeat;
    flex-shrink: 0;
}

.ressource {
    border-left: 5px solid var(--couleurs-mac-violet-clair);
    border-image: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0) 10px,
            var(--couleurs-mac-violet-clair) 10px 30px,
            rgba(0, 0, 0, 0) 30px
    );
    border-image-slice: 1;
    padding-left: 10mm;
}

.logo {
    text-align: center;
    border-image-slice: 1;
    margin-left: -2mm !important;
    padding-left: -2mm !important;
}

.identifiant-diagnostic {
    font-size: 48px;
    line-height: 48px;
    font-weight: 800;
}

.intersection {
    margin: 2.5rem 0;
    color: var(--couleurs-mac-violet-tres-clair);
    height: 40px;
}

.badge-gouvernance {
    background-color: var(--couleurs-mac-gouvernance);
}

.badge-securiteacces {
    background-color: var(--couleurs-mac-securiteacces);
}

.badge-securiteposte {
    background-color: var(--couleurs-mac-securiteposte);
}

.badge-securiteinfrastructure {
    background-color: var(--couleurs-mac-securiteinfrastructure);
}

.badge-sensibilisation {
    background-color: var(--couleurs-mac-sensibilisation);
}

.badge-reaction {
    background-color: var(--couleurs-mac-reaction);
}

.badge {
    width: 2.5rem;
    height: 0.8rem;
    display: inline-flex;
    line-height: 1.5rem;
    border-radius: 5rem;
    margin-top: 0.4rem;
    -webkit-print-color-adjust: exact;
}

.legende .sous-legende {
    span {
        padding-right: 1rem;
    }
}

.page-de-garde {
    h1 {
        font-size: 2.2rem;
        line-height: 3.2rem;
        border: unset;
    }

    h2 {
        line-height: 2.8rem;
    }

    p {
        margin: unset;
        padding: unset;
    }

}

.logo-acyma {
    content: var(--logo-acyma);
    background-size: 8rem;
}

.logo-gendarmerie {
    content: var(--logo-gendarmerie);
}

.logo-police-nationale {
    content: var(--logo-police-nationale);
}

.logo-anssi-leger {
    width: 100px;
    height: 100px;
    position: relative;
    max-width: 16rem;
}

.logo-anssi-leger::before {
    content: var(--logo-anssi-leger);
    display: block;
    width: 100%; /* Matches container */
    height: 100%; /* Matches container */
    background-size: contain; /* Ensures scaling fits */
}

/* stylelint-enable */
