/* stylelint-disable */
.indicateur-polaire {
    font-size: 2px;
}

:root {
    --couleurs-mac-blanc: white;
    --couleurs-mac-violet-fonce: #5d2a9d;
    --couleurs-mac-noir: #282828;
    --couleurs-mac-violet-clair: #f1e2fd;
    --couleurs-mac-violet-tres-clair: #f5f1f9;
    --couleurs-mac-gouvernance: #fc7530;
    --couleurs-mac-securiteacces: #9c51d0;
    --couleurs-mac-securiteposte: #fdc8d5;
    --couleurs-mac-securiteinfrastructure: #fdc82e;
    --couleurs-mac-sensibilisation: #5d2a9d;
    --couleurs-mac-reaction: #fd8eb9;
}

html {
    scroll-padding-top: 200px;
}

body {
    font-size: 12px;
    line-height: 1.5rem;

    p {
        font-size: 12px;
    }
}

main {
    background-color: var(--couleurs-mac-blanc);
}

footer {
    display: none;
}

header {
    margin-bottom: 1rem;
}

.fr-header {
    filter: none !important;
    background-color: unset !important;
    box-shadow: none !important;
    border: none !important;
}

.fr-header__body {
    filter: none !important;
    background-color: unset !important;
    box-shadow: none !important;
}

.fr-header__service {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.fr-header__tools {
    display: none;
}

.fr-col-md-9 {
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
}

.fr-col-9 {
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
}

.section h3:first-child {
    display: none;
}

h4 {
    font-size: 16px !important;
    line-height: 16px !important;
}

.mode-fonce {
    display: none;
}

.logo {
    text-align: center;
    border-image-slice: 1;
    margin-left: -2mm !important;
    padding-left: -2mm !important;
}

.identifiant-diagnostic {
    font-size: 48px;
    line-height: 48px;
    font-weight: 800;
}

.badge-gouvernance {
    background-color: var(--couleurs-mac-gouvernance);
}

.badge-securiteacces {
    background-color: var(--couleurs-mac-securiteacces);
}

.badge-securiteposte {
    background-color: var(--couleurs-mac-securiteposte);
}

.badge-securiteinfrastructure {
    background-color: var(--couleurs-mac-securiteinfrastructure);
}

.badge-sensibilisation {
    background-color: var(--couleurs-mac-sensibilisation);
}

.badge-reaction {
    background-color: var(--couleurs-mac-reaction);
}

.badge {
    width: 2.5rem;
    height: 0.8rem;
    display: inline-flex;
    line-height: 1.5rem;
    border-radius: 5rem;
    margin-top: 0.4rem;
    -webkit-print-color-adjust: exact;
}

.legende .sous-legende {
    span {
        padding-right: 1rem;
    }
}

.entete-page-de-garde {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    h1 {
        font-size: 2.2rem;
        line-height: 3.2rem;
        border: unset;
    }

    h2 {
        line-height: 2.8rem;
        margin: 0rem 0rem 0.25rem 0rem;
    }

    p {
        margin: unset;
        padding: unset;
    }
}

.page-de-garde {
    page-break-after: always;
    padding-top: 1rem;

    h1 {
        font-size: 2.2rem;
        line-height: 3.2rem;
        border: unset;
    }

    h2 {
        line-height: 2.8rem;
        margin: 0rem 0rem 0.25rem 0rem;
    }

    p {
        margin: unset;
        padding: unset;
    }

}

.logo-acyma {
    content: var(--logo-acyma);
    background-size: 8rem;
}

.logo-gendarmerie {
    content: var(--logo-gendarmerie);
}

.logo-police-nationale {
    content: var(--logo-police-nationale);
}

.logo-anssi-leger {
    width: 100px;
    height: 100px;
    position: relative;
    max-width: 16rem;
}

.logo-anssi-leger::before {
    content: var(--logo-anssi-leger);
    display: block;
    width: 100%; /* Matches container */
    height: 100%; /* Matches container */
    background-size: contain; /* Ensures scaling fits */
}

section.mesures-prioritaires .contenu {

    .titre {
        padding-bottom: 0.5rem;
    }

    .mesures {
        padding: 0.25rem 1rem;

        .mesure {
            display: flex;
            flex-direction: row;
            padding-left: 0.25rem;
            gap: 0.75rem;
            align-self: stretch;
            align-items: center;

            .indice {
                display: flex;
                flex-direction: column;
                align-items: center;
                border-radius: 50%;
                background: #161616;
                width: 2rem;
                height: 2rem;

                color: #FFF;
                text-align: center;
                font-size: 1.25rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            .libelle {
                display: flex;
                padding: 0.375rem 0;
                align-items: center;
                gap: 0.625rem;
                flex: 1 0 0;
            }
        }
    }

}

section.indicateurs .contenu {
    padding: 1.5rem 0;
}

section.ressources-et-contacts .contenu {
    margin: 0 auto;
    background: #fff7db;
    border-radius: 8px;
    padding: 0.75rem 1rem;
    display: grid;

    p {
        margin-top: 0.25rem;
    }
}

.page-mesures {

    .contenu {
        display: flex;
        padding-bottom: 1rem;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
    }

    .mesure {
        padding-bottom: 1.5rem;
        break-inside: avoid;

        .titre {
            display: flex;
            padding-bottom: 0.75rem;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.625rem;
            align-self: stretch;

            text {
                font-size: 1rem;
                font-style: normal;
                font-weight: 700;
                line-height: 1.5rem;
            }
        }


        .pourquoi {
            display: flex;
            padding-bottom: 1rem;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;
            line-height: 1.5rem;

            .titre {
                display: flex;
                font-weight: bold;
                padding-bottom: 0.5rem;
                align-items: flex-start;
                gap: 0.125rem;
                align-self: stretch;
            }
        }

        .comment {
            display: flex;
            padding-bottom: 1rem;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;
            line-height: 1.5rem;

            .titre {
                display: flex;
                font-weight: bold;
                padding-bottom: 0.5rem;
                align-items: flex-start;
                gap: 0.125rem;
                align-self: stretch;
            }
        }
    }

}

/* stylelint-enable */
