/* stylelint-disable */
.police-marianne {
  font-family: 'Marianne';
  font-weight: normal;
  font-size: 1px;
}

.police-marianne-moyen {
  font-family: 'Marianne';
  font-weight: 500;
  font-size: 1px;
}

.police-marianne-gras {
  font-family: 'Marianne';
  font-weight: bold;
  font-size: 1px;
}

.police-marianne-extra-gras {
  font-family: 'Marianne ExtraBold';
  font-weight: bold;
  font-size: 1px;
}

#root {
  display: flex;
  justify-content: center;
  padding: 12px 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Marianne, SansSerif, serif;
  font-weight: 700;
}

/* stylelint-enable */
