html {
  font-family: Marianne;
  font-size: 12px;
}

.logo-anssi {
  width: 16rem;
  content: var(--logo-anssi);
}

.logo-mac {
  width: 40rem;
  content: var(--logo-mac);
}

.illustration-dialogue-mac {
  margin: auto;
  width: 56rem;
  content: var(--illustration-dialogue-mac);
}

.piedpage {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 1cm 3mm;
  font-size: 8px;
}

.piedpage .mac {
  color: var(--couleurs-mac-gris);
  font-weight: bold;
}

.piedpage .pagination {
  display: flex;
}

:is(.piedpage .pagenumber, .piedpage .totalpages) {
  margin-left: 1px;
  margin-right: 1px;
}
