html {
    font-family: Marianne;
    font-size: 12px;
}

.logo-republique-francaise-anssi {
    width: 16rem;
    content: var(--logo-republique-francaise-anssi);
    margin-bottom: 10mm;
}

.logo-mac {
    width: 40rem;
    content: var(--logo-mac);
    padding-bottom: 20mm;
}

.illustration-dialogue-mac {
    margin: auto;
    width: 48rem;
    justify-content: center;
    align-content: center;
    content: var(--illustration-dialogue-mac);
    padding-bottom: 20mm;
}

.piedpage {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 15mm;
  margin-right: 15mm;
    margin-bottom: 10mm;
  font-size: 10px;
}

.piedpage .mac {
  color: var(--couleurs-mac-gris);
  font-weight: bold;
    opacity: 0.7;
}

.piedpage .identifiant {
    color: var(--couleurs-mac-gris);
    opacity: 0.5;
}

.piedpage .pagination {
  display: flex;
    opacity: 0.7;
}

:is(.piedpage .pagenumber, .piedpage .totalpages) {
  margin-left: 1px;
  margin-right: 1px;
}
