div
    | La console d’administration est le centre névralgique de la connexion Wi-fi, il convient ainsi de limiter les
    | possibilités d’accès à celle-ci, notamment à distance et/ou depuis un accès visiteur ou utilisateur.
