div
    | Il est préconisé de mettre en œuvre les mesures complémentaires suivantes :
    ul
        li Pour les risques de fraude et FOVI, mise en place d’outils et de mécanisme de sécurisation des transactions
            | bancaires pour les postes de travail des utilisateurs réalisant des paiements
        li Pour les risques de vols de données et d’espionnage industriel : chiffrement des postes de travail et terminaux
            | nomades tout en s’assurant l’accès aux terminaux chiffrés requiert un mot de passe au démarrage
            | (clef de déchiffrement / déverrouillage) et que ce mot de passe soit suffisamment complexe(à minima 12 caractères)
