div
    | Quel que soit le support utilisé pour le jeu de sauvegarde « hors-ligne, des tests réguliers de restauration doivent
    | être menés, à minima une fois par semestre. En vérifiant, qu’après la restauration que l’intégrité des données à
    | protéger en priorité est bien conforme. Il est conseillé de s’appuyer sur un prestataire labellisé Expert Cyber
    | pour mettre en œuvre cette recommandation.
