div
    | En cas de compromission du système d’information, les dispositifs de sauvegarde permettent une restauration plus
    | rapide des activités opérationnelles, notamment en cas d’attaque par rançongiciel.
