div
    | Tout d’abord, il convient de s’appuyer sur la liste des systèmes et applications utilisées par l’entité qui sont
    | interconnectés à internet. Sur cette base d’information des suivis ponctuels peuvent être menés en prenant
    | connaissance des vulnérabilités et des bulletins de menace publiées par le CERT-FR
    |
    a(href="https://www.cert.ssi.gouv.fr/") https://www.cert.ssi.gouv.fr
