
.fr-accordion {
  .fr-accordion__btn {
    color: var(--couleurs-mac-violet-fonce);

    &:not(:disabled):hover {
      background-color: var(--couleurs-mac-violet-pale);
    }

    &[aria-expanded=true] {
      background-color: transparent;
    }
  }
}