name: Node.js CI
permissions: {}

on:
  pull_request:
  push:
    branches: [main]

env:
  URL_SERVEUR_BASE_DONNEES: postgres://postgres@localhost:5433
  URL_JOURNALISATION_BASE_DONNEES: postgres://postgres@localhost:5433

jobs:
  tests:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:13-alpine
        env:
          POSTGRES_HOST_AUTH_METHOD: trust
        ports:
          - 5433:5432

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Configurer Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
      - name: Installe pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.26.0
      - name: (TOUS) Installe les dépendances
        run: pnpm install --frozen-lockfile
      - name: Vérifie le prettier du front
        run: pnpm -F mon-aide-cyber-ui run format:verifie
      - name: Construis le back
        run: pnpm -F mon-aide-cyber-api run build
      - name: Construis le front
        run: pnpm -F mon-aide-cyber-ui run build
      - name: Initialise l’environnement de test avec le service Postgres
        run: pnpm -F mon-aide-cyber-api run ci:initialise
      - name: Exécute les tests
        run: pnpm run test

      - name: Rapport des tests
        uses: dorny/test-reporter@v2
        if: ${{ !cancelled() }} # On force l'exécution même si l'étape précédente a échoué
        with:
          name: Tests vitest
          path: mon-aide-cyber-api/vitest-junit.xml,mon-aide-cyber-ui/vitest-junit.xml
          reporter: jest-junit
