name: Node.js CI
permissions: {}

on:
  pull_request:
  push:
    branches: [main]

env:
  URL_SERVEUR_BASE_DONNEES: postgres://postgres@localhost:5433
  URL_JOURNALISATION_BASE_DONNEES: postgres://postgres@localhost:5433

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x]

    services:
      postgres:
        image: postgres:13-alpine
        env:
          POSTGRES_HOST_AUTH_METHOD: trust
        ports:
          - 5433:5432

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Installe Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm ci
      - run: npm run build --workspaces
      - run: npm run ci:initialise -w mon-aide-cyber-api
      - run: npm run format:verifie
      - run: npm test
